<template>
    <div v-loading="loadingdetail">
        <el-row>
            <div class="pull-left">
                <h3>{{detail.name}}</h3>
            </div>

        </el-row>
        <el-row :gutter="20">
            <el-col :xs="24" :sm="12" :md="8">
                <el-card class="box-card">
                    <div slot="header" class="clearfix">
                        <span>{{$t('global.information')}}</span>
                        <div class="pull-right">
                            <router-link :to="'/promoter/edit/'+detail.id_promoter">
                                <el-button type="primary" size="mini">
                                    <i class="el-icon-edit"></i>
                                </el-button>
                            </router-link>
                        </div>
                    </div>
                    <div class="text item">
                        <svg-icon icon-class="identity" />{{detail.name}}
                    </div>
                    <div class="text item">
                        <svg-icon icon-class="telephone" />{{detail.contact}}
                    </div>
                    <div class="text item">
                        <svg-icon icon-class="email" />{{detail.email}}
                    </div>
                </el-card>
            </el-col>
            <el-col :xs="24" :sm="12" :md="8">
                <el-card class="box-card">
                    <div slot="header" class="clearfix">
                        <span>{{$t('global.location')}}</span>
                    </div>
                    <div class="text item">
                        <GmapMap :center="center" :zoom="6" :options="{disableDefaultUI:true}" style="width: 100%; height: 200px">
                            <GmapMarker v-if="place" :position="place" :draggable="false"></GmapMarker>
                        </GmapMap>
                    </div>
                    <div class="text item">
                        <svg-icon icon-class="marker" /><span> {{detail.address}}</span>
                    </div>
                </el-card>
            </el-col>
            <el-col :xs="24" :sm="12" :md="8">
                <el-card class="box-card">
                    <div slot="header" class="clearfix">
                        <span>{{$t('global.username')}}</span>
                        <div class="pull-right">
                            <router-link :to="'/user/edit/'+detail.id_user" v-if="detail.id_user">
                                <el-button type="primary" size="mini">
                                    <i class="el-icon-edit"></i>
                                </el-button>
                            </router-link>
                        </div>
                    </div>
                    <div class="text item">
                        <svg-icon icon-class="identity" />{{detail.username}}
                    </div>
                    <div class="text item">
                        <svg-icon icon-class="email" />{{detail.useremail}}
                    </div>
                </el-card>
            </el-col>
        </el-row>
    </div>
</template>

<script>
import { fetchPromoterAll } from '@/api/promoter'
export default {
  name: 'view-detail',
  data() {
    return {
      detail: { name: '' },
      place: undefined,
      center: { lat: 40.6698914, lng: -7.9655772 },
      loadingdetail: true
    }
  },
  created() {
    const id = this.$route.params && this.$route.params.id
    if (id) {
      this.getList(id)
    } else {
      this.$router.push({ path: '/404', replace: true, query: { noGoBack: true }})
    }
  },
  methods: {
    getList(id) {
      this.loadingdetail = true
      fetchPromoterAll(id).then(response => {
        if (response.status === 200) {
          this.detail = response.data.data
          if (response.data.data.latitude !== '') this.place = this.center = { lat: Number.parseFloat(response.data.data.latitude), lng: Number.parseFloat(response.data.data.longitude) }
          this.loadingdetail = false
        }
      })
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "src/styles/mixin.scss";
.pull-left{
  float: left;
}
.pull-right {
  float: right;
}
 h2 {
    color: #595959;
  }
  h3 {
    color: #737373;
    margin-top: 0px;
  }
  .text {
    font-size: 16px;
  }
  .item {
    margin-bottom: 18px;
    .svg-icon {
      margin-right: 5px;
      vertical-align: top;
    }
  }
  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both
  }

  .box-card {
    width: 100%;
  }
@media only screen and (max-width:768px) {
  .box-card {
    margin-top: 10px;
  }
}
@media only screen and (min-width: 768px) {
.box-card {
  min-height: 355px;
}
}
</style>
