<template>
    <div class="background-container">
        <div class="content-container" v-loading="contentLoad">
            <h2 v-if="this.isEdit">{{$t('schedule.titleEdit')}} {{postForm.name}}</h2>
            <h2 v-else>{{$t('schedule.titleCreate')}}</h2>
            <el-form :model="postForm" :rules="rules" ref="postForm">
                <el-form-item :label="$t('route.Stage')" prop="stage">
                    <el-select class="custom-select" v-model="postForm.stage" filterable remote :placeholder="$t('global.search')" :loading="stageloading" :remote-method="getRemoteStageList">
                        <el-option v-for="(item) in stageListOptions" :key="item.id_stage" :label="item.name" :value="item.id_stage">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item :label="$t('global.type')" prop="type">
                    <el-select class="custom-select" v-model="postForm.type" :placeholder="$t('global.select')" style="width:100%" prop="type">
                        <el-option v-for="item in typeOptions" :key="item.key" :label="item.display_name" :value="item.key">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item :label="$t('global.name')" prop="name">
                    <el-input v-model="postForm.name"></el-input>
                </el-form-item>
                <el-form-item :label="$t('route.Artist')">
                    <el-select class="custom-select" v-model="postForm.artist" filterable remote :placeholder="$t('global.search')" :loading="artistloading" :remote-method="getRemoteArtistList">
                        <el-option v-for="(item) in artistListOptions" :key="item.id_artist" :label="item.name" :value="item.id_artist">
                        </el-option>
                    </el-select>
                    <div class="custom-select-actions">
                        <el-button @click="newartist" type="primary"><i class="el-icon-plus el-icon-right"></i></el-button>
                    </div>
                </el-form-item>
                <el-form-item :label="$t('global.dateRange')">
                    <el-date-picker v-model="postForm.daterange" format="yyyy-MM-dd HH:mm" value-format="yyyy-MM-dd HH:mm" type="datetimerange" range-separator="-" :start-placeholder="$t('global.dateStart')" :end-placeholder="$t('global.dateEnd')" style="width:100%">
                    </el-date-picker>
                </el-form-item>
                <div v-if="postForm.type === '2'">
                    <el-row :gutter="10">
                        <el-col :span="12">
                            <el-form-item :label="$t('schedule.setup')">
                                <el-input-number v-model="postForm.setuptime" controls-position="right" style="width:100%" @change="handleSetUpChange" :min="0" :max="300"></el-input-number>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item :label="$t('schedule.arrival')">
                                <el-input v-model="postForm.setup" :disabled="true" style="width:100%"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </div>
                <div v-if="postForm.type === '3'">
                    <el-row>
                        <el-form-item :label="$t('route.Hotel')">
                            <el-select class="custom-select" v-model="postForm.hotel" filterable remote :placeholder="$t('global.search')" :loading="hotelloading" :remote-method="getRemoteHotelList">
                                <el-option v-for="(item) in hotelListOptions" :key="item.id_hotel" :label="item.name" :value="item.id_hotel">
                                </el-option>
                            </el-select>
                            <div class="custom-select-actions">
                                <el-button @click="newhotel" type="primary"><i class="el-icon-plus el-icon-right"></i></el-button>
                            </div>
                        </el-form-item>
                    </el-row>
                    <el-row :gutter="10">
                        <el-col :span="8">
                            <el-form-item :label="$t('hotel.single')">
                                <el-input-number v-model="postForm.hotelsingle" controls-position="right" style="width:100%" :min="0" :max="300"></el-input-number>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item :label="$t('hotel.double')">
                                <el-input-number v-model="postForm.hoteldouble" controls-position="right" style="width:100%" :min="0" :max="300"></el-input-number>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item :label="$t('hotel.twin')">
                                <el-input-number v-model="postForm.hoteltwin" controls-position="right" style="width:100%" :min="0" :max="300"></el-input-number>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-form-item :label="$t('global.comment')">
                            <el-input v-model="postForm.hotelcomment" type="textarea" autosize></el-input>
                        </el-form-item>
                    </el-row>
                </div>
                <div v-if="postForm.type === '4'">
                    <el-form-item :label="$t('route.Restaurant')">
                        <el-select class="custom-select" v-model="postForm.restaurant" filterable remote :placeholder="$t('global.search')" :loading="restaurantloading" :remote-method="getRemoteRestaurantList">
                            <el-option v-for="(item) in restaurantListOptions" :key="item.id_restaurant" :label="item.name" :value="item.id_restaurant">
                            </el-option>
                        </el-select>
                        <div class="custom-select-actions">
                            <el-button @click="newrestaurant" type="primary"><i class="el-icon-plus el-icon-right"></i></el-button>
                        </div>
                    </el-form-item>
                    <el-form-item :label="$t('global.comment')">
                        <el-input v-model="postForm.restaurantcomment" type="textarea" autosize></el-input>
                    </el-form-item>
                </div>
                <div v-if="postForm.type === '5'">
                    <el-form-item :label="$t('global.comment')">
                        <el-input v-model="postForm.othercomment" type="textarea" autosize></el-input>
                    </el-form-item>
                </div>
            </el-form>
            <div slot="footer" class="pull-right">
                <el-button tabindex="-1" @click="resetForm">{{$t('global.reset')}}</el-button>
                <el-button type="success" @click="submitForm" v-loading="loadingtemp">{{$t('global.submit')}}</el-button>
            </div>
        </div>
    </div>
</template>

<script>
import { createSchedule, updateSchedule, deleteSchedule, fetchSchedule } from '@/api/schedule'
import { createSchedulehotel, updateSchedulehotel, deleteSchedulehotel, fetchSchedulehotel } from '@/api/schedulehotel'
import { createSchedulerestaurant, updateSchedulerestaurant, deleteSchedulerestaurant, fetchSchedulerestaurant } from '@/api/schedulerestaurant'
import { createSchedulesetup, updateSchedulesetup, deleteSchedulesetup, fetchSchedulesetup } from '@/api/schedulesetup'
import { createScheduleperformance, updateScheduleperformance, deleteScheduleperformance, fetchScheduleperformance } from '@/api/scheduleperformance'
import { searchArtist } from '@/api/artist'
import { searchHotel } from '@/api/hotel'
import { searchRestaurant } from '@/api/restaurant'
import { searchStage } from '@/api/stage'
import typeOptions from '@/api/scheduletype'

const defaultForm = {
  id: undefined,
  artist: undefined,
  name: '',
  type: '',
  setuptime: 0,
  daterange: ''
}

export default {
  name: 'Detail',
  components: { },
  props: {
    isEdit: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      postForm: Object.assign({}, defaultForm),
      oldtemp: undefined,
      loadingtemp: false,
      loading: false,
      contentLoad: true,
      stageloading: false,
      stageListOptions: [],
      artistloading: false,
      artistListOptions: [],
      hotelListOptions: [],
      hotelloading: false,
      restaurantListOptions: [],
      restaurantloading: false,
      typeOptions,
      rules: {
        stage: [{ required: true, message: this.$t('global.empty'), trigger: 'blur' }],
        name: [{ required: true, message: this.$t('global.empty'), trigger: 'blur' }],
        type: [{ required: true, message: this.$t('global.empty'), trigger: 'change' }],
        daterange: [{ required: true, message: this.$t('global.empty'), trigger: 'blur' }]
      }
    }
  },
  computed: { },
  created() {
    if (this.isEdit) {
      const id = this.$route.params && this.$route.params.id
      const type = this.$route.params && this.$route.params.type
      this.fetchData(id, type)
    } else {
      this.postForm = Object.assign({}, defaultForm)
      this.contentLoad = false
    }
  },
  activated() {
    if (this.isEdit) {
      const id = this.$route.params && this.$route.params.id
      const type = this.$route.params && this.$route.params.type
      this.fetchData(id, type)
    }
  },
  methods: {
    handleSetUpChange(value) {
      this.postForm.setup = this.$moment(this.postForm.daterange[0]).subtract(value, 'm').format('DD-MM-YYYY HH:mm')
    },
    createevent(type, data) {
      switch (type) {
        case '1':
          return new Promise(function(resolve, reject) {
            createScheduleperformance(data).then(response => {
              if (response.status === 201) {
                resolve(response.data)
              }
              reject(response)
            }).catch(err => {
              reject(err)
            })
          })
        case '2':
          data = Object.assign(data, { setup: this.postForm.setuptime })
          return new Promise(function(resolve, reject) {
            createSchedulesetup(data).then(response => {
              if (response.status === 201) {
                resolve(response.data)
              }
              reject(response)
            }).catch(err => {
              reject(err)
            })
          })
        case '3':
          data = Object.assign(data, { hotel: this.postForm.hotel, single: this.postForm.hotelsingle, double: this.postForm.hoteldouble, twin: this.postForm.hoteltwin, comment: this.postForm.hotelcomment })
          return new Promise(function(resolve, reject) {
            createSchedulehotel(data).then(response => {
              if (response.status === 201) {
                resolve(response.data)
              }
              reject(response)
            }).catch(err => {
              reject(err)
            })
          })
        case '4':
          data = Object.assign(data, { restaurant: this.postForm.restaurant, comment: this.postForm.restaurantcomment })
          return new Promise(function(resolve, reject) {
            createSchedulerestaurant(data).then(response => {
              if (response.status === 201) {
                resolve(response.data)
              }
              reject(response)
            }).catch(err => {
              reject(err)
            })
          })
        default:
          data = Object.assign(data, { comment: this.postForm.othercomment })
          return new Promise(function(resolve, reject) {
            createSchedule(data).then(response => {
              if (response.status === 201) {
                resolve(response.data)
              }
              reject(response)
            }).catch(err => {
              reject(err)
            })
          })
      }
    },
    deleteevent(type, data) {
      switch (type) {
        case '1':
          return new Promise(function(resolve, reject) {
            deleteScheduleperformance(data).then(response => {
              if (response.status === 204) {
                resolve(response.data)
              }
              reject(response)
            }).catch(err => {
              reject(err)
            })
          })
        case '2':
          return new Promise(function(resolve, reject) {
            deleteSchedulesetup(data).then(response => {
              if (response.status === 204) {
                resolve(response.data)
              }
              reject(response)
            }).catch(err => {
              reject(err)
            })
          })
        case '3':
          return new Promise(function(resolve, reject) {
            deleteSchedulehotel(data).then(response => {
              if (response.status === 204) {
                resolve(response.data)
              }
              reject(response)
            }).catch(err => {
              reject(err)
            })
          })
        case '4':
          return new Promise(function(resolve, reject) {
            deleteSchedulerestaurant(data).then(response => {
              if (response.status === 204) {
                resolve(response.data)
              }
              reject(response)
            }).catch(err => {
              reject(err)
            })
          })
        default:
          return new Promise(function(resolve, reject) {
            deleteSchedule(data).then(response => {
              if (response.status === 204) {
                resolve(response.data)
              }
              reject(response)
            }).catch(err => {
              reject(err)
            })
          })
      }
    },
    updateevent(old, data) {
      if (old.type !== data.type) { // remove old one
        const t = [
          this.deleteevent(old.type, old.id),
          this.createevent(data.type, data)
        ]
        return Promise.all(t)
      } else {
        switch (old.type) {
          case '1':
            return new Promise(function(resolve, reject) {
              updateScheduleperformance(data.id, data).then(response => {
                if (response.status === 200) {
                  resolve(response.data)
                }
                reject(response)
              }).catch(err => {
                reject(err)
              })
            })
          case '2':
            data = Object.assign(data, { setup: this.postForm.setuptime })
            return new Promise(function(resolve, reject) {
              updateSchedulesetup(data.id, data).then(response => {
                if (response.status === 200) {
                  resolve(response.data)
                }
                reject(response)
              }).catch(err => {
                reject(err)
              })
            })
          case '3':
            data = Object.assign(data, { hotel: this.postForm.hotel, single: this.postForm.hotelsingle, double: this.postForm.hoteldouble, twin: this.postForm.hoteltwin, comment: this.postForm.hotelcomment })
            return new Promise(function(resolve, reject) {
              updateSchedulehotel(data.id, data).then(response => {
                if (response.status === 200) {
                  resolve(response.data)
                }
                reject(response)
              }).catch(err => {
                reject(err)
              })
            })
          case '4':
            data = Object.assign(data, { restaurant: this.postForm.restaurant, comment: this.postForm.restaurantcomment })
            return new Promise(function(resolve, reject) {
              updateSchedulerestaurant(data.id, data).then(response => {
                if (response.status === 200) {
                  resolve(response.data)
                }
                reject(response)
              }).catch(err => {
                reject(err)
              })
            })
          default:
            data = Object.assign(data, { comment: this.postForm.othercomment })
            return new Promise(function(resolve, reject) {
              updateSchedule(data.id, data).then(response => {
                if (response.status === 200) {
                  resolve(response.data)
                }
                reject(response)
              }).catch(err => {
                reject(err)
              })
            })
        }
      }
    },
    fetchData(id, type) {
      switch (type) {
        case '1':
          fetchScheduleperformance(id).then(response => {
            if (response.status === 200) {
              this.postForm = {
                id: id,
                type: type,
                stage: response.data.data.id_stage,
                name: response.data.data.name,
                daterange: [response.data.data.date_begin, response.data.data.date_end],
                artist: response.data.data.id_artist
              }
              this.artistListOptions.push({ id_artist: response.data.data.artist.data.id_artist, name: response.data.data.artist.data.name })
              this.stageListOptions.push({ id_stage: response.data.data.stage.data.id_stage, name: response.data.data.stage.data.name })
            }
            this.contentLoad = false
          }).catch(err => {
            console.log(err)
          })
          break
        case '2':
          fetchSchedulesetup(id).then(response => {
            if (response.status === 200) {
              this.postForm = {
                id: id,
                type: type,
                stage: response.data.data.id_stage,
                name: response.data.data.name,
                daterange: [response.data.data.date_begin, response.data.data.date_end],
                artist: response.data.data.id_artist,
                setuptime: 0,
                setup: response.data.data.date_setup
              }
              this.artistListOptions.push({ id_artist: response.data.data.artist.data.id_artist, name: response.data.data.artist.data.name })
              this.stageListOptions.push({ id_stage: response.data.data.stage.data.id_stage, name: response.data.data.stage.data.name })
            }
            this.contentLoad = false
          }).catch(err => {
            console.log(err)
          })
          break
        case '3':
          fetchSchedulehotel(id).then(response => {
            if (response.status === 200) {
              this.postForm = {
                id: id,
                type: type,
                stage: response.data.data.id_stage,
                name: response.data.data.name,
                daterange: [response.data.data.date_begin, response.data.data.date_end],
                artist: response.data.data.id_artist,
                hotel: response.data.data.hotel ? response.data.data.hotel.id_hotel : null,
                hotelsingle: response.data.data.single,
                hoteldouble: response.data.data.double,
                hoteltwin: response.data.data.twin,
                hotelcomment: response.data.data.comment
              }
              if (response.data.data.hotel) this.hotelListOptions.push({ id_hotel: response.data.hotel.data.id_hotel, name: response.data.data.hotel.data.name })
              this.artistListOptions.push({ id_artist: response.data.data.artist.data.id_artist, name: response.data.data.artist.data.name })
              this.stageListOptions.push({ id_stage: response.data.data.stage.data.id_stage, name: response.data.data.stage.data.name })
            }
            this.contentLoad = false
          }).catch(err => {
            console.log(err)
          })
          break
        case '4':
          fetchSchedulerestaurant(id).then(response => {
            if (response.status === 200) {
              this.postForm = {
                id: id,
                type: type,
                stage: response.data.data.id_stage,
                name: response.data.data.name,
                daterange: [response.data.data.date_begin, response.data.data.date_end],
                artist: response.data.data.id_artist,
                restaurant: response.data.data.restaurant ? response.data.data.id_restaurant : null,
                restaurantcomment: response.data.data.comment
              }
              if (response.data.data.restaurant) this.restaurantListOptions.push({ id_restaurant: response.data.data.restaurant.data.id_restaurant, name: response.data.data.restaurant.data.name })
              this.artistListOptions.push({ id_artist: response.data.data.artist.data.id_artist, name: response.data.data.artist.data.name })
              this.stageListOptions.push({ id_stage: response.data.data.stage.data.id_stage, name: response.data.data.stage.data.name })
            }
            this.contentLoad = false
          }).catch(err => {
            console.log(err)
          })
          break
        case '5':
          fetchSchedule(id).then(response => {
            if (response.status === 200) {
              this.postForm = {
                id: id,
                type: type,
                stage: response.data.data.id_stage,
                name: response.data.data.name,
                daterange: [response.data.data.date_begin, response.data.data.date_end],
                artist: response.data.data.id_artist,
                othercomment: response.data.data.comment
              }
              this.artistListOptions.push({ id_artist: response.data.data.artist.data.id_artist, name: response.data.data.artist.data.name })
              this.stageListOptions.push({ id_stage: response.data.data.stage.data.id_stage, name: response.data.data.stage.data.name })
            }
            this.contentLoad = false
          }).catch(err => {
            console.log(err)
          })
          break
      }
      this.oldtemp = {
        id: id,
        type: type
      }
    },
    submitForm() {
      this.$refs.postForm.validate((valid) => {
        if (valid) {
          if (this.isEdit) {
            this.loadingtemp = true
            const data = {
              id: this.postForm.id,
              name: this.postForm.name,
              startdate: this.postForm.daterange[0],
              enddate: this.postForm.daterange[1],
              artist: this.postForm.artist,
              stage: this.postForm.stage,
              type: this.postForm.type
            }
            this.updateevent(this.oldtemp, data).then(response => {
              this.$notify({
                title: 'Success',
                message: 'Updated successfully',
                type: 'success',
                duration: 2000
              })
            }).catch(err => {
              console.log(err)
              this.$notify({
                title: 'Error',
                message: err.message,
                type: 'error',
                duration: 2000
              })
            }).finally(() => {
              this.loadingtemp = false
            })
          } else {
            this.loadingtemp = true
            const data = {
              name: this.postForm.name,
              startdate: this.postForm.daterange[0],
              enddate: this.postForm.daterange[1],
              artist: this.postForm.artist,
              stage: this.postForm.stage
            }
            this.createevent(this.postForm.type, data).then(resolve => {
              this.$notify({
                title: 'Success',
                message: 'Created successfully',
                type: 'success',
                duration: 2000
              })
              this.$router.push({ name: 'listSchedule', replace: true })
            }).catch(reject => {
              console.log(reject)
              this.$notify({
                title: 'Error',
                message: reject.message,
                type: 'error',
                duration: 2000
              })
            }).finally(() => {
              this.loadingtemp = false
            })
          }
        }
      })
    },
    getRemoteStageList(query) {
      this.stageloading = true
      if (query !== '') {
        searchStage({ name: query }).then(response => {
          if (response.data.length === 0) return
          this.stageListOptions = response.data.stages
        }).finally(() => {
          this.stageloading = false
        })
      }
    },
    getRemoteArtistList(query) {
      this.artistloading = true
      if (query !== '') {
        searchArtist({ name: query }).then(response => {
          if (response.data.length === 0) return
          this.artistListOptions = response.data.artists
        }).finally(() => {
          this.artistloading = false
        })
      }
    },
    getRemoteHotelList(query) {
      this.hotelloading = true
      if (query !== '') {
        searchHotel({ name: query }).then(response => {
          if (response.data.length === 0) return
          this.hotelListOptions = response.data.hotels
        }).finally(() => {
          this.hotelloading = false
        })
      }
    },
    getRemoteRestaurantList(query) {
      this.restaurantloading = true
      if (query !== '') {
        searchRestaurant({ name: query }).then(response => {
          if (response.data.length === 0) return
          this.restaurantListOptions = response.data.restaurants
        }).finally(() => {
          this.restaurantloading = false
        })
      }
    },
    newartist() {
      this.$router.push({ name: 'createArtist' })
    },
    newrestaurant() {
      this.$router.push({ name: 'createRestaurant' })
    },
    newhotel() {
      this.$router.push({ name: 'createHotel' })
    },
    resetForm() {
      this.$refs.postForm.resetFields()
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "src/styles/mixin.scss";
.background-container {
  padding: 15px 35px 20px 35px;
  h2 {
    color: #595959;
  }
  .pull-right{
    float: right;
  }
  .content-container{
    padding: 5px 20px 50px 20px;
    background-color: #fff;
    border-color: rgba(0,0,0,.05);
    box-shadow: 4px 4px 40px rgba(0,0,0,.05)
  }
  .custom-select {
    width: 100%;
  }
  .custom-select-actions {
    :not(:first-child) {
      margin-left: -3px;
    }
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .listoptions {
    list-style-type: none;
    padding-left: 10px;
  }
  .listitemoptions {
    border-radius: 5px;
    padding: 0.15em 4px;
    margin-top: 3px;
  }
}
</style>
