<template>
    <div v-loading="contentLoad">
        <el-row>
            <div class="pull-left">
         <h3>{{detail.name}}</h3>
         </div>
        </el-row>
        <el-row :gutter="20">
            <el-col :xs="24" :sm="12" >
                <el-card class="box-card">
                    <div slot="header" class="clearfix">
                        <span>{{$t('global.information')}}</span>
                        <div class="pull-right">
          <router-link :to="'/schedule/'+detail.type+'/edit/'+detail.id">
            <el-button type="primary" size="mini"><i class="el-icon-edit"></i></el-button>
          </router-link>
         </div>
                    </div>
                    <div class="text item">
                        <svg-icon icon-class="identity" />{{ typeOptions[detail.type] }}
                    </div>
                    <div class="text item">
                        <svg-icon icon-class="identity" />{{detail.name}}
                    </div>
                    <div class="text item">
                        <svg-icon icon-class="telephone" />{{detail.contact}}
                    </div>
                    <div class="text item">
                        <svg-icon icon-class="email" />{{detail.email}}
                    </div>
                </el-card>
            </el-col>
            <el-col :xs="24" :sm="12" >
                <el-card class="box-card">
                    <div slot="header" class="clearfix">
                        <span>{{$t('global.username')}}</span>
                         <div class="pull-right">
                      <router-link v-if="detail.user" :to="'/user/edit/'+detail.user.data.id">
                        <el-button type="primary" size="mini"><i class="el-icon-edit"></i></el-button>
                      </router-link>
                    </div>
                    </div>
                    <div class="text item">
                        <svg-icon icon-class="identity" /><span v-if="detail.user">{{detail.user.data.name}}</span>
                    </div>
                    <div class="text item">
                        <svg-icon icon-class="email" /><span v-if="detail.user">{{detail.user.data.email}}</span>
                    </div>
                </el-card>
            </el-col>
        </el-row>
    </div>

</template>

<script>
import { fetchSchedule } from '@/api/schedule'
import { fetchSchedulehotel } from '@/api/schedulehotel'
import { fetchSchedulerestaurant } from '@/api/schedulerestaurant'
import { fetchSchedulesetup } from '@/api/schedulesetup'
import { fetchScheduleperformance } from '@/api/scheduleperformance'
import typeOptions from '@/api/scheduletype'

export default {
  name: 'view-detail',
  data() {
    return {
      detail: { },
      typeOptions,
      contentLoad: true,
      stageListOptions: [],
      artistListOptions: [],
      hotelListOptions: [],
      restaurantListOptions: []
    }
  },
  created() {
    const id = this.$route.params && this.$route.params.id
    const type = this.$route.params && this.$route.params.type
    if (id) {
      this.getList(id, type)
    } else {
      this.$router.push({ path: '/404', replace: true, query: { noGoBack: true }})
    }
  },
  methods: {
    fetchData(id, type) {
      this.contentLoad = true
      switch (type) {
        case '1':
          fetchScheduleperformance(id).then(response => {
            if (response.status === 200) {
              this.detail = {
                id: id,
                type: type,
                stage: response.data.data.id_stage,
                name: response.data.data.name,
                daterange: [response.data.data.date_begin, response.data.data.date_end],
                artist: response.data.data.id_artist,
                artistame: response.data.data.artist.data.name,
                stagename: response.data.data.stage.data.name
              }
            }
            this.contentLoad = false
          }).catch(err => {
            console.log(err)
          })
          break
        case '2':
          fetchSchedulesetup(id).then(response => {
            if (response.status === 200) {
              this.detail = {
                id: id,
                type: type,
                stage: response.data.data.id_stage,
                name: response.data.data.name,
                daterange: [response.data.data.date_begin, response.data.data.date_end],
                artist: response.data.data.id_artist,
                setuptime: 0,
                setup: response.data.data.date_setup
              }
              this.artistListOptions.push({ id_artist: response.data.data.artist.data.id_artist, name: response.data.data.artist.data.name })
              this.stageListOptions.push({ id_stage: response.data.data.stage.data.id_stage, name: response.data.data.stage.data.name })
            }
            this.contentLoad = false
          }).catch(err => {
            console.log(err)
          })
          break
        case '3':
          fetchSchedulehotel(id).then(response => {
            if (response.status === 200) {
              this.detail = {
                id: id,
                type: type,
                stage: response.data.data.id_stage,
                name: response.data.data.name,
                daterange: [response.data.data.date_begin, response.data.data.date_end],
                artist: response.data.data.id_artist,
                hotel: response.data.data.hotel ? response.data.data.hotel.id_hotel : null,
                hotelsingle: response.data.data.single,
                hoteldouble: response.data.data.double,
                hoteltwin: response.data.data.twin,
                hotelcomment: response.data.data.comment
              }
              if (response.data.data.hotel) this.hotelListOptions.push({ id_hotel: response.data.hotel.data.id_hotel, name: response.data.data.hotel.data.name })
              this.artistListOptions.push({ id_artist: response.data.data.artist.data.id_artist, name: response.data.data.artist.data.name })
              this.stageListOptions.push({ id_stage: response.data.data.stage.data.id_stage, name: response.data.data.stage.data.name })
            }
            this.contentLoad = false
          }).catch(err => {
            console.log(err)
          })
          break
        case '4':
          fetchSchedulerestaurant(id).then(response => {
            if (response.status === 200) {
              this.detail = {
                id: id,
                type: type,
                stage: response.data.data.id_stage,
                name: response.data.data.name,
                daterange: [response.data.data.date_begin, response.data.data.date_end],
                artist: response.data.data.id_artist,
                restaurant: response.data.data.restaurant ? response.data.data.id_restaurant : null,
                restaurantcomment: response.data.data.comment
              }
              if (response.data.data.restaurant) this.restaurantListOptions.push({ id_restaurant: response.data.data.restaurant.data.id_restaurant, name: response.data.data.restaurant.data.name })
              this.artistListOptions.push({ id_artist: response.data.data.artist.data.id_artist, name: response.data.data.artist.data.name })
              this.stageListOptions.push({ id_stage: response.data.data.stage.data.id_stage, name: response.data.data.stage.data.name })
            }
            this.contentLoad = false
          }).catch(err => {
            console.log(err)
          })
          break
        case '5':
          fetchSchedule(id).then(response => {
            if (response.status === 200) {
              this.detail = {
                id: id,
                type: type,
                stage: response.data.data.id_stage,
                name: response.data.data.name,
                daterange: [response.data.data.date_begin, response.data.data.date_end],
                artist: response.data.data.id_artist,
                othercomment: response.data.data.comment
              }
              this.artistListOptions.push({ id_artist: response.data.data.artist.data.id_artist, name: response.data.data.artist.data.name })
              this.stageListOptions.push({ id_stage: response.data.data.stage.data.id_stage, name: response.data.data.stage.data.name })
            }
            this.contentLoad = false
          }).catch(err => {
            console.log(err)
          })
          break
      }
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "src/styles/mixin.scss";
.pull-left{
  float: left;
}
.pull-right {
  float: right;
}
 h2 {
    color: #595959;
  }
  h3 {
    color: #737373;
    margin-top: 0px;
  }
  .text {
    font-size: 16px;
  }
  .item {
    margin-bottom: 18px;
    .svg-icon {
      margin-right: 5px;
      vertical-align: top;
    }
  }
  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both
  }

  .box-card {
    width: 100%;
  }
@media only screen and (max-width:768px) {
  .box-card {
    margin-top: 10px;
  }
}
@media only screen and (min-width: 768px) {
.box-card {
  min-height: 150px;
}
}
</style>