<template>
    <div class="background-container" >
        <div class="content-container" v-loading="contentLoad">
         <h2 v-if="this.isEdit">{{$t('promoter.titleEdit')}} </h2>
          <h2 v-else>{{$t('promoter.titleCreate')}}</h2>
            <el-form :model="postForm" :rules="rules" ref="postForm">
                    <el-form-item :label="$t('global.name')" prop="name">
                        <el-input v-model="postForm.name" required></el-input>
                    </el-form-item>
                    <el-form-item :label="$t('global.email')" prop="email">
                        <el-input v-model="postForm.email" required></el-input>
                    </el-form-item>
                    <el-form-item :label="$t('global.contact')" prop="contact">
                        <el-input v-model="postForm.contact"></el-input>
                    </el-form-item>
                    <el-form-item :label="$t('global.address')" prop="address">
                      <el-input v-model="postForm.address"></el-input>
                    </el-form-item>
                     <el-row><label class="el-form-item__label">{{$t('global.map')}}</label></el-row>
                    <el-form-item label="Location" >
                    <Gmap-autocomplete :value="searchaddress" class="el-input__inner searchmap"
                      @place_changed="setPlace">
                    </Gmap-autocomplete>
                     <GmapMap :center="center" :zoom="12" style="width: 100%; height: 300px">
                      <GmapMarker v-if="place" :position="place" :draggable="true" @dragend="updateplace"></GmapMarker>
                    </GmapMap>
                    </el-form-item>
      <el-row>
        <el-row><label class="el-form-item__label">{{$t('user.create')}}</label></el-row>
          <el-form-item>
          <el-radio-group v-model="postForm.usercreate" @change="setDefaults" >
          <el-radio :label="true" >{{$t('answer.yes')}}</el-radio>
          <el-radio :label="false">{{$t('answer.no')}}</el-radio>
        </el-radio-group>
        </el-form-item>
    </el-row>
  <el-row v-if="postForm.usercreate">
      <FormUser :dataForm="postForm"></FormUser>
  </el-row>
   <el-form-item class="pull-right">
                  <el-button v-loading="loading" type="success" @click="submitForm">{{$t('global.submit')}}</el-button>
                </el-form-item>
        </el-form>
    </div>
    </div>
</template>

<script>
import { fetchPromoter, createPromoter, updatePromoter } from '@/api/promoter'
import { validateEmail } from '@/utils/validate'
import FormUser from '@/views/user/components/FormUser'

const defaultForm = {
  name: '',
  address: '',
  email: '',
  contact: '',
  id: undefined,
  userrole: 'promoter',
  usercreate: true,
  useractive: '1'
}

export default {
  name: 'Detail',
  components: { FormUser },
  props: {
    isEdit: {
      type: Boolean,
      default: false
    },
    isModal: {
      type: Boolean,
      default: false
    }
  },
  data() {
    const validateemail = (rule, value, callback) => {
      if (!validateEmail(value)) {
        callback(new Error(this.$t('error.email')))
      } else {
        callback()
      }
    }
    const validateuseremail = (rule, value, callback) => {
      if (this.postForm.usercreate && !validateEmail(value)) {
        callback(new Error(this.$t('error.email')))
      } else {
        callback()
      }
    }
    return {
      postForm: Object.assign({}, defaultForm),
      loading: false,
      contentLoad: true,
      searchaddress: '',
      place: undefined,
      center: { lat: 40.6698914, lng: -7.9655772 },
      rules: {
        name: [{ required: true, message: this.$t('global.empty'), trigger: 'blur' }],
        email: [{ required: true, validator: validateemail, trigger: 'blur' }],
        useremail: [{ required: true, validator: validateuseremail, trigger: 'blur' }],
        username: [{ required: true, trigger: 'blur' }]
      }
    }
  },
  computed: { },
  created() {
    if (this.isEdit) {
      const id = this.$route.params && this.$route.params.id
      this.fetchData(id)
    } else {
      this.postForm = Object.assign({}, defaultForm)
      this.contentLoad = false
    }
  },
  methods: {
    fetchData(id) {
      fetchPromoter(id).then(response => {
        if (response.status === 200 && response.data.data.id_promoter) {
          this.postForm = {
            name: response.data.data.name,
            email: response.data.data.email,
            contact: response.data.data.contact,
            id: response.data.data.id_promoter,
            address: response.data.data.address,
            usercreate: Boolean(response.data.data.id_user),
            useremail: undefined,
            userrole: 'promoter',
            username: undefined,
            active: '1'
          }
          this.place = { lat: Number.parseFloat(response.data.data.latitude), lng: Number.parseFloat(response.data.data.longitude) }
          this.center = { lat: Number.parseFloat(response.data.data.latitude), lng: Number.parseFloat(response.data.data.longitude) }
          this.contentLoad = false
        }
      }).catch(err => {
        if (err.response.status === 404) {
          this.$router.push({ path: '/404', replace: true, query: { noGoBack: true }})
        }
      })
    },
    submitForm() {
      this.$refs.postForm.validate(valid => {
        if (valid) {
          this.loading = true
          const data = {
            name: this.postForm.name,
            email: this.postForm.email,
            contact: this.postForm.contact,
            address: this.postForm.address,
            lat: (this.place) ? this.place.lat : '',
            lng: (this.place) ? this.place.lng : '',
            usercreate: this.postForm.usercreate,
            useremail: this.postForm.useremail,
            userrole: this.postForm.userrole,
            username: this.postForm.username,
            active: this.postForm.useractive
          }
          if (this.isEdit) {
            updatePromoter(this.postForm.id, data).then(response => {
              if (response.status === 200) {
                this.$notify({
                  title: 'Success',
                  message: 'Updated',
                  type: 'success',
                  duration: 2000
                })
              }
            }).catch(err => {
              console.log(err)
            }).finally(fin => {
              this.loading = false
            })
          } else {
            createPromoter(data).then(response => {
              if (response.status === 201 && response.data.data.id_promoter) {
                this.$notify({
                  title: 'Success',
                  message: 'Created',
                  type: 'success',
                  duration: 2000
                })
                this.resetForm()
                if (this.isModal) {
                  this.$emit('open-modal', false)
                }
              }
            }).catch(err => {
              console.log(err)
            }).finally(fin => {
              this.loading = false
            })
          }
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    updateplace(event) {
      this.place = { lat: event.latLng.lat(), lng: event.latLng.lng() }
    },
    setPlace(place) {
      const pos = { lat: place.geometry.location.lat(), lng: place.geometry.location.lng() }
      this.place = pos
      this.center = pos
    },
    resetForm() {
      this.$refs.postForm.resetFields()
    },
    setDefaults() {
      if (this.postForm.usercreate) {
        this.postForm.userrole = 'promoter'
        this.postForm.usercreate = true
        this.postForm.useractive = '1'
      }
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "src/styles/mixin.scss";
.background-container {
  h2 {
    color: #595959;
  }
  .pull-right{
    float: right;
  }
  .content-container{
    padding: 5px 20px 50px 20px;
    background-color: #fff;
    border-color: rgba(0,0,0,.05);
    box-shadow: 4px 4px 40px rgba(0,0,0,.05)
  }
  .searchmap {
    position: absolute;
    z-index: 1;
    margin-left: 200px;
    margin-top: 10px;
    max-width: 50%;
  }
  .steps-action {
    width: 100%;
  }
  .custom-select {
    width: 100%;
  }
  .custom-select-actions {
    :not(:first-child) {
      margin-left: -3px;
    }
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
</style>
