<template>
<div class="background-container">
        <div class="content-container" >
            <h2 v-if="this.isEdit">{{$t('restaurant.titleEdit')}} {{postForm.name}}</h2>
            <h2 v-else>{{$t('restaurant.titleCreate')}}</h2>
        <el-form :model="postForm" :rules="rules" ref="postForm">

                    <el-form-item :label="$t('global.name')" prop="name">
                        <el-input v-model="postForm.name" required></el-input>
                    </el-form-item>
                     <el-form-item :label="$t('global.contact')" prop="contact">
                        <el-input v-model="postForm.contact"></el-input>
                    </el-form-item>
                     <el-form-item :label="$t('global.website')" prop="website">
                        <el-input v-model="postForm.website"></el-input>
                    </el-form-item>
    
                    <el-form-item :label="$t('global.address')" prop="address">
                      <el-input v-model="postForm.address"></el-input>
                    </el-form-item>
                    <el-row><label class="el-form-item__label">{{$t('global.map')}}</label></el-row>
                    <el-form-item label="Location" >
                    <Gmap-autocomplete :value="searchaddress" class="el-input__inner searchmap"
                      @place_changed="setPlace">
                    </Gmap-autocomplete>
                     <GmapMap :center="center" :zoom="12" style="width: 100%; height: 300px">
                      <GmapMarker v-if="place" :position="place" :draggable="true" @dragend="updateplace"></GmapMarker>
                    </GmapMap>
                    </el-form-item>
                <el-form-item class="pull-right">
                  <el-button v-loading="loading" type="success" @click="submitForm">{{$t('global.submit')}}</el-button>
                </el-form-item>
    
        </el-form>
        </div>
    </div>
</template>

<script>
import { fetchRestaurant, createRestaurant, updateRestaurant } from '@/api/restaurant'

const defaultForm = {
  name: '',
  address: '',
  website: '',
  id: undefined
}

export default {
  name: 'Detail',
  components: { },
  props: {
    isEdit: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      postForm: Object.assign({}, defaultForm),
      loading: false,
      contentLoad: true,
      searchaddress: '',
      place: { lat: 40.6698914, lng: -7.9655772 },
      center: { lat: 40.6698914, lng: -7.9655772 },
      rules: {
        name: [{ required: true, message: this.$t('global.empty'), trigger: 'blur' }]
      }
    }
  },
  computed: { },
  created() {
    if (this.isEdit) {
      const id = this.$route.params && this.$route.params.id
      this.fetchData(id)
    } else {
      this.postForm = Object.assign({}, defaultForm)
      this.contentLoad = false
    }
  },
  methods: {
    fetchData(id) {
      fetchRestaurant(id).then(response => {
        if (response.status === 200 && response.data.data.id_restaurant) {
          this.postForm = {
            name: response.data.data.name,
            id: response.data.data.id_restaurant,
            address: response.data.data.address,
            contact: response.data.data.contact,
            website: response.data.data.website
          }
          this.place = { lat: Number.parseFloat(response.data.data.latitude), lng: Number.parseFloat(response.data.data.longitude) }
          this.center = { lat: Number.parseFloat(response.data.data.latitude), lng: Number.parseFloat(response.data.data.longitude) }
          this.contentLoad = false
        }
      }).catch(err => {
        if (err.response.status === 404) {
          this.$router.push({ path: '/404', replace: true, query: { noGoBack: true }})
        }
      })
    },
    submitForm() {
      this.$refs.postForm.validate(valid => {
        if (valid) {
          this.loading = true
          const data = {
            name: this.postForm.name,
            address: this.postForm.address,
            contact: this.postForm.contact,
            website: this.postForm.website,
            lat: (this.place) ? this.place.lat : 40.6698914,
            lng: (this.place) ? this.place.lng : -7.9655772
          }
          if (this.isEdit) {
            updateRestaurant(this.postForm.id, data).then(response => {
              if (response.status === 200) {
                this.$notify({
                  title: 'Success',
                  message: 'Updated',
                  type: 'success',
                  duration: 2000
                })
              }
            }).catch(err => {
              console.log(err)
            }).finally(fin => {
              this.loading = false
            })
          } else {
            createRestaurant(data).then(response => {
              if (response.status === 201 && response.data.data.id_restaurant) {
                this.$notify({
                  title: 'Success',
                  message: 'Created',
                  type: 'success',
                  duration: 2000
                })
                this.resetForm()
                if (this.isModal) {
                  this.$emit('open-modal', false)
                }
              }
            }).catch(err => {
              console.log(err)
            }).finally(fin => {
              this.loading = false
            })
          }
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    updateplace(event) {
      this.place = { lat: event.latLng.lat(), lng: event.latLng.lng() }
    },
    setPlace(place) {
      const pos = { lat: place.geometry.location.lat(), lng: place.geometry.location.lng() }
      this.place = pos
      this.center = pos
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "src/styles/mixin.scss";
.background-container {
  padding: 15px 35px 20px 35px;
  h2 {
    color: #595959;
  }
  .pull-right{
    float: right;
  }
  .content-container{
    padding: 5px 20px 50px 20px;
    background-color: #fff;
    border-color: rgba(0,0,0,.05);
    box-shadow: 4px 4px 40px rgba(0,0,0,.05)
  }
  .searchmap {
    position: absolute;
    z-index: 1;
    margin-left: 200px;
    margin-top: 10px;
    max-width: 50%;
  }
  .steps-action {
    width: 100%;
  }
  .custom-select {
    width: 100%;
  }
  .custom-select-actions {
    :not(:first-child) {
      margin-left: -3px;
    }
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
</style>