<template>
  <section class="horizontal-app-main">
    <transition name="fade-transform" mode="out-in">
        <router-view :key="key"></router-view>
    </transition>
  </section>
</template>

<script>
export default {
  computed: {
    key() {
      return this.$route.fullPath
    }
  }
}
</script>

<style scoped>
.horizontal-app-main {
  /*84 = navbar + tags-view = 50 +34 */
  min-height: calc(100vh - 125px);
  position: relative;
  overflow: hidden;
  background-color: #f0f2f5;
}
</style>

