<template>
  <section :class="newClass ? 'horizontal-app-main': 'app-main'">
    <transition name="fade-transform" mode="out-in">
      <keep-alive :include="cachedViews">
        <router-view :key="key"></router-view>
      </keep-alive>
    </transition>
  </section>
</template>

<script>
export default {
  props: {
    newClass: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    cachedViews() {
      return this.$store.state.tagsView.cachedViews
    },
    key() {
      return this.$route.fullPath
    }
  }
}
</script>

<style scoped>

.app-main {
  /*84 = navbar + tags-view = 50 +34 */
  min-height: calc(100vh - 84px);
  position: relative;
  overflow: hidden;
  background-color: #f0f2f5;
}
.horizontal-app-main {
  /*84 = navbar + tags-view = 50 +34 */
  min-height: calc(100vh - 125px);
  position: relative;
  overflow: hidden;
  background-color: #f0f2f5;
}
</style>

