<template>
  <el-menu class="navbar" mode="horizontal">
    <hamburger v-if="showHamburger" class="hamburger-container" :toggleClick="toggleSideBar" :isActive="sidebar.opened"></hamburger>

    <breadcrumb class="breadcrumb-container"></breadcrumb>

    <div class="right-menu">
      <error-log class="errLog-container right-menu-item"></error-log>

      <el-button type="text" @click="toggleNavigationBar">
      <el-tooltip v-if="getLayout" effect="dark" :content="$t('navbar.navigationbar')" placement="bottom" >
        <svg-icon class="toggle-navigation right-menu-item" icon-class="component" />
      </el-tooltip>
      </el-button>

      <el-dropdown class="avatar-container right-menu-item" trigger="click">
        <div class="avatar-wrapper">
          <img class="user-avatar" :src="avatar">
          <i class="el-icon-caret-bottom"></i>
        </div>
        <el-dropdown-menu slot="dropdown">
          <router-link to="/">
            <el-dropdown-item>
              {{$t('navbar.dashboard')}}
            </el-dropdown-item>
          </router-link>
          <router-link :to="'/user/edit/'+id">
            <el-dropdown-item>
              {{$t('navbar.myProfile')}}
            </el-dropdown-item>
          </router-link>
          <el-button type="text" @click="handleSetLanguage('pt')" :disabled="language==='pt'"><el-dropdown-item divided :disabled="language==='pt'">Português</el-dropdown-item></el-button>
          <el-button type="text" @click="handleSetLanguage('en')" :disabled="language==='en'"><el-dropdown-item divided :disabled="language==='en'">English</el-dropdown-item></el-button>
          <el-dropdown-item divided>
            <span @click="logout" style="display:block;">{{$t('navbar.logOut')}}</span>
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
  </el-menu>
</template>

<script>
import { mapGetters } from 'vuex'
import Breadcrumb from '@/components/Breadcrumb'
import Hamburger from '@/components/Hamburger'
import ErrorLog from '@/components/ErrorLog'
import LangSelect from '@/components/LangSelect'

export default {
  components: {
    Breadcrumb,
    Hamburger,
    ErrorLog,
    LangSelect
  },
  computed: {
    ...mapGetters([
      'language',
      'sidebar',
      'name',
      'roles',
      'avatar',
      'id'
    ]),
    getLayout() {
      if (this.roles.indexOf('admin') >= 0 || this.roles.indexOf('superadmin') >= 0) return true
      return false
    }
  },
  props: {
    showHamburger: {
      type: Boolean,
      default: true
    }
  },
  methods: {
    toggleSideBar() {
      this.$store.dispatch('toggleSideBar')
    },
    logout() {
      this.$store.dispatch('LogOut').then(() => {
        location.reload()// In order to re-instantiate the vue-router object to avoid bugs
      })
    },
    toggleNavigationBar() {
      this.$store.dispatch('toggleNavigation')
    },
    handleSetLanguage(lang) {
      this.$i18n.locale = lang
      this.$store.dispatch('setLanguage', lang)
      this.$message({
        message: this.$t('language.switchlanguagesuccess'),
        type: 'success'
      })
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.navbar {
  height: 50px;
  line-height: 50px;
  border-radius: 0px !important;
  .hamburger-container {
    line-height: 58px;
    height: 50px;
    float: left;
    padding: 0 10px;
  }
  .breadcrumb-container{
    float: left;
  }
  .errLog-container {
    display: inline-block;
    vertical-align: top;
  }
  .right-menu {
    float: right;
    height: 100%;
    &:focus{
     outline: none;
    }
    .right-menu-item {
      display: inline-block;
      margin: 0 8px;
    }
    .toggle-navigation{
      display: inline-block;
      cursor: pointer;
      fill: #5a5e66;;
      width: 20px;
      height: 20px;
      vertical-align: 10px;
    }
    .screenfull {
      height: 20px;
    }
    .international{
      vertical-align: top;
    }
    .theme-switch {
      vertical-align: 15px;
    }
    .avatar-container {
      height: 50px;
      margin-right: 30px;
      .avatar-wrapper {
        cursor: pointer;
        margin-top: 5px;
        position: relative;
        .user-avatar {
          width: 40px;
          height: 40px;
          border-radius: 10px;
        }
        .el-icon-caret-bottom {
          position: absolute;
          right: -20px;
          top: 25px;
          font-size: 12px;
        }
      }
    }
  }
}
</style>
