<template>
    <div class="background-container">
        <div class="content-container" v-loading="contentLoad">
            <h2 v-if="this.isEdit">{{$t('production.titleEdit')}} {{postForm.name}}</h2>
            <h2 v-else>{{$t('production.titleCreate')}}</h2>
            <el-form :model="postForm" :rules="rules" ref="postForm">
                    <el-form-item :label="$t('global.name')" prop="name">
                        <el-input v-model="postForm.name" required></el-input>
                    </el-form-item>
                    <el-form-item :label="$t('global.email')" prop="email">
                        <el-input v-model="postForm.email" required></el-input>
                    </el-form-item>
                    <el-form-item :label="$t('global.contact')" prop="contact">
                        <el-input v-model="postForm.contact"></el-input>
                    </el-form-item>
                    <el-form-item :label="$t('global.website')" prop="website">
                        <el-input v-model="postForm.website"></el-input>
                    </el-form-item>
                    <el-form-item :label="$t('global.facebook')" prop="facebook">
                        <el-input v-model="postForm.facebook"><i slot="prefix" class="el-input__icon"><svg-icon icon-class="facebookoutline" /></i></el-input>
                    </el-form-item>
                    <el-form-item :label="$t('global.instagram')" prop="instagram">
                        <el-input v-model="postForm.instagram"><i slot="prefix" class="el-input__icon"><svg-icon icon-class="instagram" /></i></el-input>
                    </el-form-item>
                    <el-form-item :label="$t('global.twitter')" prop="twitter">
                        <el-input v-model="postForm.twitter"><i slot="prefix" class="el-input__icon"><svg-icon icon-class="twitteroutline" /></i></el-input>
                    </el-form-item>
                    <el-form-item :label="$t('global.address')" prop="address">
                        <el-input v-model="postForm.address"></el-input>
                    </el-form-item>
                    <el-row>
                        <label class="el-form-item__label">{{$t('global.map')}}</label>
                    </el-row>
                    <el-form-item label="Location">
                        <Gmap-autocomplete :value="searchaddress" class="el-input__inner searchmap" @place_changed="setPlace">
                        </Gmap-autocomplete>
                        <GmapMap :center="center" :zoom="12" style="width: 100%; height: 300px">
                            <GmapMarker v-if="place" :position="place" :draggable="true" @dragend="updateplace"></GmapMarker>
                        </GmapMap>
                    </el-form-item>
                    <el-row>
                        <el-row>
                            <label class="el-form-item__label">{{$t('user.create')}}</label>
                        </el-row>
                        <el-form-item>
                            <el-radio-group v-model="postForm.usercreate">
                                <el-radio :label="true">{{$t('answer.yes')}}</el-radio>
                                <el-radio :label="false">{{$t('answer.no')}}</el-radio>
                            </el-radio-group>
                        </el-form-item>
                    </el-row>
                    <el-row v-if="postForm.usercreate">
                        <FormUser :dataForm="postForm"></FormUser>
                    </el-row>
                <el-form-item class="pull-right" >
                    <!-- <el-button tabindex="-1" @click="resetForm">{{$t('global.reset')}}</el-button> -->
                    <el-button v-loading="loading" type="success" @click="submitForm">{{$t('global.success')}}</el-button>
                </el-form-item>
            </el-form>
        </div>
    </div>
</template>

<script>
import FormUser from '@/views/user/components/FormUser'
import { validateEmail } from '@/utils/validate'
import { fetchProduction, createProduction, updateProduction } from '@/api/production'

const defaultForm = {
  name: '',
  email: '',
  contact: '',
  address: '',
  id: undefined,
  website: '',
  facebook: '',
  twitter: '',
  instagram: '',
  usercreate: true,
  userrole: 'adminproduction',
  useractive: '1'
}

export default {
  name: 'Detail',
  components: { FormUser },
  props: {
    isEdit: {
      type: Boolean,
      default: false
    },
    steps: {
      type: Array
    }
  },
  data() {
    const validateemail = (rule, value, callback) => {
      if (!validateEmail(value)) {
        callback(new Error(this.$t('error.email')))
      } else {
        callback()
      }
    }
    const validateuseremail = (rule, value, callback) => {
      if (this.postForm.usercreate && !validateEmail(value)) {
        callback(new Error(this.$t('error.email')))
      } else {
        callback()
      }
    }
    return {
      postForm: Object.assign({}, defaultForm),
      loading: false,
      contentLoad: true,
      searchaddress: '',
      place: undefined,
      center: { lat: 40.6698914, lng: -7.9655772 },
      rules: {
        email: [{ required: true, validator: validateemail, trigger: 'blur' }],
        name: [{ required: true, message: this.$t('global.empty'), trigger: 'blur' }],
        useremail: [{ required: true, validator: validateuseremail, trigger: 'blur' }],
        username: [{ required: true, trigger: 'blur' }]
      }
    }
  },
  computed: { },
  created() {
    if (this.isEdit) {
      const id = this.$route.params && this.$route.params.id
      this.fetchData(id)
    } else {
      this.postForm = Object.assign({}, defaultForm)
      this.contentLoad = false
    }
  },
  methods: {
    fetchData(id) {
      fetchProduction(id).then(response => {
        if (response.status === 200 && response.data.data.id_production) {
          this.postForm = {
            name: response.data.data.name,
            email: response.data.data.email,
            contact: response.data.data.contact,
            id: response.data.data.id_production,
            website: response.data.data.website,
            facebook: response.data.data.facebook,
            twitter: response.data.data.twitter,
            instagram: response.data.data.instagram,
            address: response.data.data.address
          }
          this.place = { lat: Number.parseFloat(response.data.data.latitude), lng: Number.parseFloat(response.data.data.longitude) }
          this.center = { lat: Number.parseFloat(response.data.data.latitude), lng: Number.parseFloat(response.data.data.longitude) }
          this.contentLoad = false
        }
      }).catch(err => {
        if (err.response.status === 404) {
          this.$router.push({ path: '/404', replace: true, query: { noGoBack: true }})
        }
      })
    },
    submitForm() {
      this.$refs.postForm.validate(valid => {
        if (valid) {
          this.loading = true
          const dataform = {
            name: this.postForm.name,
            email: this.postForm.email,
            contact: this.postForm.contact,
            website: this.postForm.website,
            facebook: this.postForm.facebook,
            twitter: this.postForm.twitter,
            instagram: this.postForm.instagram,
            address: this.postForm.address,
            lat: (this.place) ? this.place.lat : ' ',
            lng: (this.place) ? this.place.lng : ' '
          }
          if (this.isEdit) {
            updateProduction(this.postForm.id, dataform).then(response => {
              if (response.status === 200) {
                this.$notify({
                  title: 'Success',
                  message: 'Updated',
                  type: 'success',
                  duration: 2000
                })
              }
            }).catch(err => {
              console.log(err)
            }).finally(fin => {
              this.loading = false
            })
          } else {
            const data = Object.assign({ usercreate: this.postForm.usercreate, username: this.postForm.username, useremail: this.postForm.useremail, userrole: this.postForm.userrole, active: this.postForm.useractive }, dataform)
            createProduction(data).then(response => {
              if (response.status === 201 && response.data.data.id_production) {
                this.$notify({
                  title: 'Success',
                  message: 'Created',
                  type: 'success',
                  duration: 2000
                })
                this.resetForm()
              }
            }).catch(err => {
              console.log(err)
            }).finally(fin => {
              this.loading = false
            })
          }
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    updateplace(event) {
      this.place = { lat: event.latLng.lat(), lng: event.latLng.lng() }
    },
    setPlace(place) {
      const pos = { lat: place.geometry.location.lat(), lng: place.geometry.location.lng() }
      this.place = pos
      this.center = pos
    },
    resetForm() {
      this.$refs.postForm.resetFields()
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "src/styles/mixin.scss";
.background-container {
  padding: 15px 35px 20px 35px;
  h2 {
    color: #595959;
  }
  .pull-right{
    float: right;
  }
  .content-container{
    padding: 5px 20px 50px 20px;
    background-color: #fff;
    border-color: rgba(0,0,0,.05);
    box-shadow: 4px 4px 40px rgba(0,0,0,.05)
  }
  .searchmap {
    position: absolute;
    z-index: 1;
    margin-left: 200px;
    margin-top: 10px;
    max-width: 50%;
  }
  .steps-action {
    width: 100%;
  }
  .custom-select {
    width: 100%;
  }
  .custom-select-actions {
    :not(:first-child) {
      margin-left: -3px;
    }
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
</style>