<template>
    <div class="background-container">
        <div class="content-container">
             <h2>{{$t('route.ViewArtist')}}</h2>
  <view-detail></view-detail>
        </div>
    </div>
</template>

<script>
import ViewDetail from './components/ViewDetail'

export default {
  name: 'viewArtist',
  components: { ViewDetail }
}
</script>
<style lang="scss" scoped>
.background-container {
  padding: 15px 35px 20px 35px;
  h2 {
    color: #595959;
  }
  .pull-right{
    float: right;
  }
  .content-container{
    padding: 5px 20px 50px 20px;
    background-color: #fff;
    border-color: rgba(0,0,0,.05);
    box-shadow: 4px 4px 40px rgba(0,0,0,.05)
  }
}
</style>