<template>
  <div class="app-container">
    <el-table :data="list" v-loading="listLoading" border fit highlight-current-row style="width: 100%">
      <el-table-column align="center" label="#" width="40" fixed>
        <template slot-scope="scope">
          <span>{{scope.row.id_event}}</span>
        </template>
      </el-table-column>
     <el-table-column min-width="150" :label="$t('global.name')">
        <template slot-scope="scope">
          <router-link class="link-type" :to="'/event/view/'+scope.row.id_event">
            <span>{{ scope.row.event }}</span>
          </router-link>
        </template>
      </el-table-column>
      <el-table-column align="center" :label="$t('global.dateStart')" >
        <template slot-scope="scope">
          <span>{{scope.row.date_begin | parseTime('{y}-{m}-{d} {h}:{i}')}}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" :label="$t('global.dateEnd')">
        <template slot-scope="scope">
          <span>{{scope.row.date_end | parseTime('{y}-{m}-{d} {h}:{i}')}}</span>
        </template>
      </el-table-column>
      <el-table-column class-name="status-col" :label="$t('global.status')" >
        <template slot-scope="scope">
          <el-tag :type="scope.row.status | statusFilter">{{ scope.row.status |statusName }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" :label="$t('global.actions')" fixed="right" min-width="100" >
        <template slot-scope="scope" >
          <el-button type="danger" size="small" icon="el-icon-delete" @click="removedata(scope.row.id_event)"></el-button>
          <router-link :to="'/event/view/'+scope.row.id_event">
            <el-button type="primary" size="small" icon="el-icon-view"></el-button>
          </router-link>
          <router-link :to="'/event/edit/'+scope.row.id_event">
            <el-button type="default" size="small" icon="el-icon-edit"></el-button>
          </router-link>
          <router-link :to="'/event/cost/'+scope.row.id_event">
            <el-button type="default" size="small" icon="el-icon-edit-outline"></el-button>
          </router-link>
          <el-button class="pull-right" type="primary" v-loading="loadingbtn" size="mini" @click="newstage(scope.row.id_event)"><i class="el-icon-plus"></i></el-button>
        </template>
      </el-table-column>
    </el-table>

    <div class="pagination-container">
      <el-pagination background @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="listQuery.page"
        :page-sizes="[10,20,30, 50]" :page-size="listQuery.limit" layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>

  </div>
</template>

<script>
import { fetchList, deleteEvent, statusList } from '@/api/event'
import { createStage } from '@/api/stage'

export default {
  name: 'listEvent',
  data() {
    return {
      list: null,
      total: 0,
      listLoading: true,
      loadingbtn: false,
      listQuery: {
        page: 1,
        limit: 10
      }
    }
  },
  filters: {
    statusFilter(status) {
      const statusMap = {
        0: 'warning',
        1: 'success'
      }
      return statusMap[status]
    },
    statusName(status) {
      return statusList[status].value
    }
  },
  created() {
    this.getList()
  },
  activated() {
    this.getList()
  },
  methods: {
    getList() {
      this.listLoading = true
      fetchList(this.listQuery).then(response => {
        if (response.status === 200) {
          this.list = response.data.data
          this.total = response.data.meta.pagination.total
          this.listLoading = false
        }
      })
    },
    newstage(id) {
      const data = { name: this.$t('route.Stage'), event: id }
      this.loadingbtn = true
      createStage(data).then(response => {
        if (response.status === 201) {
          const idstage = response.data.data.id_stage
          this.$router.push({ path: `/stage/edit/${idstage}` })
        }
      }).finally(() => {
        this.loadingbtn = false
      })
    },
    handleSizeChange(val) {
      this.listQuery.limit = val
      this.getList()
    },
    handleCurrentChange(val) {
      this.listQuery.page = val
      this.getList()
    },
    removedata(id) {
      this.$confirm(this.$t('global.deleteQuestion'), 'Warning', {
        confirmButtonText: 'OK',
        cancelButtonText: this.$t('global.cancel'),
        type: 'warning'
      }).then(() => {
        deleteEvent(id).then(resp => {
          if (resp.status === 204) {
            this.$message({
              type: 'success',
              message: this.$t('global.deleteSuccess')
            })
            this.getList()
          }
        }).catch(err => {
          this.$message.error(this.$t('global.deleteCancel') + err.message)
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: this.$t('global.deleteCancel')
        })
      })
    }
  }
}
</script>

<style scoped>
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
</style>
