<template>
     <div class="background-container">
        <div class="content-container">
            <h2>{{$t('route.ViewEvent')}}</h2>
            <view-detail></view-detail>
            <el-card class="box-card" style="margin-top:10px">
                <div slot="header" class="clearfix">
                    <span>{{$t('route.Stage')}}</span>
                      <el-button class="pull-right" type="primary" size="mini" @click="newstage()" v-loading="loadingbtn"><i class="el-icon-plus"></i></el-button>
                </div>
                <div class="text item">
                    <stageevent></stageevent>
                </div>
            </el-card>
        </div>
    </div>
</template>
<script>
import ViewDetail from './components/ViewDetail'
import Stageevent from './components/StageEvent'
import { createStage } from '@/api/stage'

export default {
  name: 'viewEvent',
  components: { ViewDetail, Stageevent },
  data() {
    return {
      loadingbtn: false
    }
  },
  methods: {
    newstage() {
      this.loadingbtn = true
      const data = { name: this.$t('route.Stage'), event: this.$route.params.id }
      createStage(data).then(response => {
        if (response.status === 201) {
          const idstage = response.data.data.id_stage
          this.$router.push({ path: `/stage/edit/${idstage}` })
        }
      }).finally(() => {
        this.loadingbtn = false
      })
    }
  }
}
</script>
<style lang="scss" scoped>
.background-container {
  padding: 15px 35px 20px 35px;
  h2 {
    color: #595959;
  }
  .pull-right{
    float: right;
  }
  .content-container{
    padding: 5px 20px 50px 20px;
    background-color: #fff;
    border-color: rgba(0,0,0,.05);
    box-shadow: 4px 4px 40px rgba(0,0,0,.05)
  }
}
</style>