<template>
  <div class="app-wrapper" :class="classObj">
    <navbar v-show="topHide" :show-hamburger="false"></navbar>
    <top-sidebar v-show="topHide" class="topmenu-container"></top-sidebar>
    <div class="main-container-horizontal">
      <app-horizontal-main></app-horizontal-main>
    </div>
  </div>
</template>

<script>
import { Navbar, TopSidebar, AppHorizontalMain } from './components'
import ResizeMixin from './mixin/ResizeHandler'

export default {
  name: 'simplifylayout',
  components: {
    Navbar,
    TopSidebar,
    AppHorizontalMain
  },
  mixins: [ResizeMixin],
  computed: {
    topHide() {
      return !(this.$store.getters.roles.indexOf('admin') >= 0 || this.$store.getters.roles.indexOf('superadmin') >= 0)
    },
    sidebar() {
      return this.$store.state.app.sidebar
    },
    device() {
      return this.$store.state.app.device
    },
    classObj() {
      return {
        hideSidebar: !this.sidebar.opened,
        openSidebar: this.sidebar.opened,
        withoutAnimation: this.sidebar.withoutAnimation,
        mobile: this.device === 'mobile'
      }
    }
  },
  methods: {
    handleClickOutside() {
      this.$store.dispatch('closeSideBar', { withoutAnimation: false })
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  @import "src/styles/mixin.scss";
  .app-wrapper {
    @include clearfix;
    position: relative;
    height: 100%;
    width: 100%;
  }
  .drawer-bg {
    background: #000;
    opacity: 0.3;
    width: 100%;
    top: 0;
    height: 100%;
    position: absolute;
    z-index: 999;
  }
</style>
