<template>
<div :class="{ 'bg-padding': defaultLayout }">
  <detail :is-edit='false' :is-modal='!defaultLayout' @open-modal="modalInteract"></detail>
</div>
</template>

<script>
import Detail from './components/Detail'

export default {
  name: 'createTechnician',
  components: { Detail },
  props: {
    modal: {
      type: Boolean,
      default: false
    },
    defaultLayout: {
      type: Boolean,
      default: true
    }
  },
  methods: {
    modalInteract(e) {
      this.$emit('modalinteract', e)
    }
  }
}
</script>
<style rel="stylesheet/scss" lang="scss" scoped>
.bg-padding {
  padding: 15px 35px 20px 35px;
}
</style>
