<template>
    <div class="background-container">
        <div class="content-container" v-loading="contentLoad">
            <h2 v-if="this.isEdit">{{$t('stage.titleEdit')}} {{postForm.name}}</h2>
            <h2 v-else>{{$t('stage.titleCreate')}}</h2>
            <Steps ref="stepscomponent" :items="itemssteps" :active="active" @updateActiveStep="setStep"></Steps>
            <el-form :model="postForm" :rules="rules" ref="postForm">
                <div v-show="active==0">
                    <el-form-item :label="$t('route.Event')">
                        <el-select v-model="postForm.event" filterable remote :placeholder="$t('global.search')" :loading="eventloading" :remote-method="getRemoteEventList" style="width:100%">
                            <el-option v-for="(item) in eventListOptions" :key="item.id_event" :label="item.name" :value="item.id_event">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item :label="$t('route.Stage')" prop="name">
                        <el-input v-model="postForm.name" required></el-input>
                    </el-form-item>
                    <el-form-item :label="$t('route.Technician')">
                        <el-select class="custom-select" v-model="postForm.technician" filterable remote :placeholder="$t('global.search')" :loading="technicianloading" :remote-method="getRemoteTechnicianList" style="width:100%">
                            <el-option v-for="(item) in technicianListOptions" :key="item.id_technician" :label="item.name" :value="item.id_technician">
                            </el-option>
                        </el-select>
                        <div class="custom-select-actions">
                          <router-link :to="{path: '/technician/edit/'+postForm.technician}" v-show="postForm.technician"><el-button><i class="el-icon-edit"></i></el-button></router-link>
                          <router-link :to="{name: 'createTechnician'}"><el-button type="primary"><i class="el-icon-plus"></i></el-button></router-link>
                        </div>
                    </el-form-item>
                    <el-row v-for="(element, index) in postForm.team" :key="'team'+index">
                      <fieldset>
                        <legend>{{$t('technician.team') + ' #' + (index+1)}}</legend>
                        <el-row>
                            <el-form-item :label="$t('technician.team')" :key="element.key" :prop="'team.' + index + '.value'" :rules="{ required: true, message: $t('global.empty'), trigger: 'blur' }">
                                <el-input v-model="element.value" class="inputfield" style="width:100%"></el-input>
                            </el-form-item>
                            <el-button class="btnRemove" @click.prevent="removeItem(element)">{{$t('technician.remove')}}</el-button>
                        </el-row>

                        <el-form-item :label="$t('global.name')">
                            <el-select :prop="'team.' + index + '.person'" v-model="element.person" :key="'person'+element.key" :rules="{ required: true, message: $t('global.empty'), trigger: 'blur' }" filterable remote :placeholder="$t('global.search')" :loading="stafftechnicianloading" :remote-method="getRemoteStafftechnicianList" style="width:100%">
                                <el-option v-for="(item) in stafftechnicianListOptions" :key="item.id_stafftechnician" :label="item.name" :value="item.id_stafftechnician">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </fieldset>
                    </el-row>
                    <el-row class="rowAddBtn">
                        <div class="divBtn">
                            <el-button type="primary" @click="addItem" class="inputbutton">{{$t('technicianstaff.addTechnician')}}</el-button>
                        </div>
                    </el-row>
                </div>
                <div v-show="active==1">
                  <el-form-item :label="$t('stage.length')" prop="length">
                        <el-input v-model="postForm.length"></el-input>
                    </el-form-item>
                    <el-form-item :label="$t('stage.width')" prop="width">
                        <el-input v-model="postForm.width"></el-input>
                    </el-form-item>
                    <el-form-item :label="$t('global.description')" prop="description">
                        <el-input v-model="postForm.description"></el-input>
                    </el-form-item>
                   
                </div>
                <div v-show="active==2">
                    <div v-if="this.isEdit">
                        <el-row>
                            <el-col :xs="24" :sm="16" :md="20">
                                <h4 style="width:100%; text-align: left;">{{$t('route.Schedule')}}</h4>
                                <full-calendar ref="calendar" :config="config" :event-sources="eventSources" :events="events" @event-created="eventCreated" @event-selected="eventSelected" @event-drop="eventDrop" @event-resize="eventResize" @day-click="selectedDate" />
                            </el-col>
                            <el-col :xs="24" :sm="8" :md="4">
                                <h4 style="width:100%; text-align: left;">{{$t('global.type')}}</h4>
                                <ul class="listoptions">
                                    <li v-for="v in typeOptions" class="listitemoptions" :key="v.key" :style="`background: ${v.color}`">{{v.display_name}}</li>
                                </ul>
                            </el-col>
                        </el-row>
                    </div>
                </div>
                <el-form-item class="pull-right" v-show="(active+1)==itemssteps.length" style="margin-top:10px">
                    <el-button tabindex="-1" @click="resetForm">{{$t('global.reset')}}</el-button>
                    <el-button v-loading="loading" type="success" @click="submitForm">{{$t('global.submit')}}</el-button>
                </el-form-item>
            </el-form>
            <Stepsactions ref="stepsactionscomponent" :items="itemssteps.length" :active="active" @updateActiveStep="setStep" style="margin-top:10px"></Stepsactions>
            <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible" :rules="rules2" :before-close="handleCancel" width="80%">
                <el-form :rules="rules" ref="dataForm" :model="temp" label-position="left" label-width="80px">
                    <el-form-item :label="$t('global.type')" prop="type">
                        <el-select class="filter-item" v-model="temp.type" :placeholder="$t('global.select')" style="width:100%" prop="type">
                            <el-option v-for="item in typeOptions" :key="item.key" :label="item.display_name" :value="item.key">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item :label="$t('global.name')" prop="name">
                        <el-input v-model="temp.name"></el-input>
                    </el-form-item>
                    <el-form-item :label="$t('route.Artist')">
                        <el-select v-model="temp.artist" filterable remote :placeholder="$t('global.search')" :loading="artistloading" :remote-method="getRemoteArtistList" class="width80">
                            <el-option v-for="(item) in artistListOptions" :key="item.id_artist" :label="item.name" :value="item.id_artist">
                            </el-option>
                        </el-select>
                        <el-button @click="newartist" type="primary" class="width20"><i class="el-icon-plus el-icon-right"></i></el-button>
                    </el-form-item>
                    <el-form-item :label="$t('global.dateRange')">
                        <el-date-picker v-model="temp.daterange" format="yyyy-MM-dd HH:mm" value-format="yyyy-MM-dd HH:mm" type="datetimerange" range-separator="-" :start-placeholder="$t('global.dateStart')" :end-placeholder="$t('global.dateEnd')" style="width:100%">
                        </el-date-picker>
                    </el-form-item>
                    <div v-if="temp.type === '2'">
                        <el-row :gutter="10">
                            <el-col :span="12">
                                <el-form-item :label="$t('schedule.setup')">
                                    <el-input-number v-model="temp.setuptime" controls-position="right" style="width:100%" @change="handleSetUpChange" :min="0" :max="300"></el-input-number>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item :label="$t('schedule.arrival')">
                                    <el-input v-model="temp.setup" :disabled="true" style="width:100%"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </div>
                    <div v-if="temp.type === '3'">
                        <el-row>
                            <el-form-item :label="$t('route.Hotel')">
                                <el-select v-model="temp.hotel" filterable remote :placeholder="$t('global.search')" :loading="hotelloading" :remote-method="getRemoteHotelList" class="width80">
                                    <el-option v-for="(item) in hotelListOptions" :key="item.id_hotel" :label="item.name" :value="item.id_hotel">
                                    </el-option>
                                </el-select>
                                <el-button @click="newhotel" type="primary" class="width20"><i class="el-icon-plus el-icon-right"></i></el-button>
                            </el-form-item>
                        </el-row>
                        <el-row :gutter="10">
                            <el-col :span="8">
                                <el-form-item :label="$t('hotel.single')">
                                    <el-input-number v-model="temp.hotelsingle" controls-position="right" style="width:100%" :min="0" :max="300"></el-input-number>
                                </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                <el-form-item :label="$t('hotel.double')">
                                    <el-input-number v-model="temp.hoteldouble" controls-position="right" style="width:100%" :min="0" :max="300"></el-input-number>
                                </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                <el-form-item :label="$t('hotel.twin')">
                                    <el-input-number v-model="temp.hoteltwin" controls-position="right" style="width:100%" :min="0" :max="300"></el-input-number>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-form-item :label="$t('global.comment')">
                                <el-input v-model="temp.hotelcomment" type="textarea" autosize></el-input>
                            </el-form-item>
                        </el-row>
                    </div>
                    <div v-if="temp.type === '4'">
                        <el-form-item :label="$t('route.Restaurant')">
                            <el-select v-model="temp.restaurant" filterable remote :placeholder="$t('global.search')" :loading="restaurantloading" :remote-method="getRemoteRestaurantList" class="width80">
                                <el-option v-for="(item) in restaurantListOptions" :key="item.id_restaurant" :label="item.name" :value="item.id_restaurant">
                                </el-option>
                            </el-select>
                            <el-button @click="newrestaurant" type="primary" class="width20"><i class="el-icon-plus el-icon-right"></i></el-button>
                        </el-form-item>
                        <el-form-item :label="$t('global.comment')">
                            <el-input v-model="temp.restaurantcomment" type="textarea" autosize></el-input>
                        </el-form-item>
                    </div>
                    <div v-if="temp.type === '5'">
                        <el-form-item :label="$t('global.comment')">
                            <el-input v-model="temp.othercomment" type="textarea" autosize></el-input>
                        </el-form-item>
                    </div>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="handleCancel" style="margin-right:15px">{{$t('global.cancel')}}</el-button>
                    <el-button v-if="dialogStatus=='create'" type="primary" @click="createData" v-loading="loadingtemp">{{$t('global.submit')}}</el-button>
                    <div style="float:right" v-else>
                        <el-button type="danger" @click="deleteData" v-loading="loadingtemp">{{$t('global.delete')}}</el-button>
                        <el-button type="primary" @click="updateData" v-loading="loadingtemp">{{$t('global.submit')}}</el-button>
                    </div>
                </div>
            </el-dialog>
        </div>
    </div>
</template>

<script>
import { fetchStage, createStage, updateStage } from '@/api/stage'
import { createSchedule, updateSchedule, deleteSchedule, fetchStageSchedule } from '@/api/schedule'
import { createSchedulehotel, updateSchedulehotel, deleteSchedulehotel, fetchStageSchedulehotel } from '@/api/schedulehotel'
import { createSchedulerestaurant, updateSchedulerestaurant, deleteSchedulerestaurant, fetchStageSchedulerestaurant } from '@/api/schedulerestaurant'
import { createSchedulesetup, updateSchedulesetup, deleteSchedulesetup, fetchStageSchedulesetup } from '@/api/schedulesetup'
import { createScheduleperformance, updateScheduleperformance, deleteScheduleperformance, fetchStageScheduleperformance } from '@/api/scheduleperformance'
import { deleteStagestafftechnician } from '@/api/stagestafftechnician'
import { searchTechnicianstaff } from '@/api/technicianstaff'
import { searchArtist } from '@/api/artist'
import { searchHotel } from '@/api/hotel'
import { searchRestaurant } from '@/api/restaurant'
import { searchEvent, fetchEvent } from '@/api/event'
import { searchTechnician } from '@/api/technician'
import store from '@/store'
import '@/components/Fullcalendar/style.css'
import 'fullcalendar/dist/locale/pt'
import typeOptions from '@/api/scheduletype'
import Steps from '@/components/Steps'
import Stepsactions from '@/components/Steps/Actions'

const defaultForm = {
  event: undefined,
  name: '',
  length: '',
  width: '',
  technician: undefined,
  description: '',
  id: undefined,
  team: []
}

export default {
  name: 'Detail',
  components: { Steps, Stepsactions },
  props: {
    isEdit: {
      type: Boolean,
      default: false
    },
    stepsTabs: {
      type: Array,
      default: []
    }
  },
  data() {
    return {
      active: 0,
      itemssteps: this.stepsTabs,
      postForm: Object.assign({}, defaultForm),
      loading: false,
      contentLoad: true,
      dialogFormVisible: false,
      eventloading: false,
      eventListOptions: [],
      artistloading: false,
      artistListOptions: [],
      hotelListOptions: [],
      hotelloading: false,
      restaurantListOptions: [],
      restaurantloading: false,
      technicianloading: false,
      technicianListOptions: [],
      stafftechnicianloading: false,
      stafftechnicianListOptions: [],
      typeOptions,
      rules: {
        name: [{ required: true, message: this.$t('global.empty'), trigger: 'blur' }]
      },
      temp: {
        id: undefined,
        name: '',
        type: '',
        daterange: '',
        setup: '',
        setuptime: 0
      },
      oldtemp: undefined,
      loadingtemp: false,
      dialogStatus: '',
      textMap: {
        update: 'Edit',
        create: 'Create'
      },
      rules2: {
        name: [{ required: true, message: this.$t('global.empty'), trigger: 'blur' }],
        type: [{ required: true, message: this.$t('global.empty'), trigger: 'change' }],
        daterange: [{ required: true, message: this.$t('global.empty'), trigger: 'blur' }]
      },
      eventSources: [],
      events: [],
      config: {
        height: 500,
        lazyFetching: true,
        nowIndicator: true,
        timeFormat: 'H:mm',
        slotLabelFormat: 'HH:mm',
        slotDuration: '00:60:00',
        locale: store.getters.language || 'en',
        navLinks: true,
        defaultView: 'month',
        displayEventTime: true,
        displayEventEnd: true,
        buttonText: {
          basicWeek: this.$t('schedule.basicweek'),
          today: this.$t('schedule.basicweek'),
          agendaWeek: this.$t('schedule.agendaweek'),
          agendaDay: this.$t('schedule.agendaday'),
          month: this.$t('schedule.month'),
          week: this.$t('schedule.week'),
          day: this.$t('schedule.day')
        },
        editable: true,
        selectable: true,
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'basicWeek,agendaWeek,agendaDay,month'
        }
      }
    }
  },
  computed: { },
  created() {
    if (this.isEdit) {
      const id = this.$route.params && this.$route.params.id
      this.eventSources = [{
        events(start, end, timezone, callback) {
          const startdate = start.format('YYYY-MM-DD HH:mm:00')
          const enddate = end.format('YYYY-MM-DD HH:mm:00')
          fetchStageScheduleperformance(id, { startdate, enddate }).then(response => {
            if (response.data.scheduleperformances) {
              callback(response.data.scheduleperformances)
            } else {
              callback('')
            }
          }).catch(err => {
            console.log(err)
            callback('')
          })
        },
        color: typeOptions[0].color,
        textColor: typeOptions[0].textcolor
      },
      {
        events(start, end, timezone, callback) {
          const startdate = start.format('YYYY-MM-DD HH:mm:00')
          const enddate = end.format('YYYY-MM-DD HH:mm:00')
          fetchStageSchedulesetup(id, { startdate, enddate }).then(response => {
            if (response.data.schedulesetups) {
              callback(response.data.schedulesetups)
            } else {
              callback('')
            }
          }).catch(err => {
            console.log(err)
            callback('')
          })
        },
        color: typeOptions[1].color,
        textColor: typeOptions[1].textcolor
      },
      {
        events(start, end, timezone, callback) {
          const startdate = start.format('YYYY-MM-DD HH:mm:00')
          const enddate = end.format('YYYY-MM-DD HH:mm:00')
          fetchStageSchedulehotel(id, { startdate, enddate }).then(response => {
            if (response.data.schedulehotels) {
              callback(response.data.schedulehotels)
            } else {
              callback('')
            }
          }).catch(err => {
            console.log(err)
            callback('')
          })
        },
        color: typeOptions[2].color,
        textColor: typeOptions[2].textcolor
      },
      {
        events(start, end, timezone, callback) {
          const startdate = start.format('YYYY-MM-DD HH:mm:00')
          const enddate = end.format('YYYY-MM-DD HH:mm:00')
          fetchStageSchedulerestaurant(id, { startdate, enddate }).then(response => {
            if (response.data.schedulerestaurants) {
              callback(response.data.schedulerestaurants)
            } else {
              callback('')
            }
          }).catch(err => {
            console.log(err)
            callback('')
          })
        },
        color: typeOptions[3].color,
        textColor: typeOptions[3].textcolor
      },
      {
        events(start, end, timezone, callback) {
          const startdate = start.format('YYYY-MM-DD HH:mm:00')
          const enddate = end.format('YYYY-MM-DD HH:mm:00')
          fetchStageSchedule(id, { startdate, enddate }).then(response => {
            if (response.data.schedules) {
              callback(response.data.schedules)
            } else {
              callback('')
            }
          }).catch(err => {
            console.log(err)
            callback('')
          })
        },
        color: typeOptions[4].color,
        textColor: typeOptions[4].textcolor
      }
      ]
      this.fetchData(id)
    } else {
      this.postForm = Object.assign({}, defaultForm)
      if (this.$route.params && this.$route.params.defaultEvent) this.fetchDefault(this.$route.params.defaultEvent)
      this.contentLoad = false
    }
  },
  methods: {
    setStep(x) {
      this.active = x
      this.$refs.stepscomponent.setActive(x)
      this.$refs.stepsactionscomponent.setActive(x)
    },
    fetchData(id) {
      fetchStage(id).then(response => {
        if (response.status === 200) {
          this.postForm = {
            event: response.data.data.event.data.id_event,
            name: response.data.data.name,
            technician: response.data.data.technician ? response.data.data.technician.data.id_technician : undefined,
            id: response.data.data.id_stage,
            description: response.data.data.description,
            length: response.data.data.length,
            width: response.data.data.width,
            team: []
          }
          if (response.data.data.event) this.eventListOptions.push({ id_event: response.data.data.event.data.id_event, name: response.data.data.event.data.name })
          if (response.data.data.technician) this.technicianListOptions.push({ id_technician: response.data.data.technician.data.id_technician, name: response.data.data.technician.data.name })
          if (response.data.data.stagestafftechnician.data.length === 0) {
            this.postForm.team.push({ key: 0, value: '', person: undefined, id: 0, info: undefined })
          } else {
            const set = []
            response.data.data.stagestafftechnician.data.forEach(data => {
              this.postForm.team.push({ key: Date.now(), value: data.name, person: data.id_stafftechnician, id: data.id_stagestafftechnician })
              if (set.indexOf(data.id_stafftechnician) === -1) {
                set.push(data.id_stafftechnician)
                this.stafftechnicianListOptions.push({ id_stafftechnician: data.stafftechnician.data.id_stafftechnician, name: data.stafftechnician.data.name })
              }
            })
          }
          // push event background
          let maxlimit = this.$moment(response.data.data.event.data.date_end)
          if (maxlimit.diff(this.$moment(response.data.data.event.data.date_end).format('YYYY-MM-DD 00:00')) > 0) maxlimit = maxlimit.add(1, 'days')
          this.events.push({ title: 'Eventlimit', start: this.$moment(response.data.data.event.data.date_begin).format('YYYY-MM-DD'), end: maxlimit.format('YYYY-MM-DD'), rendering: 'background', editable: false })
          this.events.push({ title: 'Eventlimit', start: this.$moment(response.data.data.event.data.date_begin).format('YYYY-MM-DDTHH:mm'), end: this.$moment(response.data.data.event.data.date_end).format('YYYY-MM-DDTHH:mm'), rendering: 'background', editable: false })
          this.contentLoad = false
        }
      }).catch(err => {
        if (err.status === 404) {
          this.$router.push({ path: '/404', replace: true, query: { noGoBack: true }})
        }
      })
    },
    fetchDefault(params) {
      fetchEvent(params).then(response => {
        if (response.status === 200 && response.data.data.id_production) {
          this.postForm.production = response.data.data.id_production
          this.productionListOptions.push({ id_production: response.data.data.id_production, name: response.data.data.name })
        }
      })
    },
    getRemoteTechnicianList(query) {
      this.technicianloading = true
      if (query !== '') {
        searchTechnician({ name: query }).then(response => {
          if (response.data.length === 0) return
          this.technicianListOptions = response.data.technicians
        }).finally(() => {
          this.technicianloading = false
        })
      }
    },
    getRemoteEventList(query) {
      this.eventloading = true
      if (query !== '') {
        searchEvent({ name: query }).then(response => {
          if (response.data.length === 0) return
          this.eventListOptions = response.data.events
        }).finally(() => {
          this.eventloading = false
        })
      }
    },
    getRemoteArtistList(query) {
      this.artistloading = true
      if (query !== '') {
        searchArtist({ name: query }).then(response => {
          if (response.data.length === 0) return
          this.artistListOptions = response.data.artists
        }).finally(() => {
          this.artistloading = false
        })
      }
    },
    getRemoteHotelList(query) {
      this.hotelloading = true
      if (query !== '') {
        searchHotel({ name: query }).then(response => {
          if (response.data.length === 0) return
          this.hotelListOptions = response.data.hotels
        }).finally(() => {
          this.hotelloading = false
        })
      }
    },
    getRemoteRestaurantList(query) {
      this.restaurantloading = true
      if (query !== '') {
        searchRestaurant({ name: query }).then(response => {
          if (response.data.length === 0) return
          this.restaurantListOptions = response.data.restaurants
        }).finally(() => {
          this.restaurantloading = false
        })
      }
    },
    createevent(type, data) {
      switch (type) {
        case '1':
          return new Promise(function(resolve, reject) {
            createScheduleperformance(data).then(response => {
              if (response.status === 201) {
                resolve(response.data)
              }
              reject(response)
            }).catch(err => {
              reject(err)
            })
          })
        case '2':
          data = Object.assign(data, { setup: this.temp.setuptime })
          return new Promise(function(resolve, reject) {
            createSchedulesetup(data).then(response => {
              if (response.status === 201) {
                resolve(response.data)
              }
              reject(response)
            }).catch(err => {
              reject(err)
            })
          })
        case '3':
          data = Object.assign(data, { hotel: this.temp.hotel, single: this.temp.hotelsingle, double: this.temp.hoteldouble, twin: this.temp.hoteltwin, comment: this.temp.hotelcomment })
          return new Promise(function(resolve, reject) {
            createSchedulehotel(data).then(response => {
              if (response.status === 201) {
                resolve(response.data)
              }
              reject(response)
            }).catch(err => {
              reject(err)
            })
          })
        case '4':
          data = Object.assign(data, { restaurant: this.temp.restaurant, comment: this.temp.restaurantcomment })
          return new Promise(function(resolve, reject) {
            createSchedulerestaurant(data).then(response => {
              if (response.status === 201) {
                resolve(response.data)
              }
              reject(response)
            }).catch(err => {
              reject(err)
            })
          })
        default:
          data = Object.assign(data, { comment: this.temp.othercomment })
          return new Promise(function(resolve, reject) {
            createSchedule(data).then(response => {
              if (response.status === 201) {
                resolve(response.data)
              }
              reject(response)
            }).catch(err => {
              reject(err)
            })
          })
      }
    },
    deleteevent(type, data) {
      switch (type) {
        case '1':
          return new Promise(function(resolve, reject) {
            deleteScheduleperformance(data).then(response => {
              if (response.status === 204) {
                resolve(response.data)
              }
              reject(response)
            }).catch(err => {
              reject(err)
            })
          })
        case '2':
          return new Promise(function(resolve, reject) {
            deleteSchedulesetup(data).then(response => {
              if (response.status === 204) {
                resolve(response.data)
              }
              reject(response)
            }).catch(err => {
              reject(err)
            })
          })
        case '3':
          return new Promise(function(resolve, reject) {
            deleteSchedulehotel(data).then(response => {
              if (response.status === 204) {
                resolve(response.data)
              }
              reject(response)
            }).catch(err => {
              reject(err)
            })
          })
        case '4':
          return new Promise(function(resolve, reject) {
            deleteSchedulerestaurant(data).then(response => {
              if (response.status === 204) {
                resolve(response.data)
              }
              reject(response)
            }).catch(err => {
              reject(err)
            })
          })
        default:
          return new Promise(function(resolve, reject) {
            deleteSchedule(data).then(response => {
              if (response.status === 204) {
                resolve(response.data)
              }
              reject(response)
            }).catch(err => {
              reject(err)
            })
          })
      }
    },
    updateevent(old, data) {
      if (old.type !== data.type) { // remove old one
        const t = [
          this.deleteevent(old.type, old.id),
          this.createevent(data.type, data)
        ]
        return Promise.all(t)
      } else {
        switch (old.type) {
          case '1':
            return new Promise(function(resolve, reject) {
              updateScheduleperformance(data.id, data).then(response => {
                if (response.status === 200) {
                  resolve(response.data)
                }
                reject(response)
              }).catch(err => {
                reject(err)
              })
            })
          case '2':
            data = Object.assign(data, { setup: this.temp.setuptime })
            return new Promise(function(resolve, reject) {
              updateSchedulesetup(data.id, data).then(response => {
                if (response.status === 200) {
                  resolve(response.data)
                }
                reject(response)
              }).catch(err => {
                reject(err)
              })
            })
          case '3':
            data = Object.assign(data, { hotel: this.temp.hotel, single: this.temp.hotelsingle, double: this.temp.hoteldouble, twin: this.temp.hoteltwin, comment: this.temp.hotelcomment })
            return new Promise(function(resolve, reject) {
              updateSchedulehotel(data.id, data).then(response => {
                if (response.status === 200) {
                  resolve(response.data)
                }
                reject(response)
              }).catch(err => {
                reject(err)
              })
            })
          case '4':
            data = Object.assign(data, { restaurant: this.temp.restaurant, comment: this.temp.restaurantcomment })
            return new Promise(function(resolve, reject) {
              updateSchedulerestaurant(data.id, data).then(response => {
                if (response.status === 200) {
                  resolve(response.data)
                }
                reject(response)
              }).catch(err => {
                reject(err)
              })
            })
          default:
            data = Object.assign(data, { comment: this.temp.othercomment })
            return new Promise(function(resolve, reject) {
              updateSchedule(data.id, data).then(response => {
                if (response.status === 200) {
                  resolve(response.data)
                }
                reject(response)
              }).catch(err => {
                reject(err)
              })
            })
        }
      }
    },
    handleSetUpChange(value) {
      this.temp.setup = this.$moment(this.temp.daterange[0]).subtract(value, 'm').format('DD-MM-YYYY HH:mm')
    },
    refreshEvents() {
      this.$refs.calendar.$emit('refetch-events')
    },
    eventSelected(event, jsEvent, view) {
      this.handleUpdate(event)
    },
    eventResize(event, delta, revertFunc) {
      this.handleUpdate(event)
    },
    eventDrop(event, delta, revertFunc) {
      this.handleUpdate(event)
    },
    eventCreated(event) {
      this.handleCreate(event.start.format('YYYY-MM-DD HH:mm'), event.end.format('YYYY-MM-DD HH:mm'))
    },
    selectedDate(start, end, jsEvent) {
      // this.handleCreate(start.format('YYYY-MM-DD HH:mm'), end.format('YYYY-MM-DD HH:mm'))
    },
    handleCreate(start, end) {
      this.resetTemp(start, end)
      this.artistListOptions = []
      this.dialogStatus = 'create'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    createData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          this.loadingtemp = true
          const data = {
            name: this.temp.name,
            startdate: this.temp.daterange[0],
            enddate: this.temp.daterange[1],
            artist: this.temp.artist,
            stage: this.postForm.id
          }
          this.createevent(this.temp.type, data).then(resolve => {
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Created successfully',
              type: 'success',
              duration: 2000
            })
          }).catch(reject => {
            console.log(reject)
            this.$notify({
              title: 'Error',
              message: reject.message,
              type: 'error',
              duration: 2000
            })
          }).finally(() => {
            this.$refs.calendar.fireMethod('refetchEvents')
            this.loadingtemp = false
          })
        }
      })
    },
    handleUpdate(row) {
      this.artistListOptions = []
      const temp = {
        id: row.id_schedule,
        name: row.title,
        type: row.type,
        daterange: [row.start.format('YYYY-MM-DD HH:mm'), row.end.format('YYYY-MM-DD HH:mm')],
        artist: row.id_artist
      }
      switch (row.type) {
        case '2':
          temp.setuptime = (row.start.diff(this.$moment(row.setup), 'minutes'))
          temp.setup = this.$moment(row.setup).format('YYYY-MM-DD HH:mm')
          break
        case '3':
          temp.hotel = row.hotel
          this.hotelListOptions = []
          this.hotelListOptions.push({ id_hotel: row.hotel, name: row.hotelname })
          temp.hotelsingle = row.single
          temp.hoteldouble = row.double
          temp.hoteltwin = row.twin
          temp.hotelcomment = row.comment
          break
        case '4':
          temp.restaurant = row.restaurant
          this.restaurantListOptions = []
          this.restaurantListOptions.push({ id_restaurant: row.restaurant, name: row.restaurantname })
          temp.restaurantcomment = row.comment
          break
        case '5':
          temp.othercomment = row.comment
          break
      }
      this.oldtemp = {
        id: row.id_schedule,
        type: row.type
      }
      this.artistListOptions.push({ id_artist: row.id_artist, name: row.artist })
      this.temp = Object.assign({}, temp) // copy obj
      this.dialogStatus = 'update'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    updateData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          this.loadingtemp = true
          const data = {
            id: this.temp.id,
            name: this.temp.name,
            startdate: this.temp.daterange[0],
            enddate: this.temp.daterange[1],
            artist: this.temp.artist,
            stage: this.postForm.id,
            type: this.temp.type
          }
          this.updateevent(this.oldtemp, data).then(response => {
            this.dialogFormVisible = false
            this.$refs.calendar.fireMethod('refetchEvents')
            this.$notify({
              title: 'Success',
              message: 'Updated successfully',
              type: 'success',
              duration: 2000
            })
          }).catch(err => {
            console.log(err)
            this.$notify({
              title: 'Error',
              message: err.message,
              type: 'error',
              duration: 2000
            })
          }).finally(() => {
            this.loadingtemp = false
          })
        }
      })
    },
    deleteData() {
      if (this.temp.id) {
        this.$confirm(this.$t('global.deleteQuestion'), 'Warning', {
          confirmButtonText: 'OK',
          cancelButtonText: this.$t('global.cancel'),
          type: 'warning'
        }).then(() => {
          this.deleteevent(this.oldtemp, this.temp.id).then(resp => {
            this.$message({
              type: 'success',
              message: this.$t('global.deleteSuccess')
            })
            this.$refs.calendar.fireMethod('refetchEvents')
            this.dialogFormVisible = false
          }).catch(err => {
            this.$message.error(this.$t('global.deleteCancel') + err.message)
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: this.$t('global.deleteCancel')
          })
        })
      }
    },
    handleCancel() {
      this.$refs.calendar.fireMethod('refetchEvents')
      this.dialogFormVisible = false
      this.$notify.info({
        title: 'Info',
        message: 'Operation Canceled'
      })
    },
    resetTemp(start, end) {
      this.temp = {
        id: undefined,
        artist: undefined,
        name: '',
        type: '',
        setuptime: 0,
        daterange: [start, end]
      }
      this.oldtemp = undefined
    },
    submitForm() {
      this.$refs.postForm.validate(valid => {
        if (valid) {
          this.loading = true
          const data = {
            data: this.postForm.team,
            name: this.postForm.name,
            technician: this.postForm.technician,
            length: this.postForm.length,
            width: this.postForm.width,
            description: this.postForm.description,
            event: this.postForm.event
          }
          if (this.isEdit) {
            updateStage(this.postForm.id, data).then(response => {
              if (response.status === 200) {
                this.$notify({
                  title: 'Success',
                  message: 'Updated',
                  type: 'success',
                  duration: 2000
                })
              }
            }).catch(err => {
              console.log(err)
            }).finally(fin => {
              this.loading = false
            })
          } else {
            createStage(data).then(response => {
              if (response.status === 201 && response.data.data.id_stage) {
                this.$notify({
                  title: 'Success',
                  message: 'Created',
                  type: 'success',
                  duration: 2000
                })
                this.$router.push({ path: '/stage/edit/' + response.data.data.id_stage, replace: true })
              }
            }).catch(err => {
              console.log(err)
            }).finally(fin => {
              this.loading = false
            })
          }
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    resetForm() {
      this.setStep(0)
      this.$refs.postForm.resetFields()
    },
    newartist() {
      this.$router.push({ name: 'createArtist' })
    },
    newrestaurant() {
      this.$router.push({ name: 'createRestaurant' })
    },
    newhotel() {
      this.$router.push({ name: 'createHotel' })
    },
    getRemoteStafftechnicianList(query) {
      this.stafftechnicianloading = true
      if (query !== '') {
        this.stafftechnicianListOptions = []
        searchTechnicianstaff({ id_technician: this.postForm.technician, name: query }).then(response => {
          if (response.data.length === 0) return
          this.stafftechnicianListOptions = response.data.stafftechnicians
        }).finally(() => {
          this.stafftechnicianloading = false
        })
      }
    },
    removeItem(item) {
      this.$confirm(this.$t('global.deleteQuestion'), 'Warning', {
        confirmButtonText: 'OK',
        cancelButtonText: this.$t('global.cancel'),
        type: 'warning'
      }).then(() => {
        const index = this.postForm.team.indexOf(item)
        if (index !== -1) {
          if (item.id) {
            deleteStagestafftechnician(item.id).then(resp => {
              if (resp.status === 204) {
                this.$message({
                  type: 'success',
                  message: this.$t('global.deleteSuccess')
                })
                this.postForm.team.splice(index, 1)
              }
            }).catch(err => {
              this.$message.error(this.$t('global.deleteCancel') + err.message)
            })
          } else {
            this.postForm.team.splice(index, 1)
          }
        }
      })
    },
    addItem() {
      this.postForm.team.push({
        key: Date.now(),
        value: '',
        person: undefined,
        id: 0
      })
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "src/styles/mixin.scss";
.background-container {
  padding: 15px 35px 20px 35px;
  h2 {
    color: #595959;
  }
  .pull-right{
    float: right;
  }
  .content-container{
    padding: 5px 20px 50px 20px;
    background-color: #fff;
    border-color: rgba(0,0,0,.05);
    box-shadow: 4px 4px 40px rgba(0,0,0,.05);
    .rowAddBtn{
      margin-top: 10px;
    }
    .btnRemove {
      max-width:99px;
      position: absolute;
      top: -5px;
      right: 0;
    }
  }
  .steps-action {
    width: 100%;
  }
  .custom-select {
    width: 100%;
  }
  .custom-select-actions {
    :not(:first-child) {
      margin-left: -3px;
    }
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .listoptions {
    list-style-type: none;
    padding-left: 10px;
  }
  .listitemoptions {
    border-radius: 5px;
    padding: 0.15em 4px;
    margin-top: 3px;
  }
  .width80 {
    width: calc(100% - 70px);
  }
  .width20 {
    width: 60px;
  }
}
</style>
