<template>
    <div class="background-container">
        <div class="content-container" v-loading="loading">
            <el-form :model="postForm" ref="postForm">
                <h2>{{$t('route.Stage')}}</h2>
                <el-collapse>
                    <el-collapse-item :title="$t('global.information')" name="1">
                        <div>
                            <el-form-item :label="$t('route.Event')">
                                <el-input v-model="postForm.event" :disabled="true" class="blackfont"></el-input>
                            </el-form-item>
                            <el-form-item :label="$t('route.Stage')">
                                <el-select v-model="postForm.stage" filterable remote :disabled="true" :placeholder="$t('global.search')" :loading="stageloading" :remote-method="getRemoteStageList" @change="redirect" style="width:100%" class="blackfont">
                                    <el-option v-for="(item) in stageListOptions" :key="item.id_stage" :label="item.name" :value="item.id_stage">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item :label="$t('route.Technician')">
                                <el-input v-model="postForm.technician" :disabled="true" class="blackfont"></el-input>
                            </el-form-item>
                        </div>
                    </el-collapse-item>
                </el-collapse>
                    <h5>{{$t('stage.document')}}  </h5>
                    <div v-for="(element, index) in postForm.files" :key="'files'+index">
                        <fieldset>
                        <legend>{{$t('stage.document') + ' #' + (index+1)}}</legend>
                        <el-row>
                        <el-form-item label="temp" :key="'name'+index" :prop="'files.' + index + '.name'" :rules="{ required: true, message: $t('global.empty'), trigger: 'blur' }">
                              <span slot="label">{{$t('stage.document')}} {{element.status.length}}
                                <el-tag v-if="element.status.indexOf('invalid') !== -1" type="danger" class="tags">{{StatusObject.invalid.value}}</el-tag>
                                <el-tag v-else-if="element.status.indexOf('pending') !== -1 || element.status.length === 0" type="warning" class="tags">{{StatusObject.pending.value}}</el-tag>
                                <el-tag v-else type="success" class="tags">{{StatusObject.valid.value}}</el-tag>
                              </span>
                            <el-input v-model="element.name" class="inputfield"> </el-input>
                        </el-form-item>
                        <el-button-group class="actionBtnGroup">
                            <el-button size="small" type="primary" @click="openFile(element)"><i class="el-icon-view"></i></el-button>
                            <el-button size="small" @click="addCommentSection(element)"><i class="el-icon-message"></i></el-button>
                            <el-button size="small" type="danger" @click="removeFile(element)"><i class="el-icon-delete"></i></el-button>
                        </el-button-group>
                        </el-row>
                        <el-row>
                        </el-row>
                        <el-form-item :label="$t('document.observation')">
                            <el-input type="textarea" v-model="element.description" :rows="4"></el-input>
                        </el-form-item>
                       
                        <el-row v-if="element.addComment" :gutter="10">
                            <el-col :sm="24" :md="12">
                                <el-form-item :label="$t('global.status')">
                                     <el-select v-model="element.newcommentstatus" style="width:100%"  :key="'commentstatus'+index" :prop="'files.' + index + '.commentstatus'" :rules="{ required: true, message: $t('global.empty'), trigger: 'blur' }">
                                      <el-option
                                        v-for="item in status"
                                        :key="item.key"
                                        :label="item.value"
                                        :value="item.key">
                                      </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :sm="24" :md="12">
                                <el-form-item :label="$t('global.username')">
                                    <el-input :disabled="true" v-model="user" class="blackfont"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :sm="24" :md="24">
                                <el-form-item :label="$t('global.comment')">
                                    <el-input type="textarea"  :autosize="{ minRows: 2 }" v-model="element.newcomment"></el-input>
                                </el-form-item>
                            </el-col>
                             <el-col :sm="24" :md="24">
                              <el-form-item class="pull-right">
                                <el-button @click="element.addComment = false">{{$t('global.cancel')}}</el-button>
                                <el-button type="primary" @click="submitComment(element)">{{$t('global.send')}}</el-button>
                              </el-form-item>
                             </el-col>
                        </el-row>
                        <div v-if="element.stagedocumentcomment">
                            <el-row v-for="(item, i) in element.stagedocumentcomment" :key="'comment' + index + '-' + i">

                            </el-row>
                        </div>
                        </fieldset>
                    </div>
                    <el-row class="rowAddBtn">
                        <div class="divBtn">
                            <el-button type="primary" @click="dialogFormVisible = true" class="inputbutton">{{$t('stage.adddocument')}}</el-button>
                        </div>
                    </el-row>
                        <el-form-item class="pull-right">
                            <el-button tabindex="-1" @click="resetForm">{{$t('global.reset')}}</el-button>
                            <el-button type="primary" @click="submitForm" v-loading="submitbtn">{{$t('global.submit')}}</el-button>
                        </el-form-item>
            </el-form>
        </div>
        <el-dialog :title="$t('stage.newdocument')" :visible.sync="dialogFormVisible" :before-close="handleCancel" width="80%">
            <el-form ref="dataForm" :model="temp">
                <el-row>
                    <label class="el-form-item__label">{{$t('stage.newdocument')}}</label>
                </el-row>
                <el-row>
                    <upload @changeList="changeFile"></upload>
                </el-row>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="handleCancel" style="margin-right:15px">{{$t('global.cancel')}}</el-button>
                <el-button type="primary" @click="createData" v-loading="loadingtemp">{{$t('global.submit')}}</el-button>
            </div>
        </el-dialog>
    </div>
</template>


<script>
import { fetchStageInformation, searchStage } from '@/api/stage'
import { deleteStagedocument, postStagedocument } from '@/api/stagedocument'
import { createStagedocumentcomment } from '@/api/stagedocumentcomment'
import { searchTechnicianstaff } from '@/api/technicianstaff'
import Upload from '@/components/Upload/multipleFiles'
import { Message } from '@/api/status'
import { StatusObject } from '@/api/status'

export default {
  name: 'Extend',
  components: { Upload },
  data() {
    return {
      user: this.$store.getters.name,
      submitbtn: false,
      loading: false,
      loadingtemp: false,
      stageloading: false,
      stageListOptions: [],
      stafftechnicianloading: false,
      stafftechnicianListOptions: [],
      dialogFormVisible: false,
      status: Message,
      StatusObject: StatusObject,
      temp: {
        files: []
      },
      postForm: {
        event: '',
        files: []
      }
    }
  },
  created() {
    const id = this.$route.params && this.$route.params.id
    this.fetchData(id)
  },
  methods: {
    getRemoteStageList(query) {
      this.stageloading = true
      if (query !== '') {
        searchStage({ name: query }).then(response => {
          if (response.data.length === 0) return
          this.stageListOptions = response.data.stages
        }).finally(() => {
          this.stageloading = false
        })
      }
    },
    redirect(value) {
      console.log(value)
    },
    addCommentSection(element) {
      this.$set(element, 'addComment', true)
    },
    removeFile(item) {
      this.$confirm(this.$t('global.deleteQuestion'), 'Warning', {
        confirmButtonText: 'OK',
        cancelButtonText: this.$t('global.cancel'),
        type: 'warning'
      }).then(() => {
        const index = this.postForm.files.indexOf(item)
        if (index !== -1) {
          if (item.id) {
            deleteStagedocument(item.id).then(resp => {
              if (resp.status === 204) {
                this.$message({
                  type: 'success',
                  message: this.$t('global.deleteSuccess')
                })
                this.postForm.files.splice(index, 1)
              }
            }).catch(err => {
              this.$message.error(this.$t('global.deleteCancel') + err.message)
            })
          } else {
            this.postForm.files.splice(index, 1)
          }
        }
      })
    },
    handleCancel() {
      this.temp = Object.assign({}, { files: [] })
      this.dialogFormVisible = false
    },
    createData() {
      this.temp.files.forEach(element => {
        this.postForm.files.push({ id_stagedocument: 0, file: element.response.data.data.file, path: element.response.data.data.path, name: '', description: '', status: 'pending' })
      })
      this.temp = Object.assign({}, { files: [] })
      this.dialogFormVisible = false
    },
    getRemoteStafftechnicianList(query) {
      this.stafftechnicianloading = true
      if (query !== '') {
        this.stafftechnicianListOptions = []
        searchTechnicianstaff({ id_technician: this.postForm.id_technician, name: query }).then(response => {
          if (response.data.length === 0) return
          this.stafftechnicianListOptions = response.data.stafftechnicians
        }).finally(() => {
          this.stafftechnicianloading = false
        })
      }
    },
    changeFile(event) {
      this.temp.files = event
    },
    fetchData(id) {
      this.loading = true
      fetchStageInformation(id).then(response => {
        if (response.status === 200) {
          this.postForm = {
            event: response.data.data.event ? response.data.data.event.data.name : '',
            name: response.data.data.name,
            stage: response.data.data.id_stage,
            technician: response.data.data.technician ? response.data.data.technician.data.name : '',
            id_technician: response.data.data.technician ? response.data.data.technician.data.id_technician : '',
            files: response.data.data.stagedocument ? response.data.data.stagedocument.data : []
          }
          this.stageListOptions.push({ id_stage: response.data.data.id_stage, name: response.data.data.name })
        }
      }).catch(err => {
        if (err.response.status === 404) {
          this.$router.push({ path: '/404', replace: true, query: { noGoBack: true }})
        }
      }).finally(() => {
        this.loading = false
      })
    },
    submitForm(formName) {
      this.$refs.postForm.validate((valid) => {
        if (valid) {
          this.submitbtn = true
          postStagedocument(this.postForm.stage, { data: this.postForm.files }).then(response => {
            if (response.status === 200) {
              this.$notify({
                title: 'Success',
                message: 'Updated',
                type: 'success',
                duration: 2000
              })
            }
          }).catch(err => {
            this.$notify({
              title: 'Error',
              message: err.response.data,
              type: 'error'
            })
          }).finally(() => {
            this.submitbtn = false
          })
        } else {
          return false
        }
      })
    },
    resetForm(formName) {
      this.$refs.postForm.resetFields()
    },
    openFile(i) {
      window.open(i.path)
    },
    submitComment(element) {
      createStagedocumentcomment({ stagedocument: element.id_stagedocument, name: element.newcomment, status: element.newcommentstatus, user: this.$store.getters.id }).then(res => {
        if (res.status === 201) {
          this.$notify({
            title: 'Success',
            message: 'Updated',
            type: 'success',
            duration: 2000
          })
        }
      }).catch(err => {
        console.log(err)
      })
      console.log('tag', element)
    }
  }
}
</script>

<style lang="scss" scoped>
.background-container {
  padding: 15px 35px 20px 35px;
  h2 {
    color: #595959;
  }
  .pull-right{
    float: right;
  }
  .content-container{
    padding: 5px 20px 50px 20px;
    background-color: #fff;
    border-color: rgba(0,0,0,.05);
    box-shadow: 4px 4px 40px rgba(0,0,0,.05);
    .tags {
    margin-left: 15px;
    }
    .btnRemove {
      max-width:99px;
      position: absolute;
      top: -5px;
      right: 0;
    }
    fieldset {
      margin-top: 5px;
    }
    .actionBtnGroup {
      float:left;
      position: absolute;
      top: 0px;
      right: 0px;
    }
  }
 .steps-action {
    width: 100%;
  }
  .blackfont{
    color: #606266 !important;
   -webkit-text-fill-color: #606266 !important;
  }
  .inputbutton {
    margin-top: 10px;
    min-width: 175px;
  }
  .rowAddBtn{
    margin-bottom: 22px;
    .offsetBtn{
      width: 130px;
      height:10px;
      float:left
    }
    .divBtn {
      width: calc(100% - 130px);
      float: left;
      .btn {
        width: 100%;
        padding: 7px;
        .icon {
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
  }
}
</style>