<template>
<div class="create-container">
<el-row>
    <el-col :xs="24" :sm="16" :md="20">
        <h4 style="width:100%; text-align: left;">Schedule</h4>
        <full-calendar ref="calendar" :config="config" :event-sources="eventSources" @event-created="eventCreated" @event-selected="eventSelected" @event-drop="eventDrop" @event-resize="eventResize" @day-click="selectedDate" />
    </el-col>
    <el-col :xs="24" :sm="8" :md="4">
        <h4 style="width:100%; text-align: left;">Label</h4>
        <ul class="listoptions">
            <li v-for="v in typeOptions" class="listitemoptions" :key="v.key" :style="`background: ${v.color}`">{{v.display_name}}</li>
        </ul>
    </el-col>
</el-row>
<el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible" :before-close="handleCancel" width="80%">
            <el-form :rules="rules2" ref="dataForm" :model="temp" label-position="left" label-width="80px">
                <el-form-item label="Type" prop="type">
                    <el-select class="filter-item" v-model="temp.type" :placeholder="$t('global.select')" style="width:100%" prop="type">
                        <el-option v-for="item in typeOptions" :key="item.key" :label="item.display_name" :value="item.key">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item :label="$t('global.name')" prop="name">
                    <el-input v-model="temp.name"></el-input>
                </el-form-item>
                <el-form-item :label="$t('route.Artist')">
                    <el-select v-model="temp.artist" filterable remote :placeholder="$t('global.search')" :loading="artistloading" :remote-method="getRemoteArtistList" class="width80">
                        <el-option v-for="(item) in artistListOptions" :key="item.id_artist" :label="item.name" :value="item.id_artist">
                        </el-option>
                    </el-select>
                    <el-button @click="newartist" type="primary" class="width20">Add New <i class="el-icon-plus el-icon-right"></i></el-button>
                </el-form-item>
                <el-form-item :label="$t('global.dateRange')">
                    <el-date-picker v-model="temp.daterange" format="yyyy-MM-dd HH:mm" value-format="yyyy-MM-dd HH:mm" type="datetimerange" range-separator="-" :start-placeholder="$t('global.dateStart')" :end-placeholder="$t('global.dateEnd')" style="width:100%">
                    </el-date-picker>
                </el-form-item>
                <div v-if="temp.type === '2'">
                    <el-row :gutter="10">
                        <el-col :span="12">
                            <el-form-item :label="$t('schedule.setup')">
                                <el-input-number v-model="temp.setuptime" controls-position="right" style="width:100%" @change="handleSetUpChange" :min="0" :max="300"></el-input-number>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item :label="$t('schedule.arrival')">
                                <el-input v-model="temp.setup" :disabled="true" style="width:100%"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </div>
                <div v-if="temp.type === '3'">
                    <el-row>
                        <el-form-item :label="$t('route.Hotel')">
                            <el-select v-model="temp.hotel" filterable remote :placeholder="$t('global.search')" :loading="hotelloading" :remote-method="getRemoteHotelList" class="width80">
                                <el-option v-for="(item) in hotelListOptions" :key="item.id_hotel" :label="item.name" :value="item.id_hotel">
                                </el-option>
                            </el-select>
                            <el-button @click="newhotel" type="primary" class="width20">Add New <i class="el-icon-plus el-icon-right"></i></el-button>
                        </el-form-item>
                    </el-row>
                    <el-row :gutter="10">
                        <el-col :span="8">
                            <el-form-item label="Single">
                                <el-input-number v-model="temp.hotelsingle" controls-position="right" style="width:100%" :min="0" :max="300"></el-input-number>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label="Double">
                                <el-input-number v-model="temp.hoteldouble" controls-position="right" style="width:100%" :min="0" :max="300"></el-input-number>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label="Twin">
                                <el-input-number v-model="temp.hoteltwin" controls-position="right" style="width:100%" :min="0" :max="300"></el-input-number>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-form-item :label="$t('global.comment')">
                            <el-input v-model="temp.hotelcomment" type="textarea" autosize></el-input>
                        </el-form-item>
                    </el-row>
                </div>
                <div v-if="temp.type === '4'">
                    <el-form-item :label="$t('route.Restaurant')">
                        <el-select v-model="temp.restaurant" filterable remote :placeholder="$t('global.search')" :loading="restaurantloading" :remote-method="getRemoteRestaurantList" class="width80">
                            <el-option v-for="(item) in restaurantListOptions" :key="item.id_restaurant" :label="item.name" :value="item.id_restaurant">
                            </el-option>
                        </el-select>
                        <el-button @click="newrestaurant" type="primary" class="width20">Add New <i class="el-icon-plus el-icon-right"></i></el-button>
                    </el-form-item>
                    <el-form-item :label="$t('global.comment')">
                        <el-input v-model="temp.restaurantcomment" type="textarea" autosize></el-input>
                    </el-form-item>
                </div>
                <div v-if="temp.type === '5'">
                    <el-form-item :label="$t('global.comment')">
                        <el-input v-model="temp.othercomment" type="textarea" autosize></el-input>
                    </el-form-item>
                </div>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="handleCancel" style="margin-right:15px">Cancel</el-button>
                <el-button v-if="dialogStatus=='create'" type="primary" @click="createData" v-loading="loadingtemp">{{$t('global.submit')}}</el-button>
                <div style="float:right" v-else>
                    <el-button type="danger" @click="deleteData" v-loading="loadingtemp">Delete</el-button>
                    <el-button type="primary" @click="updateData" v-loading="loadingtemp">{{$t('global.submit')}}</el-button>
                </div>
            </div>
        </el-dialog>
</div>
</template>

<script>

import { createSchedule, updateSchedule, deleteSchedule, fetchStageSchedule } from '@/api/schedule'
import { createSchedulehotel, updateSchedulehotel, deleteSchedulehotel, fetchStageSchedulehotel } from '@/api/schedulehotel'
import { createSchedulerestaurant, updateSchedulerestaurant, deleteSchedulerestaurant, fetchStageSchedulerestaurant } from '@/api/schedulerestaurant'
import { createSchedulesetup, updateSchedulesetup, deleteSchedulesetup, fetchStageSchedulesetup } from '@/api/schedulesetup'
import { createScheduleperformance, updateScheduleperformance, deleteScheduleperformance, fetchStageScheduleperformance } from '@/api/scheduleperformance'
import { searchArtist } from '@/api/artist'
import { searchHotel } from '@/api/hotel'
import { searchRestaurant } from '@/api/restaurant'
import { searchEvent } from '@/api/event'
import store from '@/store'
import 'fullcalendar/dist/fullcalendar.css'
import 'fullcalendar/dist/locale/pt'

const typeOptions = [
  { key: '1', display_name: 'Performance', color: '#fb6e5e', textcolor: '#000000' },
  { key: '2', display_name: 'Sound Check', color: '#ff9d52', textcolor: '#000000' },
  { key: '3', display_name: 'Hotel', color: '#ffed4a', textcolor: '#000000' },
  { key: '4', display_name: 'Restaurant', color: '#abff57', textcolor: '#000000' },
  { key: '5', display_name: 'Other', color: '#4ec5ff', textcolor: '#000000' }
]
const id = 0

export default {
  name: 'Schedule',
  components: {
  },
  props: {
    stageId: {
      type: Number
    }
  },
  data() {
    return {
      dialogFormVisible: false,
      eventloading: false,
      eventListOptions: [],
      artistloading: false,
      artistListOptions: [],
      hotelListOptions: [],
      hotelloading: false,
      restaurantListOptions: [],
      restaurantloading: false,
      typeOptions,
      temp: {
        id: undefined,
        name: '',
        type: '',
        daterange: '',
        setup: '',
        setuptime: 0
      },
      oldtemp: undefined,
      loadingtemp: false,
      dialogStatus: '',
      textMap: {
        update: 'Edit',
        create: 'Create'
      },
      rules2: {
        name: [{ required: true, message: 'name is required', trigger: 'blur' }],
        type: [{ required: true, message: 'type is required', trigger: 'change' }],
        daterange: [{ required: true, message: 'Please input date', trigger: 'blur' }]
      },
      eventSources: [],
      config: {
        height: 500,
        lazyFetching: true,
        nowIndicator: true,
        timeFormat: 'H:mm',
        slotLabelFormat: 'HH:mm',
        slotDuration: '00:60:00',
        locale: store.getters.language || 'en',
        /* validRange: {
          start: '2018-10-22',
          end: '2018-10-25'
        }, */
        defaultView: 'month',
        displayEventTime: true,
        displayEventEnd: true,
        buttonText: {
          basicWeek: 'Basic week',
          today: 'Today',
          agendaWeek: 'Agenda Week',
          agendaDay: 'Agenda',
          month: 'Month',
          week: 'Week',
          day: 'Day'
        },
        editable: true,
        selectable: true,
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'basicWeek,agendaWeek,agendaDay,month'
        }
      }
    }
  },
  computed: { },
  created() {
    this.eventSources = [{
      events(start, end, timezone, callback) {
        const startdate = start.format('YYYY-MM-DD HH:mm:00')
        const enddate = end.format('YYYY-MM-DD HH:mm:00')
        fetchStageScheduleperformance(id, { startdate, enddate }).then(response => {
          if (response.data.scheduleperformances) {
            callback(response.data.scheduleperformances)
          } else {
            callback('')
          }
        }).catch(err => {
          console.log(err)
          callback('')
        })
      },
      color: typeOptions[0].color,
      textColor: typeOptions[0].textcolor
    },
    {
      events(start, end, timezone, callback) {
        const startdate = start.format('YYYY-MM-DD HH:mm:00')
        const enddate = end.format('YYYY-MM-DD HH:mm:00')
        fetchStageSchedulesetup(id, { startdate, enddate }).then(response => {
          if (response.data.schedulesetups) {
            callback(response.data.schedulesetups)
          } else {
            callback('')
          }
        }).catch(err => {
          console.log(err)
          callback('')
        })
      },
      color: typeOptions[1].color,
      textColor: typeOptions[1].textcolor
    },
    {
      events(start, end, timezone, callback) {
        const startdate = start.format('YYYY-MM-DD HH:mm:00')
        const enddate = end.format('YYYY-MM-DD HH:mm:00')
        fetchStageSchedulehotel(id, { startdate, enddate }).then(response => {
          if (response.data.schedulehotels) {
            callback(response.data.schedulehotels)
          } else {
            callback('')
          }
        }).catch(err => {
          console.log(err)
          callback('')
        })
      },
      color: typeOptions[2].color,
      textColor: typeOptions[2].textcolor
    },
    {
      events(start, end, timezone, callback) {
        const startdate = start.format('YYYY-MM-DD HH:mm:00')
        const enddate = end.format('YYYY-MM-DD HH:mm:00')
        fetchStageSchedulerestaurant(id, { startdate, enddate }).then(response => {
          console.log(response)
          if (response.data.schedulerestaurants) {
            callback(response.data.schedulerestaurants)
          } else {
            callback('')
          }
        }).catch(err => {
          console.log(err)
          callback('')
        })
      },
      color: typeOptions[3].color,
      textColor: typeOptions[3].textcolor
    },
    {
      events(start, end, timezone, callback) {
        const startdate = start.format('YYYY-MM-DD HH:mm:00')
        const enddate = end.format('YYYY-MM-DD HH:mm:00')
        fetchStageSchedule(id, { startdate, enddate }).then(response => {
          if (response.data.schedules) {
            callback(response.data.schedules)
          } else {
            callback('')
          }
        }).catch(err => {
          console.log(err)
          callback('')
        })
      },
      color: typeOptions[4].color,
      textColor: typeOptions[4].textcolor
    }
    ]
  },
  methods: {
    getRemoteEventList(query) {
      this.eventloading = true
      if (query !== '') {
        searchEvent({ name: query }).then(response => {
          if (response.data.length === 0) return
          this.eventListOptions = response.data.events
        }).finally(() => {
          this.eventloading = false
        })
      }
    },
    getRemoteArtistList(query) {
      this.artistloading = true
      if (query !== '') {
        searchArtist({ name: query }).then(response => {
          if (response.data.length === 0) return
          this.artistListOptions = response.data.artists
        }).finally(() => {
          this.artistloading = false
        })
      }
    },
    getRemoteHotelList(query) {
      this.hotelloading = true
      if (query !== '') {
        searchHotel({ name: query }).then(response => {
          if (response.data.length === 0) return
          this.hotelListOptions = response.data.hotels
        }).finally(() => {
          this.hotelloading = false
        })
      }
    },
    getRemoteRestaurantList(query) {
      this.restaurantloading = true
      if (query !== '') {
        searchRestaurant({ name: query }).then(response => {
          if (response.data.length === 0) return
          this.restaurantListOptions = response.data.restaurants
        }).finally(() => {
          this.restaurantloading = false
        })
      }
    },
    createevent(type, data) {
      switch (type) {
        case '1':
          return new Promise(function(resolve, reject) {
            createScheduleperformance(data).then(response => {
              if (response.status === 201) {
                resolve(response.data)
              }
              reject(response)
            }).catch(err => {
              reject(err)
            })
          })
        case '2':
          data = Object.assign(data, { setup: this.temp.setuptime })
          return new Promise(function(resolve, reject) {
            createSchedulesetup(data).then(response => {
              if (response.status === 201) {
                resolve(response.data)
              }
              reject(response)
            }).catch(err => {
              reject(err)
            })
          })
        case '3':
          data = Object.assign(data, { hotel: this.temp.hotel, single: this.temp.hotelsingle, double: this.temp.hoteldouble, twin: this.temp.hoteltwin, comment: this.temp.hotelcomment })
          return new Promise(function(resolve, reject) {
            createSchedulehotel(data).then(response => {
              if (response.status === 201) {
                resolve(response.data)
              }
              reject(response)
            }).catch(err => {
              reject(err)
            })
          })
        case '4':
          data = Object.assign(data, { restaurant: this.temp.restaurant, comment: this.temp.restaurantcomment })
          return new Promise(function(resolve, reject) {
            createSchedulerestaurant(data).then(response => {
              if (response.status === 201) {
                resolve(response.data)
              }
              reject(response)
            }).catch(err => {
              reject(err)
            })
          })
        default:
          data = Object.assign(data, { comment: this.temp.othercomment })
          return new Promise(function(resolve, reject) {
            createSchedule(data).then(response => {
              if (response.status === 201) {
                resolve(response.data)
              }
              reject(response)
            }).catch(err => {
              reject(err)
            })
          })
      }
    },
    deleteevent(type, data) {
      switch (type) {
        case '1':
          return new Promise(function(resolve, reject) {
            deleteScheduleperformance(data).then(response => {
              if (response.status === 204) {
                resolve(response.data)
              }
              reject(response)
            }).catch(err => {
              reject(err)
            })
          })
        case '2':
          return new Promise(function(resolve, reject) {
            deleteSchedulesetup(data).then(response => {
              if (response.status === 204) {
                resolve(response.data)
              }
              reject(response)
            }).catch(err => {
              reject(err)
            })
          })
        case '3':
          return new Promise(function(resolve, reject) {
            deleteSchedulehotel(data).then(response => {
              if (response.status === 204) {
                resolve(response.data)
              }
              reject(response)
            }).catch(err => {
              reject(err)
            })
          })
        case '4':
          return new Promise(function(resolve, reject) {
            deleteSchedulerestaurant(data).then(response => {
              if (response.status === 204) {
                resolve(response.data)
              }
              reject(response)
            }).catch(err => {
              reject(err)
            })
          })
        default:
          return new Promise(function(resolve, reject) {
            deleteSchedule(data).then(response => {
              if (response.status === 204) {
                resolve(response.data)
              }
              reject(response)
            }).catch(err => {
              reject(err)
            })
          })
      }
    },
    updateevent(old, data) {
      if (old.type !== data.type) { // remove old one
        const t = [
          this.deleteevent(old.type, old.id),
          this.createevent(data.type, data)
        ]
        return Promise.all(t)
      } else {
        switch (old.type) {
          case '1':
            return new Promise(function(resolve, reject) {
              updateScheduleperformance(data.id, data).then(response => {
                if (response.status === 200) {
                  resolve(response.data)
                }
                reject(response)
              }).catch(err => {
                reject(err)
              })
            })
          case '2':
            data = Object.assign(data, { setup: this.temp.setuptime })
            return new Promise(function(resolve, reject) {
              updateSchedulesetup(data.id, data).then(response => {
                if (response.status === 200) {
                  resolve(response.data)
                }
                reject(response)
              }).catch(err => {
                reject(err)
              })
            })
          case '3':
            data = Object.assign(data, { hotel: this.temp.hotel, single: this.temp.hotelsingle, double: this.temp.hoteldouble, twin: this.temp.hoteltwin, comment: this.temp.hotelcomment })
            return new Promise(function(resolve, reject) {
              updateSchedulehotel(data.id, data).then(response => {
                if (response.status === 200) {
                  resolve(response.data)
                }
                reject(response)
              }).catch(err => {
                reject(err)
              })
            })
          case '4':
            data = Object.assign(data, { restaurant: this.temp.restaurant, comment: this.temp.restaurantcomment })
            return new Promise(function(resolve, reject) {
              updateSchedulerestaurant(data.id, data).then(response => {
                if (response.status === 200) {
                  resolve(response.data)
                }
                reject(response)
              }).catch(err => {
                reject(err)
              })
            })
          default:
            data = Object.assign(data, { comment: this.temp.othercomment })
            return new Promise(function(resolve, reject) {
              updateSchedule(data.id, data).then(response => {
                if (response.status === 200) {
                  resolve(response.data)
                }
                reject(response)
              }).catch(err => {
                reject(err)
              })
            })
        }
      }
    },
    handleSetUpChange(value) {
      this.temp.setup = this.$moment(this.temp.daterange[0]).subtract(value, 'm').format('DD-MM-YYYY HH:mm')
    },
    refreshEvents() {
      this.$refs.calendar.$emit('refetch-events')
    },
    eventSelected(event, jsEvent, view) {
      this.handleUpdate(event)
    },
    eventResize(event, delta, revertFunc) {
      this.handleUpdate(event)
    },
    eventDrop(event, delta, revertFunc) {
      this.handleUpdate(event)
    },
    eventCreated(event) {
      this.handleCreate(event.start.format('YYYY-MM-DD HH:mm'), event.end.format('YYYY-MM-DD HH:mm'))
    },
    selectedDate(start, end, jsEvent) {
      // this.handleCreate(start.format('YYYY-MM-DD HH:mm'), end.format('YYYY-MM-DD HH:mm'))
    },
    handleCreate(start, end) {
      this.resetTemp(start, end)
      this.artistListOptions = []
      this.dialogStatus = 'create'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    createData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          this.loadingtemp = true
          const data = {
            name: this.temp.name,
            startdate: this.temp.daterange[0],
            enddate: this.temp.daterange[1],
            artist: this.temp.artist,
            stage: this.stageId
          }
          this.createevent(this.temp.type, data).then(resolve => {
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Created successfully',
              type: 'success',
              duration: 2000
            })
          }).catch(reject => {
            console.log(reject)
            this.$notify({
              title: 'Error',
              message: reject.message,
              type: 'error',
              duration: 2000
            })
          }).finally(() => {
            this.$refs.calendar.fireMethod('refetchEvents')
            this.loadingtemp = false
          })
        }
      })
    },
    handleUpdate(row) {
      this.artistListOptions = []
      const temp = {
        id: row.id_schedule,
        name: row.title,
        type: row.type,
        daterange: [row.start.format('YYYY-MM-DD HH:mm'), row.end.format('YYYY-MM-DD HH:mm')],
        artist: row.id_artist
      }
      switch (row.type) {
        case '2':
          temp.setuptime = (row.start.diff(this.$moment(row.setup), 'minutes'))
          temp.setup = this.$moment(row.setup).format('YYYY-MM-DD HH:mm')
          break
        case '3':
          temp.hotel = row.hotel
          this.hotelListOptions = []
          this.hotelListOptions.push({ id_hotel: row.hotel, name: row.hotelname })
          temp.hotelsingle = row.single
          temp.hoteldouble = row.double
          temp.hoteltwin = row.twin
          temp.hotelcomment = row.comment
          break
        case '4':
          temp.restaurant = row.restaurant
          this.restaurantListOptions = []
          this.restaurantListOptions.push({ id_restaurant: row.restaurant, name: row.restaurantname })
          temp.restaurantcomment = row.comment
          break
        case '5':
          temp.othercomment = row.comment
          break
      }
      this.oldtemp = {
        id: row.id_schedule,
        type: row.type
      }
      this.artistListOptions.push({ id_artist: row.id_artist, name: row.artist })
      this.temp = Object.assign({}, temp) // copy obj
      this.dialogStatus = 'update'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    updateData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          this.loadingtemp = true
          const data = {
            id: this.temp.id,
            name: this.temp.name,
            startdate: this.temp.daterange[0],
            enddate: this.temp.daterange[1],
            artist: this.temp.artist,
            stage: this.stageId,
            type: this.temp.type
          }
          this.updateevent(this.oldtemp, data).then(response => {
            this.dialogFormVisible = false
            this.$refs.calendar.fireMethod('refetchEvents')
            this.$notify({
              title: 'Success',
              message: 'Updated successfully',
              type: 'success',
              duration: 2000
            })
          }).catch(err => {
            console.log(err)
            this.$notify({
              title: 'Error',
              message: err.message,
              type: 'error',
              duration: 2000
            })
          }).finally(() => {
            this.loadingtemp = false
          })
        }
      })
    },
    deleteData() {
      if (this.temp.id) {
        this.$confirm(this.$t('global.deleteQuestion'), 'Warning', {
          confirmButtonText: 'OK',
          cancelButtonText: this.$t('global.cancel'),
          type: 'warning'
        }).then(() => {
          this.deleteevent(this.oldtemp, this.temp.id).then(resp => {
            this.$message({
              type: 'success',
              message: this.$t('global.deleteSuccess')
            })
            this.$refs.calendar.fireMethod('refetchEvents')
            this.dialogFormVisible = false
          }).catch(err => {
            this.$message.error(this.$t('global.deleteCancel') + err.message)
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: this.$t('global.deleteCancel')
          })
        })
      }
    },
    handleCancel() {
      this.$refs.calendar.fireMethod('refetchEvents')
      this.dialogFormVisible = false
      this.$notify.info({
        title: 'Info',
        message: 'Operation Canceled'
      })
    },
    resetTemp(start, end) {
      this.temp = {
        id: undefined,
        artist: undefined,
        name: '',
        type: '',
        setuptime: 0,
        daterange: [start, end]
      }
      this.oldtemp = undefined
    },
    newartist() {
      this.$router.push({ name: 'createArtist' })
    },
    newrestaurant() {
      this.$router.push({ name: 'createRestaurant' })
    },
    newhotel() {
      this.$router.push({ name: 'createHotel' })
    }
  }
}
</script>
<style rel="stylesheet/scss" lang="scss" scoped>
@import "src/styles/mixin.scss";
.create-container {
  position: relative;
  padding: 40px 45px 20px 50px;
  .pull-right{
    float: right;
  }
  .width80 {
    width: calc(100% - 115px);
  }
  .width20 {
    width: 110px;
  }
  .listoptions {
    list-style-type: none;
    padding-left: 10px;
  }
  .listitemoptions {
    border-radius: 5px;
    padding: 0.15em 4px;
    margin-top: 3px;
  }
}
</style>