<template>
    <div v-loading="loadingdetail">
        <el-row>
            <div class="pull-left">
                <h3>{{detail.name}}</h3>
            </div>
        </el-row>
        <el-row :gutter="20">
            <el-col :sm="24">
                <el-card class="box-card">
                    <div slot="header" class="clearfix">
                        <span>{{$t('global.information')}}</span>
                        <div class="pull-right">
                            <router-link :to="'/stage/edit/'+detail.id_stage">
                                <el-button type="primary" size="mini">
                                    <i class="el-icon-edit"></i>
                                </el-button>
                            </router-link>
                        </div>
                    </div>
                    <el-col :xs="24" :sm="12">
                        <div class="text item">
                            <svg-icon icon-class="identity" />{{detail.name}}
                        </div>
                        <div class="text item">
                            <svg-icon icon-class="event" /><span v-if="detail.event">{{detail.event.data.name}}</span>
                        </div>
                         <div class="text item">
                            <svg-icon icon-class="schedule" /><span v-if="detail.event">{{detail.event.data.date_begin |  parseTime('{y}-{m}-{d} {h}:{i}')}} - {{detail.event.data.date_end | parseTime('{y}-{m}-{d} {h}:{i}')}}</span>
                        </div>
                        <div class="text item">
                            <svg-icon icon-class="technician" /><span v-if="detail.technician">{{detail.technician.data.name}}</span>
                        </div>
                    </el-col>
                    <el-col :xs="24" :sm="12">
                        <div class="text item">
                            <svg-icon icon-class="detail" /><span> {{detail.length}}</span>
                        </div>
                        <div class="text item">
                            <svg-icon icon-class="detail" /><span> {{detail.width}}</span>
                        </div>
                        <div class="text item">
                            <svg-icon icon-class="detail" /><span> {{detail.description}}</span>
                        </div>
                    </el-col>
                </el-card>
            </el-col>
        </el-row>
        <el-row style="margin-top: 10px">
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <span>{{$t('route.Schedule')}}</span>
                </div>
                <div class="text item">
                    <full-calendar ref="calendar" :config="config" :event-sources="eventSources" @event-selected="eventSelected" />
                </div>
            </el-card>
        </el-row>
        <el-dialog :title="$t('global.view')" :visible.sync="dialogFormVisible" class="custom-modal" width="80%">
                <el-form ref="dataForm" :model="temp" label-position="left" label-width="80px">
                    <el-form-item :label="$t('global.type')" prop="type">
                        <el-input :disabled="true" v-model="temp.type.display_name" class="text-color"></el-input>
                    </el-form-item>
                    <el-form-item :label="$t('global.name')" prop="name">
                        <el-input :disabled="true" v-model="temp.name" class="text-color"></el-input>
                    </el-form-item>
                    <el-form-item :label="$t('route.Artist')">
                      <el-input :disabled="true" v-model="temp.artist" class="text-color"></el-input>
                    </el-form-item>
                    <el-form-item :label="$t('global.dateRange')">
                      <el-input :disabled="true" v-model="temp.daterange[0]" class="text-color" style="float:left;width:48%"></el-input>
                      <span style="float: left;text-align: center;width: 4%;"> {{$t('global.to')}} </span>
                      <el-input :disabled="true" v-model="temp.daterange[1]" class="text-color" style="float:left;width:48%"></el-input>
                    </el-form-item>
                    <div v-if="temp.type.key === '2'">
                        <el-row :gutter="10">
                            <el-col :span="12">
                                <el-form-item :label="$t('schedule.setup')">
                                  <el-input :disabled="true" v-model="temp.setuptime" class="text-color"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item :label="$t('schedule.arrival')">
                                    <el-input :disabled="true" v-model="temp.setup" class="text-color"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </div>
                    <div v-if="temp.type.key === '3'">
                        <el-row>
                            <el-form-item :label="$t('route.Hotel')">
                              <el-input :disabled="true" v-model="temp.hotel" class="text-color"></el-input>
                            </el-form-item>
                        </el-row>
                        <el-row :gutter="10">
                            <el-col :span="8">
                                <el-form-item :label="$t('hotel.single')">
                                  <el-input :disabled="true" v-model="temp.hotelsingle" class="text-color"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                <el-form-item :label="$t('hotel.double')">
                                  <el-input :disabled="true" v-model="temp.hoteldouble" class="text-color"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                <el-form-item :label="$t('hotel.twin')">
                                  <el-input :disabled="true" v-model="temp.hoteltwin" class="text-color"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-form-item :label="$t('global.comment')">
                                <el-input :disabled="true" v-model="temp.hotelcomment" type="textarea" autosize  class="text-color"></el-input>
                            </el-form-item>
                        </el-row>
                    </div>
                    <div v-if="temp.type.key === '4'">
                        <el-form-item :label="$t('route.Restaurant')">
                            <el-input :disabled="true" v-model="temp.restaurant"  class="text-color"></el-input>
                        </el-form-item>
                        <el-form-item :label="$t('global.comment')">
                            <el-input :disabled="true" v-model="temp.restaurantcomment" type="textarea" autosize  class="text-color"></el-input>
                        </el-form-item>
                    </div>
                    <div v-if="temp.type.key === '5'">
                        <el-form-item :label="$t('global.comment')">
                            <el-input :disabled="true" v-model="temp.othercomment" type="textarea" autosize  class="text-color"></el-input>
                        </el-form-item>
                    </div>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="dialogFormVisible = false" style="margin-right:15px">{{$t('global.cancel')}}</el-button>
                    <el-button type="primary" @click="dialogFormVisible = false">Ok</el-button>
                </div>
            </el-dialog>
    </div>
</template>

<script>
import { fetchStage } from '@/api/stage'
import { fetchStageSchedule } from '@/api/schedule'
import { fetchStageSchedulehotel } from '@/api/schedulehotel'
import { fetchStageSchedulerestaurant } from '@/api/schedulerestaurant'
import { fetchStageSchedulesetup } from '@/api/schedulesetup'
import { fetchStageScheduleperformance } from '@/api/scheduleperformance'
import typeOptions from '@/api/scheduletype'
import '@/components/Fullcalendar/style.css'
import 'fullcalendar/dist/locale/pt'
import store from '@/store'

export default {
  name: 'view-detail',
  data() {
    return {
      detail: { name: '' },
      typeOptions,
      temp: {
        id: undefined,
        name: '',
        type: '',
        daterange: '',
        setup: '',
        setuptime: 0
      },
      loadingdetail: true,
      dialogFormVisible: false,
      eventSources: [],
      events: [],
      config: {
        height: 400,
        lazyFetching: true,
        nowIndicator: true,
        timeFormat: 'H:mm',
        slotLabelFormat: 'HH:mm',
        slotDuration: '00:60:00',
        locale: store.getters.language || 'en',
        defaultView: 'listMonth',
        displayEventTime: true,
        displayEventEnd: true,
        buttonText: {
          listDay: this.$t('schedule.listDay'),
          listWeek: this.$t('schedule.listWeek'),
          listMonth: this.$t('schedule.listMonth'),
          listYear: this.$t('schedule.listYear')
        },
        editable: true,
        selectable: true,
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'listDay,listWeek,listMonth,listYear'
        }
      }
    }
  },
  created() {
    const id = this.$route.params && this.$route.params.id
    if (id) {
      this.getList(id)
      this.eventSources = [{
        events(start, end, timezone, callback) {
          const startdate = start.format('YYYY-MM-DD HH:mm:00')
          const enddate = end.format('YYYY-MM-DD HH:mm:00')
          fetchStageScheduleperformance(id, { startdate, enddate }).then(response => {
            if (response.data.scheduleperformances) {
              callback(response.data.scheduleperformances)
            } else {
              callback('')
            }
          }).catch(err => {
            console.log(err)
            callback('')
          })
        },
        color: typeOptions[0].color,
        textColor: typeOptions[0].textcolor
      },
      {
        events(start, end, timezone, callback) {
          const startdate = start.format('YYYY-MM-DD HH:mm:00')
          const enddate = end.format('YYYY-MM-DD HH:mm:00')
          fetchStageSchedulesetup(id, { startdate, enddate }).then(response => {
            if (response.data.schedulesetups) {
              callback(response.data.schedulesetups)
            } else {
              callback('')
            }
          }).catch(err => {
            console.log(err)
            callback('')
          })
        },
        color: typeOptions[1].color,
        textColor: typeOptions[1].textcolor
      },
      {
        events(start, end, timezone, callback) {
          const startdate = start.format('YYYY-MM-DD HH:mm:00')
          const enddate = end.format('YYYY-MM-DD HH:mm:00')
          fetchStageSchedulehotel(id, { startdate, enddate }).then(response => {
            if (response.data.schedulehotels) {
              callback(response.data.schedulehotels)
            } else {
              callback('')
            }
          }).catch(err => {
            console.log(err)
            callback('')
          })
        },
        color: typeOptions[2].color,
        textColor: typeOptions[2].textcolor
      },
      {
        events(start, end, timezone, callback) {
          const startdate = start.format('YYYY-MM-DD HH:mm:00')
          const enddate = end.format('YYYY-MM-DD HH:mm:00')
          fetchStageSchedulerestaurant(id, { startdate, enddate }).then(response => {
            if (response.data.schedulerestaurants) {
              callback(response.data.schedulerestaurants)
            } else {
              callback('')
            }
          }).catch(err => {
            console.log(err)
            callback('')
          })
        },
        color: typeOptions[3].color,
        textColor: typeOptions[3].textcolor
      },
      {
        events(start, end, timezone, callback) {
          const startdate = start.format('YYYY-MM-DD HH:mm:00')
          const enddate = end.format('YYYY-MM-DD HH:mm:00')
          fetchStageSchedule(id, { startdate, enddate }).then(response => {
            if (response.data.schedules) {
              callback(response.data.schedules)
            } else {
              callback('')
            }
          }).catch(err => {
            console.log(err)
            callback('')
          })
        },
        color: typeOptions[4].color,
        textColor: typeOptions[4].textcolor
      }
      ]
    } else {
      this.$router.push({ path: '/404', replace: true, query: { noGoBack: true }})
    }
  },
  methods: {
    getList(id) {
      this.loadingdetail = true
      fetchStage(id).then(response => {
        if (response.status === 200) {
          this.detail = response.data.data
          this.loadingdetail = false
        }
      }).catch(err => {
        if (err.response.status === 404) {
          this.$router.push({ path: '/404', replace: true, query: { noGoBack: true }})
        }
      })
    },
    eventSelected(row, jsEvent, view) {
      const temp = {
        id: row.id_schedule,
        name: row.title,
        type: typeOptions.find(x => x.key === row.type),
        daterange: [row.start.format('YYYY-MM-DD HH:mm'), row.end.format('YYYY-MM-DD HH:mm')],
        artist: row.artist
      }
      switch (row.type) {
        case '2':
          temp.setuptime = (row.start.diff(this.$moment(row.setup), 'minutes'))
          temp.setup = this.$moment(row.setup).format('YYYY-MM-DD HH:mm')
          break
        case '3':
          temp.hotel = row.hotelname
          temp.hotelsingle = row.single
          temp.hoteldouble = row.double
          temp.hoteltwin = row.twin
          temp.hotelcomment = row.comment
          break
        case '4':
          temp.restaurant = row.restaurantname
          temp.restaurantcomment = row.comment
          break
        case '5':
          temp.othercomment = row.comment
          break
      }
      this.temp = Object.assign({}, temp) // copy obj
      this.dialogFormVisible = true
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "src/styles/mixin.scss";
.pull-left{
  float: left;
}
.pull-right {
  float: right;
}
 h2 {
    color: #595959;
  }
  h3 {
    color: #737373;
    margin-top: 0px;
  }
  .text {
    font-size: 16px;
  }
  .item {
    margin-bottom: 18px;
    .svg-icon {
      margin-right: 5px;
      vertical-align: top;
    }
  }
  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both
  }

  .box-card {
    width: 100%;
  }
  .text-color{
    color: #606266 !important;
    -webkit-text-fill-color: #606266 !important;
    input:disabled {
    color: #606266 !important;
    -webkit-text-fill-color: #606266 !important;
    }
    textarea:disabled {
    color: #606266 !important;
    -webkit-text-fill-color: #606266 !important;
    }
  }
</style>