<template>

  <el-dropdown trigger="click" class='international' @command="handleSetLanguage">
    <div>
      <el-tooltip effect="dark" :content="$t('navbar.language')" placement="bottom">
      <svg-icon class-name='international-icon' icon-class="language" />
      </el-tooltip>
    </div>
    <el-dropdown-menu slot="dropdown">
      <el-dropdown-item command="pt" :disabled="language==='pt'">Português</el-dropdown-item>
      <el-dropdown-item command="en" :disabled="language==='en'">English</el-dropdown-item>
    </el-dropdown-menu>
  </el-dropdown>

</template>

<script>
export default {
  computed: {
    language() {
      return this.$store.getters.language
    }
  },
  methods: {
    handleSetLanguage(lang) {
      this.$i18n.locale = lang
      this.$store.dispatch('setLanguage', lang)
      this.$message({
        message: this.$t('language.switchlanguagesuccess'),
        type: 'success'
      })
    }
  }
}
</script>

<style scoped>
.international-icon {
  font-size: 20px;
  cursor: pointer;
  vertical-align: -5px!important;
}
</style>


