<template>
    <div class="background-container">
        <div class="content-container" v-loading="contentLoad">
            <h2 v-if="this.isEdit">{{$t('event.titleEdit')}} {{postForm.name}}</h2>
            <h2 v-else>{{$t('event.titleCreate')}}</h2>
            <Steps ref="stepscomponent" :items="itemssteps" :active="active" @updateActiveStep="setStep"></Steps>
            <el-form :model="postForm" :rules="rules" ref="postForm">
                <div v-show="active==0">
                    <el-form-item :label="$t('event.name')" prop="name">
                        <el-input v-model="postForm.name"></el-input>
                    </el-form-item>
                    <el-form-item :label="$t('global.dateRange')" prop="daterange">
                        <el-date-picker v-model="postForm.daterange" format="yyyy-MM-dd HH:mm" value-format="yyyy-MM-dd HH:mm" type="datetimerange" range-separator="-" :start-placeholder="$t('global.dateStart')" :end-placeholder="$t('global.dateEnd')" style="width:100%">
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item :label="$t('route.Promoter')">
                        <el-select class="custom-select" v-model="postForm.promoter" filterable remote :placeholder="$t('global.search')" :loading="promoterloading" :remote-method="getRemotePromoterList" >
                            <el-option v-for="(item) in promoterListOptions" :key="item.id_promoter" :label="item.name" :value="item.id_promoter">
                            </el-option>
                        </el-select>
                        <div class="custom-select-actions">
                          <router-link :to="{path: '/promoter/edit/'+postForm.promoter}" v-show="postForm.promoter"><el-button><i class="el-icon-edit"></i></el-button></router-link>
                          <router-link :to="{name: 'createPromoter'}"><el-button type="primary"><i class="el-icon-plus"></i></el-button></router-link>
                        </div>
                    </el-form-item>
                </div>
                <div v-show="active==1">
                    <el-form-item :label="$t('route.Production')">
                        <el-select v-model="postForm.production" filterable remote :placeholder="$t('global.search')" :loading="productionloading" :remote-method="getRemoteProductionList" class="custom-select">
                            <el-option v-for="(item) in productionListOptions" :key="item.id_production" :label="item.name" :value="item.id_production">
                            </el-option>
                        </el-select>
                        <div class="custom-select-actions">
                          <router-link :to="{path: '/promoter/edit/'+postForm.production}" v-show="postForm.production"><el-button><i class="el-icon-edit"></i></el-button></router-link>
                          <router-link :to="{name: 'createPromoter'}"><el-button type="primary"><i class="el-icon-plus"></i></el-button></router-link>
                        </div>
                    </el-form-item>
                </div>
                <div v-show="active==2">
                    <el-form-item :label="$t('global.website')" prop="website">
                        <el-input v-model="postForm.website"></el-input>
                    </el-form-item>
                    <el-form-item :label="$t('global.facebook')" prop="facebook">
                        <el-input v-model="postForm.facebook"><i slot="prefix" class="el-input__icon"><svg-icon icon-class="facebookoutline" /></i></el-input>
                    </el-form-item>
                    <el-form-item :label="$t('global.instagram')" prop="instagram">
                        <el-input v-model="postForm.instagram"><i slot="prefix" class="el-input__icon"><svg-icon icon-class="instagram" /></i></el-input>
                    </el-form-item>
                    <el-form-item :label="$t('global.twitter')" prop="twitter">
                        <el-input v-model="postForm.twitter"><i slot="prefix" class="el-input__icon"><svg-icon icon-class="twitteroutline" /></i></el-input>
                    </el-form-item>
                    <el-form-item :label="$t('global.youtube')" prop="youtube">
                        <el-input v-model="postForm.youtube"><i slot="prefix" class="el-input__icon"><svg-icon icon-class="youtube" /></i></el-input>
                    </el-form-item>
                </div>
                <div v-show="active == 3">
                    <el-form-item :label="$t('global.address')" prop="address">
                        <el-input v-model="postForm.address"></el-input>
                    </el-form-item>
                     <el-row><label class="el-form-item__label">{{$t('global.map')}}</label></el-row>
                    <el-form-item label="Location">
                        <Gmap-autocomplete :value="searchaddress" class="el-input__inner searchmap" @place_changed="setPlace">
                        </Gmap-autocomplete>
                        <GmapMap :center="center" :zoom="12" style="width: 100%; height: 300px">
                            <GmapMarker v-if="place" :position="place" :draggable="true" @dragend="updateplace"></GmapMarker>
                        </GmapMap>
                    </el-form-item>
                </div>
                <div v-show="active==4">
                    <div class="editor-container">
                        <el-row><label class="el-form-item__label">{{$t('global.description')}}</label></el-row>
                        <el-row>
                            <Tinymce :height=250 ref="editor" v-model="postForm.content" />
                        </el-row>
                    </div>
                    <el-row><label class="el-form-item__label" style="width:100%">{{$t('global.image')}}</label></el-row>
                    <el-form-item>
                        <Upload v-model="postForm.cover" :tempUrl="postForm.tempcover" @changeUrl="postForm.tempcover = $event" />
                    </el-form-item>
                    <el-form-item :label="$t('event.status')">
                        <el-select v-model="postForm.status" :placeholder="$t('global.select')" style="width:100%">
                            <el-option v-for="item in statuslist" :key="item.key" :label="$t('event.'+item.value)" :value="item.key"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item class="pull-right">
                        <el-button tabindex="-1" @click="resetForm">{{$t('global.reset')}}</el-button>
                        <el-button v-loading="loading" type="success" @click="submitForm">{{$t('global.submit')}}</el-button>
                    </el-form-item>
                </div>
            </el-form>
            <Stepsactions ref="stepsactionscomponent" :items="itemssteps.length" :active="active" @updateActiveStep="setStep"></Stepsactions>
        </div>
    </div>
</template>
<script>
import Tinymce from '@/components/Tinymce'
import Upload from '@/components/Upload/singleImage'
import MDinput from '@/components/MDinput'
import Steps from '@/components/Steps'
import Stepsactions from '@/components/Steps/Actions'
import { fetchEvent, createEvent, updateEvent, statusList } from '@/api/event'
import { searchPromoter } from '@/api/promoter'
import { searchProduction } from '@/api/production'
const defaultForm = {
  status: 1,
  name: '', // Article title
  content: '', // article content
  daterange: '',
  promoter: '',
  production: '',
  cover: '',
  tempcover: '',
  id: undefined,
  address: '',
  website: '',
  facebook: '',
  youtube: '',
  twitter: '',
  instagram: ''
}
export default {
  name: 'Detail',
  components: { Tinymce, MDinput, Upload, Steps, Stepsactions },
  props: {
    isEdit: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      active: 0,
      itemssteps: ['Step 1', 'Step 2', 'Step 3', 'Step 4', 'Step 5'],
      statuslist: statusList,
      postForm: Object.assign({}, defaultForm),
      loading: false,
      contentLoad: true,
      searchaddress: '',
      place: undefined,
      center: { lat: 40.6698914, lng: -7.9655772 },
      promoterloading: false,
      productionloading: false,
      promoterListOptions: [],
      productionListOptions: [],
      rules: {
        name: [{ required: true, message: this.$t('global.empty'), trigger: 'blur' }],
        daterange: [{ required: true, message: 'Please input date', trigger: 'blur' }]
      }
    }
  },
  created() {
    if (this.isEdit) {
      const id = this.$route.params && this.$route.params.id
      this.fetchData(id)
    } else {
      this.postForm = Object.assign({}, defaultForm)
      this.contentLoad = false
    }
  },
  methods: {
    setStep(x) {
      this.active = x
      this.$refs.stepscomponent.setActive(x)
      this.$refs.stepsactionscomponent.setActive(x)
    },
    fetchData(id) {
      fetchEvent(id).then(response => {
        if (response.status === 200 && response.data.data.id_event) {
          this.postForm = {
            status: Number(response.data.data.status),
            name: response.data.data.event,
            content: response.data.data.description,
            daterange: [response.data.data.date_begin, response.data.data.date_end],
            id: response.data.data.id_event,
            promoter: response.data.data.id_promoter,
            production: response.data.data.id_production,
            address: response.data.data.address,
            facebook: response.data.data.facebook,
            youtube: response.data.data.youtube,
            instagram: response.data.data.instagram,
            twitter: response.data.data.twitter,
            website: response.data.data.website,
            cover: response.data.data.cover,
            tempcover: response.data.data.coverlink
          }
          if (response.data.data.id_promoter) this.promoterListOptions.push({ id_promoter: response.data.data.id_promoter, name: response.data.data.promoter })
          if (response.data.data.id_production) this.productionListOptions.push({ id_production: response.data.data.id_production, name: response.data.data.production })
          this.place = { lat: Number.parseFloat(response.data.data.latitude), lng: Number.parseFloat(response.data.data.longitude) }
          this.center = { lat: Number.parseFloat(response.data.data.latitude), lng: Number.parseFloat(response.data.data.longitude) }
          this.contentLoad = false
        }
      }).catch(err => {
        if (err.response.status === 404) {
          this.$router.push({ path: '/404', replace: true, query: { noGoBack: true }})
        }
      })
    },
    getRemotePromoterList(query) {
      this.promoterloading = true
      if (query !== '') {
        searchPromoter({ name: query }).then(response => {
          if (response.data.length === 0) return
          this.promoterListOptions = response.data.promoters
        }).finally(() => {
          this.promoterloading = false
        })
      }
    },
    getRemoteProductionList(query) {
      this.productionloading = true
      if (query !== '') {
        searchProduction({ name: query }).then(response => {
          console.log(response)
          if (response.data.length === 0) return
          this.productionListOptions = response.data.productions
        }).finally(() => {
          this.productionloading = false
        })
      }
    },
    submitForm() {
      this.$refs.postForm.validate(valid => {
        if (valid) {
          this.loading = true
          const data = {
            name: this.postForm.name,
            status: this.postForm.status,
            description: this.postForm.content,
            startdate: this.postForm.daterange[0],
            enddate: this.postForm.daterange[1],
            promoter: this.postForm.promoter,
            production: this.postForm.production,
            address: this.postForm.address,
            website: this.postForm.website,
            facebook: this.postForm.facebook,
            youtube: this.postForm.youtube,
            twitter: this.postForm.twitter,
            instagram: this.postForm.instagram,
            cover: this.postForm.cover,
            lat: (this.place) ? this.place.lat : ' ',
            lng: (this.place) ? this.place.lng : ' '
          }
          if (this.isEdit) {
            updateEvent(this.postForm.id, data).then(response => {
              if (response.status === 200) {
                this.$notify({
                  title: 'Success',
                  message: 'Updated',
                  type: 'success',
                  duration: 2000
                })
              }
            }).catch(err => {
              console.log(err)
            }).finally(fin => {
              this.loading = false
            })
          } else {
            createEvent(data).then(response => {
              if (response.status === 201 && response.data.data.id_event) {
                this.$notify({
                  title: 'Success',
                  message: 'Created',
                  type: 'success',
                  duration: 2000
                })
                this.resetForm()
                this.$router.push({ name: 'listEvent' })
              }
            }).catch(err => {
              console.log(err)
            }).finally(fin => {
              this.loading = false
            })
          }
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    updateplace(event) {
      this.place = { lat: event.latLng.lat(), lng: event.latLng.lng() }
    },
    setPlace(place) {
      const pos = { lat: place.geometry.location.lat(), lng: place.geometry.location.lng() }
      this.place = pos
      this.center = pos
    },
    resetForm() {
      this.setStep(0)
      this.$refs.postForm.resetFields()
    }
  }
}
</script>
<style rel="stylesheet/scss" lang="scss" scoped>
@import "src/styles/mixin.scss";
.background-container {
  padding: 15px 35px 20px 35px;
  h2 {
    color: #595959;
  }
  .pull-right{
    float: right;
  }
  .content-container{
    padding: 5px 20px 50px 20px;
    background-color: #fff;
    border-color: rgba(0,0,0,.05);
    box-shadow: 4px 4px 40px rgba(0,0,0,.05)
  }
  .searchmap {
    position: absolute;
    z-index: 1;
    margin-left: 200px;
    margin-top: 10px;
    max-width: 50%;
  }
  .steps-action {
    width: 100%;
  }
  .custom-select {
    width: 100%;
  }
  .custom-select-actions {
    :not(:first-child) {
      margin-left: -3px;
    }
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
</style>
