<template>
<div>
        <el-table :data="list" v-loading="listLoading" border fit highlight-current-row style="width: 100%">
             <el-table-column align="center" label="#" width="40" fixed>
        <template slot-scope="scope">
          <span>{{scope.row.id_stage}}</span>
        </template>
      </el-table-column>
     <el-table-column min-width="150" :label="$t('global.name')">
        <template slot-scope="scope">
            <span>{{ scope.row.name }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('route.Technician')">
        <template slot-scope="scope">
            <span>{{ scope.row.technician }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" :label="$t('global.actions')" fixed="right" min-width="100" >
        <template slot-scope="scope">
          <el-button type="danger" size="small" icon="el-icon-delete" @click="removedata(scope.row.id_stage)"></el-button>
          <router-link :to="'/stage/view/'+scope.row.id_stage">
            <el-button type="primary" size="small" icon="el-icon-view"></el-button>
          </router-link>
          <router-link :to="'/stage/extend/'+scope.row.id_stage">
            <el-button type="default" size="small" icon="el-icon-document"></el-button>
          </router-link>
          <router-link :to="'/stage/edit/'+scope.row.id_stage">
            <el-button type="default" size="small" icon="el-icon-edit"></el-button>
          </router-link>
        </template>
      </el-table-column>
        </el-table>
</div>
</template>
<script>
import { fetchStageEvent, deleteStage } from '@/api/stage'

export default {
  name: 'Detail',
  components: { },
  data() {
    return {
      id: undefined,
      list: null,
      listLoading: true,
      listQuery: {
        page: 1,
        limit: 20
      }
    }
  },
  computed: { },
  created() {
    this.id = this.$route.params && this.$route.params.id
    this.getList()
  },
  activated() {
    this.id = this.$route.params && this.$route.params.id
    this.getList()
  },
  methods: {
    getList() {
      this.listLoading = true
      fetchStageEvent(this.id).then(response => {
        this.list = response.data.stages
        this.listLoading = false
      }).finally(() => {
        this.listLoading = false
      })
    },
    removedata(id) {
      this.$confirm(this.$t('global.Question'), 'Warning', {
        confirmButtonText: 'OK',
        cancelButtonText: this.$t('global.cancel'),
        type: 'warning'
      }).then(() => {
        deleteStage(id).then(resp => {
          if (resp.status === 204) {
            this.$message({
              type: 'success',
              message: this.$t('global.deleteSuccess')
            })
            this.getList()
          }
        }).catch(err => {
          this.$message.error(this.$t('global.deleteCancel') + err.message)
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: this.$t('global.deleteCancel')
        })
      })
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "src/styles/mixin.scss";
.background-container {
  padding: 15px 35px 20px 35px;
  h2 {
    color: #595959;
  }
  .pull-right{
    float: right;
  }
  .content-container{
    padding: 5px 20px 50px 20px;
    background-color: #fff;
    border-color: rgba(0,0,0,.05);
    box-shadow: 4px 4px 40px rgba(0,0,0,.05)
  }
  .edit-input-required::after {
    content: '*';
    color: #f56c6c;
    right: 10px;
    position: absolute;
    top: 8px;
  }
}
</style>
