<template>
        <div v-loading="loadingdetail">
            <el-row>
              <div class="pull-left">
                  <h3>{{detail.name}}</h3>
              </div>
          </el-row>
          <el-row :gutter="20">
            <el-col :xs="24" :sm="12" :md="8">
                <el-card class="box-card">
                    <div slot="header" class="clearfix">
                        <span>{{$t('global.information')}}</span>
                        <div class="pull-right">
                            <router-link :to="'/event/edit/'+detail.id_event">
                                <el-button type="primary" size="mini">
                                    <i class="el-icon-edit"></i>
                                </el-button>
                            </router-link>
                        </div>
                    </div>
                    <div class="box-card-header">
                        <img v-if="detail.coverlink" :src="detail.coverlink">
                        <div v-else class="noimg" ><i class="noimg-icon el-icon-picture-outline"></i></div>
                    </div>
                    
                </el-card>
            </el-col>
            <el-col :xs="24" :sm="12" :md="8">
                <el-card class="box-card">
                    <div slot="header" class="clearfix">
                        
                    </div>
                    <div class="text item">
                      <div class="text item">
                        <svg-icon icon-class="identity" />{{detail.name}}
                    </div>
                    <div class="text item">
                        <svg-icon icon-class="schedule" />{{detail.date_begin | parseTime('{y}-{m}-{d} {h}:{i}')}} - {{detail.date_end | parseTime('{y}-{m}-{d} {h}:{i}')}}
                    </div>
                        <svg-icon icon-class="promoter" /><span> {{detail.promoter}}</span>
                         <div class="pull-right">
                            <router-link v-if="detail.id_promoter" :to="'/promoter/edit/'+detail.id_promoter">
                                <el-button type="primary" size="mini">
                                    <svg-icon icon-class="edit" class="clean" />
                                </el-button>
                            </router-link>
                        </div>
                    </div>
                    <div class="text item">
                        <svg-icon icon-class="production" /><span> {{detail.production}}</span>
                         <div class="pull-right">
                            <router-link v-if="detail.id_production" :to="'/production/edit/'+detail.id_production">
                                <el-button type="primary" size="mini">
                                    <svg-icon icon-class="edit" class="clean"/>
                                </el-button>
                            </router-link>
                        </div>
                    </div>
                    <div class="text item">
                        <svg-icon icon-class="website" /><span> {{detail.website}}</span>
                    </div>
                    <div class="text item">
                        <svg-icon icon-class="facebookoutline" /><span> {{detail.facebook}}</span>
                    </div>
                    <div class="text item">
                        <svg-icon icon-class="instagram" /><span> {{detail.instagram}}</span>
                    </div>
                    <div class="text item">
                        <svg-icon icon-class="twitteroutline" /><span> {{detail.twitter}}</span>
                    </div>
                </el-card>
            </el-col>
            <el-col :xs="24" :sm="12" :md="8">
                <el-card class="box-card">
                    <div slot="header" class="clearfix">
                        <span>{{$t('global.location')}}</span>
                    </div>
                    <div class="text item">
                        <GmapMap :center="center" :zoom="6" :options="{disableDefaultUI:true}" style="width: 100%; height: 255px">
                            <GmapMarker v-if="place" :position="place" :draggable="false"></GmapMarker>
                        </GmapMap>
                    </div>
                    <div class="text item">
                        <svg-icon icon-class="marker" /><span> {{detail.address}}</span>
                    </div>
                </el-card>
            </el-col>
          </el-row>
          <el-row>

          </el-row>
        </div>
</template>

<script>
import { fetchEvent, statusList } from '@/api/event'
import 'element-ui/lib/theme-chalk/display.css'

export default {
  name: 'view-detail',
  data() {
    return {
      id: undefined,
      place: undefined,
      center: { lat: 40.6698914, lng: -7.9655772 },
      detail: { event: '', date_begin: '', date_end: '', status: '', promoter: '', production: '' },
      list: [],
      loadingdetail: true,
      listLoading: true
    }
  },
  filters: {
    statusFilter(status) {
      const statusMap = {
        0: 'warning',
        1: 'success'
      }
      return statusMap[status]
    },
    statusName(status) {
      return statusList[status].value
    }
  },
  created() {
    this.id = this.$route.params && this.$route.params.id
    if (this.id) {
      this.getList(this.id)
    } else {
      this.$router.push({ path: '/404', replace: true, query: { noGoBack: true }})
    }
  },
  methods: {
    getList(id) {
      this.loadingdetail = true
      fetchEvent(id).then(response => {
        if (response.status === 200) {
          this.detail = response.data.data
          if (response.data.data.latitude !== '') this.place = this.center = { lat: Number.parseFloat(response.data.data.latitude), lng: Number.parseFloat(response.data.data.longitude) }
          this.loadingdetail = false
        }
      }).catch(err => {
        if (err.response.status === 404) {
          this.$router.push({ path: '/404', replace: true, query: { noGoBack: true }})
        }
      })
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "src/styles/mixin.scss";

 h2 {
    color: #595959;
  }
  h3 {
    color: #737373;
    margin-top: 0px;
  }
  .text {
    font-size: 16px;
  }
  .item {
    margin-bottom: 18px;
    .svg-icon {
      margin-right: 5px;
      vertical-align: top;
    }
    .svg-icon.clean {
        vertical-align: -0.4em;
        margin-right: 0px;
    }
  }
  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both
  }

  .box-card {
    width: 100%;
  }
  .pull-right{
    float: right;
  }
 .box-card-header {
    position: relative;
    img {
      width: 100%;
      max-width: 300px;
      height: auto;
      transition: all 0.2s linear;
      &:hover {
        transform: scale(1.1, 1.1);
        filter: contrast(130%);
      }
    }
    .noimg {
      max-width: 300px;
      padding: 14px;
      height: 300px;
      margin:auto;
      background-color: #304156;
      color: #ffffff;
      .noimg-icon {
        font-size: 60px;
        position: absolute;
        top: calc(50% - 30px);
        left: calc(50% - 30px);
      }
    }
  }
@media only screen and (max-width:768px) {
  .box-card {
    margin-top: 10px;
  }
}
@media only screen and (min-width: 768px) {
.box-card {
  min-height: 410px;
}
}
</style>
