<template>
  <div class="dashboard-container">
    <component :is="currentRole"></component>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import adminDashboard from './admin'
import userDashboard from './user'

export default {
  name: 'dashboard',
  components: { adminDashboard, userDashboard },
  data() {
    return {
      currentRole: 'userDashboard'
    }
  },
  computed: {
    ...mapGetters([
      'roles'
    ])
  },
  created() {
    if (this.roles.includes('superadmin') || this.roles.includes('admin')) {
      this.currentRole = 'adminDashboard'
    }
  }
}
</script>
