<template>
    <vue-dropzone :options="dropzoneOptions">
    </vue-dropzone>
</template>
<script>
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'
export default {
  name: 'dropzonefile',
  components: {
    vueDropzone: vue2Dropzone
  }

}
</script>
