<template>
    <div class="upload-container">
        <el-upload class="file-uploader" v-loading="load" drag :multiple="true" :http-request="handleupload" action="" name="file" :show-file-list="true"
            :on-success="handleFileSuccess" :on-preview="handlePreview" :on-remove="handleFileRemove" accept=".pdf, .doc, docx">
            <div v-if="showsucess" style="background: white;width: 100%;height: 100%;color: #08ab50;text-align: center;line-height: 70px;"> 
            <el-progress type="circle"  :percentage="100" status="success" :width="50" :stroke-width="2" style="left: calc(50% - 25px); top: calc(50% - 47px);position: absolute;"></el-progress>
            Success
            </div>
            <i class="el-icon-upload"></i>
            <div class="el-upload__text">Drag file or <em>Click to upload</em></div>
        </el-upload>
    </div>
</template>

<script>
import { uploadFile } from '@/api/stagedocument'

export default {
  name: 'multipleUpload',
  props: {
    value: String,
    tempUrl: String
  },
  computed: {
  },
  data() {
    return {
      load: false,
      showsucess: false,
      filename: '',
      temp: ''
    }
  },
  methods: {
    handlePreview(file) {
      if (file.response.data.data.path) window.open(file.response.data.data.path)
    },
    handleFileRemove(file, fileList) {
      this.$emit('changeList', fileList)
    },
    handleupload(obj) {
      return new Promise((resolve, reject) => {
        this.load = true
        uploadFile(obj.file).then(response => {
          if (response.data.data) {
            this.temp = response.data.data.path
            this.filename = response.data.data.file
            this.showsucess = true
            setTimeout(() => {
              this.showsucess = false
            }, 3000)
            resolve(response)
          }
          reject(false)
        }).catch(err => {
          console.log('upload', err)
          reject(err)
        }).finally(() => {
          this.load = false
        })
      })
    },
    emitInput(val, dat) {
      this.$emit('changeFile', val)
      this.$emit('changeUrl', dat)
    },
    handleFileSuccess(response, file, fileList) {
      this.$emit('changeList', fileList)
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "src/styles/mixin.scss";
.upload-container {
    width: 100%;
    position: relative;
    float: left;
}
</style>
