<template>
    <div class="upload-container">
        <el-upload class="image-uploader" v-loading="loadfile" drag :multiple="false" :http-request="handleupload" action="" :show-file-list="false"
            :on-success="handleImageSuccess" accept=".jpg, .jpeg, .png, .gif, .svg">
            <i class="el-icon-upload"></i>
            <div class="el-upload__text">Drag file or <em>Click to upload</em></div>
        </el-upload>
        <div class="image-preview">
            <div class="image-preview-wrapper" v-show="imageFile.length>1">
                <img :src="imageUrl+'?imageView2/1/w/200/h/200'">
                <div class="image-preview-action">
                    <i @click="rmImage" class="el-icon-delete"></i>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { uploadImage } from '@/api/event'

export default {
  name: 'singleImageUpload',
  props: {
    value: String,
    tempUrl: String
  },
  computed: {
    imageFile() {
      return this.value
    },
    imageUrl() {
      return this.tempUrl
    }
  },
  data() {
    return {
      filename: '',
      temp: '',
      loadfile: false
    }
  },
  methods: {
    handleupload(obj) {
      this.loadfile = true
      return new Promise((resolve, reject) => {
        uploadImage(obj.file).then(response => {
          if (response.data.data) {
            this.temp = response.data.data.path
            this.filename = response.data.data.file
            resolve(response)
          }
          reject(false)
        }).catch(err => {
          reject(err)
        }).finally(() => {
          this.loadfile = false
        })
      })
    },
    rmImage() {
      this.emitInput('', '')
    },
    emitInput(val, dat) {
      this.$emit('input', val)
      this.$emit('changeUrl', dat)
    },
    handleImageSuccess() {
      this.emitInput(this.filename, this.temp)
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    @import "src/styles/mixin.scss";
    .upload-container {
        width: 100%;
        position: relative;
        @include clearfix;
        .image-uploader {
            width: calc(100% - 260px);
            float: left;
        }
        .image-preview {
            width: 250px;
            height: 250px;
            margin-left: 10px;
            position: relative;
            border: 1px dashed #d9d9d9;
            float: left;
            .image-preview-wrapper {
                position: relative;
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .image-preview-action {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                cursor: default;
                text-align: center;
                color: #fff;
                opacity: 0;
                font-size: 20px;
                background-color: rgba(0, 0, 0, .5);
                transition: opacity .3s;
                cursor: pointer;
                text-align: center;
                line-height: 250px;
                .el-icon-delete {
                    font-size: 36px;
                }
            }
            &:hover {
                .image-preview-action {
                    opacity: 1;
                }
            }
        }
    }
@media (max-width: 768px) {
    .image-uploader {
      width:100%
    }
  }
</style>
