<template>
    <div v-loading="loadingdetail">
        <el-row>
            <div class="pull-left">
         <h3>{{detail.name}}</h3>
         </div>
        </el-row>
        <el-row :gutter="20">
            <el-col :sm="12">
                <el-card class="box-card">
                    <div slot="header" class="clearfix">
                        <span>{{$t('global.information')}}</span>
                        <div class="pull-right">
                          <router-link :to="'/technician/edit/'+detail.id_technician">
                            <el-button type="primary" size="mini"><i class="el-icon-edit"></i></el-button>
                          </router-link>
                  
                        </div>
                    </div>
                    <div class="text item">
                        <svg-icon icon-class="identity" />{{detail.name}}
                    </div>
                    <div class="text item">
                        <svg-icon icon-class="telephone" />{{detail.contact}}
                    </div>
                    <div class="text item">
                        <svg-icon icon-class="email" />{{detail.email}}
                    </div>
                   
                    
                </el-card>
            </el-col>
        </el-row>
    </div>
</template>

<script>
import { fetchTechnician } from '@/api/technician'
export default {
  name: 'view-detail',
  data() {
    return {
      detail: { name: '' },
      loadingdetail: true
    }
  },
  created() {
    const id = this.$route.params && this.$route.params.id
    if (id) {
      this.getList(id)
    } else {
      this.$router.push({ path: '/404', replace: true, query: { noGoBack: true }})
    }
  },
  methods: {
    getList(id) {
      this.loadingdetail = true
      fetchTechnician(id).then(response => {
        if (response.status === 200) {
          this.detail = response.data.data
          this.loadingdetail = false
        }
      })
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "src/styles/mixin.scss";
.pull-left{
  float: left;
}
.pull-right {
  float: right;
}
 h2 {
    color: #595959;
  }
  h3 {
    color: #737373;
    margin-top: 0px;
  }
  .text {
    font-size: 16px;
  }
  .item {
    margin-bottom: 18px;
    .svg-icon {
      margin-right: 5px;
      vertical-align: top;
    }
  }
  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both
  }

  .box-card {
    width: 100%;
  }

</style>