<template>
<div class="background-container">
        <div class="content-container" >
  <div class="app-container">
    <h2>Report</h2>
    <el-form :model="postForm" :rules="rules" ref="postForm" label-position="left" :inline="true">
      <el-row>
       <el-form-item :label="$t('global.type')" prop="type">
           <el-select v-model="postForm.type" placeholder="Select" clearable >
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>

        <el-form-item :label="$t('route.Event')" prop="type">
           <el-select v-model="postForm.id_event" placeholder="Select" clearable @change="getStages" >
            <el-option
              v-for="item in event"
              :key="item.id_event"
              :label="item.name"
              :value="item.id_event">
            </el-option>
          </el-select>
        </el-form-item>
       
        <el-form-item :label="$t('route.Stage')" prop="type" v-if="postForm.id_event" >
           <el-select v-model="postForm.id_stage" placeholder="Select" clearable @change="getArtistTechnician" >
            <el-option
              v-for="item in stages"
              :key="item.id_stage"
              :label="item.name"
              :value="item.id_stage">
            </el-option>
          </el-select>
        </el-form-item>
       
      </el-row>
        <el-form-item :label="$t('route.Artist')" prop="type" v-if="postForm.id_stage" >
           <el-select v-model="postForm.id_artist" placeholder="Select" clearable @change="setArtist">
            <el-option
              v-for="item in artists"
              :key="item.id_artist"
              :label="item.name"
              :value="item.id_artist">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item :label="$t('route.Technician')" prop="type" v-if="postForm.id_stage" >
           <el-select v-model="postForm.id_technician" placeholder="Select" clearable @change="setTechnician">
            <el-option
              v-for="item in technicians"
              :key="item.id_technician"
              :label="item.name"
              :value="item.id_technician">
            </el-option>
          </el-select>
        </el-form-item>
         <el-form-item class="pull-right">
            <el-button v-loading="loading" type="success" @click="submitForm">{{$t('global.submit')}}</el-button>
          </el-form-item>
    </el-form>
  </div>
        </div>
</div>
</template>

<script>
import { fetchList } from '@/api/event'
import { generateRoadbook } from '@/api/stage'
import { fetchStageEvent, fecthStageArtistTechnician } from '@/api/stage'

const defaultForm = {
  type: '',
  event: ''
}

export default {
  name: 'listReport',
  data() {
    return {
      options: [{
        value: '1',
        label: 'Roadbook'
      }],
      rules: {
        type: [{ required: true, message: this.$t('global.empty'), trigger: 'blur' }]
      },
      postForm: {
        type: '',
        id_event: undefined,
        id_stage: undefined,
        id_artist: undefined,
        id_technician: undefined
      },
      event: undefined,
      stages: [],
      artists: [],
      technicians: [],
      loading: false
    }
  },
  created() {
    this.postForm = Object.assign({}, defaultForm)
    fetchList().then(response => {
      if (response.status === 200) {
        this.event = response.data.data
        this.loading = false
      }
    })
  },
  methods: {
    setArtist() {
      this.postForm.id_technician = undefined
    },
    setTechnician() {
      this.postForm.id_artist = undefined
    },
    getArtistTechnician() {
      this.postForm.id_technician = undefined
      this.postForm.id_artist = undefined
      if (this.postForm.id_stage) {
        fecthStageArtistTechnician(this.postForm.id_stage).then(response => {
          this.artists = response.data.artists || []
          this.technicians = response.data.technicians || []
        })
      }
    },
    getStages() {
      if (this.postForm.id_event != null) {
        fetchStageEvent(this.postForm.id_event).then(response => {
          console.log(response.data)
          this.stages = response.data.data
        })
      }
    },
    submitForm() {
      this.$refs.postForm.validate(valid => {
        if (valid) {
          this.loading = true
          generateRoadbook(this.postForm.id_stage).then(response => {
            window.open(response.data.data.path, '_blank')
          }).catch(err => {
            if (err.response.status === 404) {
              this.$router.push({
                path: '/404',
                replace: true,
                query: { noGoBack: true }
              })
            }
          }).finally(() => {
            this.loading = false
          })
        }
      })
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "src/styles/mixin.scss";
.background-container {
  padding: 15px 35px 20px 35px;
  h2 {
    color: #595959;
  }
  .pull-right{
    float: right;
  }
  .content-container{
    padding: 5px 20px 50px 20px;
    background-color: #fff;
    border-color: rgba(0,0,0,.05);
    box-shadow: 4px 4px 40px rgba(0,0,0,.05)
  }
}
</style>