<template>
<div class="background-container">
        <div class="content-container" >
        <h2 v-if="this.isEdit">{{$t('user.titleEdit')}} {{postForm.name}}</h2>
        <h2 v-else>{{$t('user.titleCreate')}}</h2>
        <el-form :model="postForm" :rules="rules" ref="postForm">
            <el-form-item :label="$t('user.avatar')">
            <pan-thumb :image="postForm.image"></pan-thumb>
            <image-cropper :width="100" :height="100" url="https://httpbin.org/post" @close='close' @crop-upload-success="cropSuccess" langType="en" :key="postForm.imagecropperKey" v-show="postForm.imagecropperShow"></image-cropper>
            <div> <el-button type="primary" icon="upload" style="margin-left:10px" @click="postForm.imagecropperShow=true">{{$t('user.changeavatar')}}</el-button></div>
            </el-form-item>
            <FormUser :dataForm="postForm" :create-user="true"></FormUser>
            <div v-if="this.postForm.userid === this.$store.getters.id">
                <el-form-item :label="$t('user.changePassword')">
                    <el-radio-group v-model="postForm.changepassword">
                        <el-radio :label="true">{{$t('answer.yes')}}</el-radio>
                        <el-radio :label="false">{{$t('answer.no')}}</el-radio>
                    </el-radio-group>
                </el-form-item>
                <div v-if="this.postForm.changepassword">
                    <el-form-item :label="$t('user.password')" prop="pass">
                        <el-input type="password" v-model="postForm.pass" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item :label="$t('user.confirm')" prop="checkPass">
                        <el-input type="password" v-model="postForm.checkPass" autocomplete="off"></el-input>
                    </el-form-item>
                </div>
            </div>
            <el-form-item class="pull-right">
                <el-button tabindex="-1" @click="resetForm">{{$t('global.reset')}}</el-button>
                <el-button v-loading="loading" type="success" @click="submitForm">{{$t('global.submit')}}</el-button>
            </el-form-item>
        </el-form>
    </div>
</div>
</template>

<script>
import { fetchUser, createUser, updateUser } from '@/api/user'
import { validateEmail } from '@/utils/validate'
import FormUser from './FormUser'
import ImageCropper from '@/components/ImageCropper'
import PanThumb from '@/components/PanThumb'

const defaultForm = {
  id: undefined,
  useremail: '',
  username: '',
  userrole: 'user',
  useractive: '0',
  changepassword: false,
  pass: '',
  checkPass: '',
  imagecropperShow: false,
  imagecropperKey: 0,
  image: ''
}

export default {
  name: 'Detail',
  components: { FormUser, ImageCropper, PanThumb },
  props: {
    isEdit: {
      type: Boolean,
      default: false
    }
  },
  data() {
    const validatePass = (rule, value, callback) => {
      if (value !== '' && value.length < 6) {
        callback(new Error('Please input the password'))
      } else {
        if (this.postForm.checkPass !== '') {
          this.$refs.postForm.validateField('checkPass')
        }
        callback()
      }
    }
    const validatePass2 = (rule, value, callback) => {
      if (value === '' && this.postForm.pass !== '') {
        callback(new Error('Please input the password again'))
      } else if (value !== this.postForm.pass) {
        callback(new Error('Two inputs don\'t match!'))
      } else {
        callback()
      }
    }
    const validateemail = (rule, value, callback) => {
      if (!validateEmail(value)) {
        callback(new Error(this.$t('error.email')))
      } else {
        callback()
      }
    }
    return {
      postForm: Object.assign({}, defaultForm),
      loading: false,
      contentLoad: true,
      userListOptions: [],
      rules: {
        pass: [{ validator: validatePass, trigger: 'blur' }],
        checkPass: [{ validator: validatePass2, trigger: 'blur' }],
        useremail: [{ required: true, validator: validateemail, trigger: 'blur' }],
        username: [{ required: true, message: this.$t('global.empty'), trigger: 'blur' }]
      }
    }
  },
  computed: {
    contentLength() {
      return this.postForm.content.length
    }
  },
  created() {
    if (this.isEdit) {
      const id = this.$route.params && this.$route.params.id
      this.fetchData(id)
    } else {
      this.postForm = Object.assign({}, defaultForm)
      this.contentLoad = false
    }
  },
  methods: {
    fetchData(id) {
      fetchUser(id).then(response => {
        if (response.status === 200 && response.data.data.id) {
          this.postForm = {
            username: response.data.data.name,
            useremail: response.data.data.email,
            userrole: response.data.data.role[0],
            useractive: response.data.data.active,
            userid: response.data.data.id,
            imagecropperShow: false,
            imagecropperKey: 0,
            image: response.data.data.avatar,
            changepassword: false,
            pass: '',
            checkPass: ''
          }
        }
        this.contentLoad = false
      }).catch(err => {
        if (err.response.status === 404) {
          this.$router.push({ path: '/404', replace: true, query: { noGoBack: true }})
        }
      })
    },
    submitForm() {
      this.$refs.postForm.validate(valid => {
        if (valid) {
          this.loading = true
          let data = {
            id: this.postForm.userid,
            email: this.postForm.useremail,
            name: this.postForm.username,
            active: this.postForm.useractive,
            role: this.postForm.userrole
          }
          if (this.postForm.imagecropperKey !== 0) {
            data = Object.assign(data, { avatar: this.postForm.image })
          }
          if (this.postForm.pass !== '') {
            data = Object.assign(data, { password: this.postForm.pass, password_confirmation: this.postForm.checkPass })
          }
          if (this.isEdit) {
            updateUser(data).then(response => {
              if (response.status === 200) {
                this.$notify({
                  title: 'Success',
                  message: 'Updated',
                  type: 'success',
                  duration: 2000
                })
                this.postForm.pass = ''
                this.postForm.checkPass = ''
                if (this.postForm.imagecropperKey !== 0) {
                  this.$store.commit('SET_AVATAR', this.postForm.image)
                }
              }
            }).catch(err => {
              console.log(err)
            }).finally(fin => {
              this.loading = false
            })
          } else {
            createUser(data).then(response => {
              if (response.status === 201 && response.data.data.id) {
                this.$notify({
                  title: 'Success',
                  message: 'Created',
                  type: 'success',
                  duration: 2000
                })
                this.$router.push({ path: '/user/edit/' + response.data.data.id, replace: true })
              }
            }).catch(err => {
              console.log(err)
            }).finally(fin => {
              this.loading = false
            })
          }
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    resetForm() {
      this.setStep(0)
      this.$refs.postForm.resetFields()
    },
    cropSuccess(resData) {
      this.postForm.imagecropperShow = false
      this.postForm.imagecropperKey = this.postForm.imagecropperKey + 1
      this.postForm.image = resData.files.avatar
    },
    close() {
      this.postForm.imagecropperShow = false
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "src/styles/mixin.scss";
.background-container {
  padding: 15px 35px 20px 35px;
  .content-container{
    padding: 5px 20px 50px 20px;
    background-color: #fff;
    border-color: rgba(0,0,0,.05);
    box-shadow: 4px 4px 40px rgba(0,0,0,.05)
  }
  h2 {
    color: #595959;
  }
  .pull-right{
    float: right;
  }
  .avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
}
</style>
