<template>
    <div>
        <el-form-item :label="$t('global.email')" prop="useremail">
           <el-tooltip class="item" effect="dark" :content="$t('user.mailHelp')" placement="top-end"><i class="el-icon-question"></i></el-tooltip>
            <el-input v-model="dataForm.useremail"></el-input>
        </el-form-item>
        <el-form-item :label="$t('global.username')" prop="username">
            <el-input v-model="dataForm.username"></el-input>
        </el-form-item>
        <el-form-item :label="$t('user.profile')" v-permission="['superadmin','admin']">
            <el-select v-model="dataForm.userrole" placeholder="Role" style="width:100%">
                <el-option v-for="item in roleslist" :key="item.key" :label="item.value" :value="item.key">
                </el-option>
            </el-select>
        </el-form-item>
        <div v-if="this.createUser">
            <el-form-item :label="$t('route.Production')" v-if="dataForm.userrole == 'adminproduction' || dataForm.userrole == 'production'">
                <el-select style="width:100%" v-model="dataForm.staff" filterable remote :placeholder="$t('global.search')" :loading="staffloading" :remote-method="getRemoteStaffList">
                <el-option v-for="(item) in staffListOptions" :key="item.id_staff" :label="item.name" :value="item.id_staff">
                </el-option>
                </el-select>
            </el-form-item>
            <el-form-item :label="$t('route.Technician')" v-if="dataForm.userrole == 'technician'">
                <el-select style="width:100%" v-model="dataForm.technicianstaff" filterable remote :placeholder="$t('global.search')" :loading="technicianstaffloading" :remote-method="getRemoteTechnicianstaffList">
                <el-option v-for="(item) in technicianstaffListOptions" :key="item.id_stafftechnician" :label="item.name" :value="item.id_stafftechnician">
                </el-option>
                </el-select>
            </el-form-item>
            <el-form-item :label="$t('route.Promoter')" v-if="dataForm.userrole == 'promoter'">
                <el-select style="width:100%" v-model="dataForm.manager" filterable remote :placeholder="$t('global.search')" :loading="managerloading" :remote-method="getRemoteManagerList">
                <el-option v-for="(item) in managerListOptions" :key="item.id_manager" :label="item.name" :value="item.id_manager">
                </el-option>
                </el-select>
            </el-form-item>
            <el-form-item :label="$t('route.Artist')" v-if="dataForm.userrole == 'artist'">
                <el-select style="width:100%" v-model="dataForm.manager" filterable remote :placeholder="$t('global.search')" :loading="managerloading" :remote-method="getRemoteManagerList">
                <el-option v-for="(item) in managerListOptions" :key="item.id_manager" :label="item.name" :value="item.id_manager">
                </el-option>
                </el-select>
            </el-form-item>
            <el-form-item :label="$t('route.Manager')" v-if="dataForm.userrole == 'manager'">
            <el-select style="width:100%" v-model="dataForm.manager" filterable remote :placeholder="$t('global.search')" :loading="managerloading" :remote-method="getRemoteManagerList">
            <el-option v-for="(item) in managerListOptions" :key="item.id_manager" :label="item.name" :value="item.id_manager">
            </el-option>
            </el-select>
            </el-form-item>
        </div>
        <el-form-item :label="$t('user.active')" v-permission="['superadmin','admin','adminproduction', 'production']">
            <el-select v-model="dataForm.useractive" placeholder="Active" style="width:100%">
                <el-option key="1" value="1" :label="$t('answer.yes')">{{$t('answer.yes')}}</el-option>
                <el-option key="2" value="0" :label="$t('answer.no')">{{$t('answer.no')}}</el-option>
            </el-select>
        </el-form-item>
    </div>
</template>
<script>
import roles from '@/api/roles'
import { searchArtist } from '@/api/artist'
import { searchManager } from '@/api/manager'
import { searchPromoter } from '@/api/promoter'
import { searchStaff } from '@/api/staff'
import { searchTechnicianstaff } from '@/api/technicianstaff'
import permission from '@/directive/permission/index.js'

export default {
  name: 'FormUser',
  components: { },
  directives: { permission },
  props: {
    dataForm: {
      type: Object,
      default: { useremail: '', username: '', userrole: 'user', useractive: '1' }
    },
    createUser: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      managerloading: false,
      managerListOptions: [],
      artistloading: false,
      artistListOptions: [],
      promoterloading: false,
      promoterListOptions: [],
      staffloading: false,
      staffListOptions: [],
      technicianstaffloading: false,
      technicianstaffListOptions: [],
      roleslist: roles
    }
  },
  methods: {
    getRemoteManagerList(query) {
      this.managerloading = true
      if (query !== '') {
        searchManager({ name: query }).then(response => {
          if (response.data.length === 0) return
          this.managerListOptions = response.data.managers
        }).finally(() => {
          this.managerloading = false
        })
      }
    },
    getRemoteArtistList(query) {
      this.artistloading = true
      if (query !== '') {
        searchArtist({ name: query }).then(response => {
          if (response.data.length === 0) return
          this.artistListOptions = response.data.artists
        }).finally(() => {
          this.artistloading = false
        })
      }
    },
    getRemotePromoterList(query) {
      this.promoterloading = true
      if (query !== '') {
        searchPromoter({ name: query }).then(response => {
          if (response.data.length === 0) return
          this.promoterListOptions = response.data.promoters
        }).finally(() => {
          this.promoterloading = false
        })
      }
    },
    getRemoteStaffList(query) {
      this.staffloading = true
      if (query !== '') {
        searchStaff({ name: query }).then(response => {
          if (response.data.length === 0) return
          this.staffListOptions = response.data.staffs
        }).finally(() => {
          this.staffloading = false
        })
      }
    },
    getRemoteTechnicianstaffList(query) {
      this.technicianstaffloading = true
      if (query !== '') {
        searchTechnicianstaff({ name: query }).then(response => {
          if (response.data.length === 0) return
          this.technicianstaffListOptions = response.data.stafftechnicians
        }).finally(() => {
          this.technicianstaffloading = false
        })
      }
    }
  }
}
</script>