<template>
    <div class="create-container" v-loading="loadingdetail">
        <h3>{{detail.name}}</h3>
        <el-row :gutter="20">
        <el-col :span="6"></el-col>
        <el-col :span="6"></el-col>
        <el-col :span="6"></el-col>
        <el-col :span="6"></el-col>
        </el-row>
    </div>

</template>

<script>
import { fetchUser } from '@/api/user'
export default {
  name: 'view-detail',
  data() {
    return {
      detail: { name: '' },
      loadingdetail: true
    }
  },
  created() {
    const id = this.$route.params && this.$route.params.id
    if (id) {
      this.getList(id)
    } else {
      this.$router.push({ path: '/404', replace: true, query: { noGoBack: true }})
    }
  },
  methods: {
    getList(id) {
      this.loadingdetail = true
      fetchUser(id).then(response => {
        console.log(response)
        if (response.status === 200) {
          this.detail = response.data.data
          this.loadingdetail = false
        }
      })
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "src/styles/mixin.scss";
.create-container {
  position: relative;
  padding: 40px 45px 20px 50px;
  .pull-right{
    float: right;
  }
  .spandashed {
    border-bottom: 0.5px solid #909399;
    padding: 0 2px 2px 2px;
  }
}
</style>
