<template>
<div>

        <el-table :data="list" v-loading="listLoading" border fit highlight-current-row style="width: 100%">
            <el-table-column label="#" width="40" fixed>
                <template slot-scope="scope">
                    <span>{{scope.row.id_staff}}</span>
                </template>
            </el-table-column>
            <el-table-column min-width="150" :label="$t('global.name')">
                <template slot-scope="scope">
                    <template v-if="scope.row.edit">
                        <el-input class="edit-input-required" size="small" v-model="scope.row.name"></el-input>
                    </template>
                    <span v-else>{{ scope.row.name }}</span>
                </template>
            </el-table-column>
            <el-table-column :label="$t('global.email')">
                <template slot-scope="scope">
                    <template v-if="scope.row.edit">
                        <el-input class="edit-input-required" size="small" v-model="scope.row.email"></el-input>
                    </template>
                    <span v-else>{{ scope.row.email }}</span>
                </template>
            </el-table-column>
            <el-table-column :label="$t('global.contact')">
                <template slot-scope="scope">
                    <template v-if="scope.row.edit">
                        <el-input class="edit-input" size="small" v-model="scope.row.contact"></el-input>
                    </template>
                    <span v-else>{{ scope.row.contact }}</span>
                </template>
            </el-table-column>
            <el-table-column class-name="status-col" :label="$t('user.profile')" >
                <template slot-scope="scope">
                    <span><el-tag :type="scope.row.role | roleFilter">{{scope.row.role}}</el-tag></span>
                </template>
            </el-table-column>
            <el-table-column :label="$t('global.actions')" min-width="130" fixed="right">
                <template slot-scope="scope">
                  <div v-if="scope.row.edit">
                    <el-button type="success" @click="confirmEdit(scope.row)" size="small" icon="el-icon-circle-check-outline">Ok</el-button>
                    <el-button class='cancel-btn' size="small" icon="el-icon-refresh" type="warning" @click="cancelEdit(scope.row)">Cancel</el-button>
                  </div>
                  <div v-else>
                    <el-button type="info" @click='scope.row.edit=!scope.row.edit' size="small" icon="el-icon-edit"></el-button>
                    <router-link :to="'/staff/edit/'+scope.row.id_staff">
                      <el-button type="primary" size="small" icon="el-icon-edit"></el-button>
                    </router-link>
                     <router-link :to="'/staff/view/'+scope.row.id_staff">
                      <el-button type="default" size="small" icon="el-icon-view"></el-button>
                    </router-link>
                    <el-button type="danger" @click='handleDelete(scope.row.id_staff)' size="small" icon="el-icon-delete"></el-button>
                  </div>
                </template>
            </el-table-column>
        </el-table>
</div>
</template>
<script>
import { updateStaff, deleteStaff, fetchStaffProduction } from '@/api/staff'
import roles from '@/api/roles'

export default {
  name: 'Detail',
  components: { },
  data() {
    return {
      id: undefined,
      list: null,
      listLoading: true,
      listQuery: {
        page: 1,
        limit: 20
      },
      rules: {
        name: [{ required: true, message: this.$t('global.empty'), trigger: 'blur' }]
      }
    }
  },
  computed: { },
  created() {
    this.id = this.$route.params && this.$route.params.id
    this.getList()
  },
  activated() {
    this.id = this.$route.params && this.$route.params.id
    this.getList()
  },
  filters: {
    roleFilter(role) {
      return roles[role]
    }
  },
  methods: {
    getList() {
      this.listLoading = true
      fetchStaffProduction(this.id, this.listQuery).then(response => {
        const items = response.data.data
        this.list = items.map(v => {
          this.$set(v, 'edit', false) // https://vuejs.org/v2/guide/reactivity.html
          v.originalName = v.name //  will be used when user click the cancel botton
          v.originalEmail = v.email
          v.originalContact = v.contact
          return v
        })
      }).finally(() => {
        this.listLoading = false
      })
    },
    cancelEdit(row) {
      row.name = row.originalName
      row.email = row.originalEmail
      row.contact = row.originalContact
      row.edit = false
      this.$message({
        message: this.$t('global.restoreInformation'),
        type: 'warning'
      })
    },
    handleDelete(id) {
      this.$confirm(this.$t('global.deleteQuestion'), 'Warning', {
        confirmButtonText: 'OK',
        cancelButtonText: this.$t('global.cancel'),
        type: 'warning'
      }).then(() => {
        deleteStaff(id).then(resp => {
          if (resp.status === 204) {
            this.$message({
              type: 'success',
              message: this.$t('global.deleteSuccess')
            })
            this.getList()
          }
        }).catch(err => {
          this.$message.error(this.$t('global.deleteCancel') + err.message)
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: this.$t('global.deleteCancel')
        })
      })
    },
    confirmEdit(row) {
      const data = {
        name: row.name,
        email: row.email,
        contact: row.contact,
        userid: row.id_user
      }
      updateStaff(row.id_staff, data).then(response => {
        if (response.status === 200) {
          this.$notify({
            title: 'Success',
            message: 'Updated',
            type: 'success',
            duration: 2000
          })
          row.originalName = row.name
          row.originalEmail = row.email
          row.originalContact = row.contact
        }
      }).catch(err => {
        console.log(err)
        row.name = row.originalName
        row.email = row.originalEmail
        row.contact = row.originalContact
      }).finally(fin => {
        row.edit = false
      })
    },
    newpage() {
      this.$router.push({ name: 'createStaff', params: { defaultProduction: this.id }})
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "src/styles/mixin.scss";
.background-container {
  padding: 15px 35px 20px 35px;
  h2 {
    color: #595959;
  }
  .pull-right{
    float: right;
  }
  .content-container{
    padding: 5px 20px 50px 20px;
    background-color: #fff;
    border-color: rgba(0,0,0,.05);
    box-shadow: 4px 4px 40px rgba(0,0,0,.05)
  }
  .edit-input-required::after {
    content: '*';
    color: #f56c6c;
    right: 10px;
    position: absolute;
    top: 8px;
  }
}
</style>
