<template>
    <div class="background-container">
        <div class="content-container" v-loading="contentLoad">
            <el-form :model="postForm" :rules="rules" ref="postForm">
                    <el-form-item :label="$t('global.name')" prop="name">
                        <el-input v-model="postForm.name" required></el-input>
                    </el-form-item>
                    <el-form-item :label="$t('global.email')" prop="email">
                        <el-input v-model="postForm.email" required></el-input>
                    </el-form-item>
                    <el-form-item :label="$t('global.contact')" prop="contact">
                        <el-input v-model="postForm.contact"></el-input>
                    </el-form-item>
                    <el-form-item :label="$t('route.Manager')">
                        <el-select class="custom-select" v-model="postForm.manager" filterable remote :placeholder="$t('global.search')" :loading="managerloading" :remote-method="getRemoteManagerList">
                            <el-option v-for="(item) in managerListOptions" :key="item.id_manager" :label="item.name" :value="item.id_manager">
                            </el-option>
                        </el-select>
                        <div class="custom-select-actions">
                          <router-link :to="{path: '/mycontact/manager/edit/'+postForm.manager}" v-show="postForm.production"><el-button><i class="el-icon-edit"></i></el-button></router-link>
                          <router-link :to="{name: 'myContactCreateManager'}"><el-button type="primary"><i class="el-icon-plus"></i></el-button></router-link>
                        </div>
                    </el-form-item>
                    <el-row>
                        <label class="el-form-item__label">{{$t('user.create')}}</label>
                    </el-row>
                    <el-form-item>
                        <el-radio-group v-model="postForm.usercreate">
                            <el-radio :label="true">{{$t('answer.yes')}}</el-radio>
                            <el-radio :label="false">{{$t('answer.no')}}</el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-row v-if="postForm.usercreate">
                        <FormUser :dataForm="postForm"></FormUser>
                    </el-row>
                    <el-form-item class="pull-right">
                        <!-- <el-button tabindex="-1" @click="resetForm">{{$t('global.reset')}}</el-button> -->
                        <el-button v-loading="loading" type="success" @click="submitForm">{{$t('global.submit')}}</el-button>
                    </el-form-item>
              
            </el-form>
        </div>
    </div>
</template>

<script>
import { fetchArtist, createArtist, updateArtist } from '@/api/artist'
import { searchManager } from '@/api/manager'
import { validateEmail } from '@/utils/validate'
import FormUser from '@/views/user/components/FormUser'

const defaultForm = {
  name: '',
  email: '',
  contact: '',
  userrole: 'artist',
  manager: undefined,
  usercreate: true,
  id: undefined,
  useractive: '1'
}

export default {
  name: 'Detail',
  components: { FormUser },
  props: {
    isEdit: {
      type: Boolean,
      default: false
    },
    isModal: {
      type: Boolean,
      default: false
    }
  },
  data() {
    const validateemail = (rule, value, callback) => {
      if (!validateEmail(value)) {
        callback(new Error(this.$t('error.email')))
      } else {
        callback()
      }
    }
    const validateuseremail = (rule, value, callback) => {
      if (this.postForm.usercreate && !validateEmail(value)) {
        callback(new Error(this.$t('error.email')))
      } else {
        callback()
      }
    }
    return {
      postForm: Object.assign({}, defaultForm),
      loading: false,
      contentLoad: true,
      managerloading: false,
      managerListOptions: [],
      rules: {
        name: [{ required: true, message: this.$t('global.empty'), trigger: 'blur' }],
        email: [{ required: true, validator: validateemail, trigger: 'blur' }],
        useremail: [{ required: true, validator: validateuseremail, trigger: 'blur' }],
        username: [{ required: true, trigger: 'blur' }]
      }
    }
  },
  created() {
    if (this.isEdit) {
      const id = this.$route.params && this.$route.params.id
      this.fetchData(id)
    } else {
      this.postForm = Object.assign({}, defaultForm)
      this.contentLoad = false
    }
  },
  methods: {
    fetchData(id) {
      fetchArtist(id).then(response => {
        if (response.status === 200 && response.data.data.id_artist) {
          this.postForm = {
            name: response.data.data.name,
            id: response.data.data.id_artist,
            email: response.data.data.email,
            contact: response.data.data.contact,
            manager: response.data.data.manager.data.id_manager,
            usercreate: Boolean(response.data.data.user),
            useremail: undefined,
            userrole: 'artist',
            username: undefined,
            active: 1
          }
          if (response.data.data.manager) this.managerListOptions.push({ id_manager: response.data.data.manager.data.id_manager, name: response.data.data.manager.data.name })
          if (response.data.data.user) {
            this.postForm.useremail = response.data.data.user.data.email
            this.postForm.useractive = response.data.data.user.data.active
            this.postForm.username = response.data.data.user.data.name
            this.postForm.userrole = response.data.data.user.data.role[0]
          }
        }
      }).catch(err => {
        if (err.response.status === 404) {
          this.$router.push({ path: '/404', replace: true, query: { noGoBack: true }})
        }
      }).finally(() => {
        this.contentLoad = false
      })
    },
    getRemoteManagerList(query) {
      this.managerloading = true
      if (query !== '') {
        searchManager({ name: query }).then(response => {
          if (response.data.length === 0) return
          this.managerListOptions = response.data.managers
        }).finally(() => {
          this.managerloading = false
        })
      }
    },
    submitForm() {
      this.$refs.postForm.validate(valid => {
        if (valid) {
          this.loading = true
          const data = {
            name: this.postForm.name,
            contact: this.postForm.contact,
            email: this.postForm.email,
            manager: this.postForm.manager,
            usercreate: this.postForm.usercreate,
            username: this.postForm.username,
            useremail: this.postForm.useremail,
            userrole: this.postForm.userrole,
            active: this.postForm.useractive
          }
          if (this.isEdit) {
            updateArtist(this.postForm.id, data).then(response => {
              if (response.status === 200) {
                this.$notify({
                  title: this.$t('global.success'),
                  message: this.$t('global.success'),
                  type: 'success',
                  duration: 2000
                })
              }
            }).catch(err => {
              console.log(err)
            }).finally(fin => {
              this.loading = false
            })
          } else {
            createArtist(data).then(response => {
              this.loading = true
              if (response.status === 201 && response.data.data.id_artist) {
                this.$notify({
                  title: this.$t('global.success'),
                  message: this.$t('global.success'),
                  type: 'success',
                  duration: 2000
                })
                this.resetForm()
                if (this.isModal) {
                  this.$emit('open-modal', false)
                }
              }
            }).catch(err => {
              if (err.response.status === 422) {
                let errormessage = ''
                err.response.data.errors.map(function(item) {
                  errormessage += item['code'] + ' '
                })
                this.$notify({
                  title: 'Error',
                  message: errormessage,
                  type: 'error'
                })
              }
            }).finally(() => {
              this.loading = false
            })
          }
        }
      })
    },
    resetForm() {
      this.$refs.postForm.resetFields()
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "src/styles/mixin.scss";
.background-container {
  padding: 15px 35px 20px 35px;
  h2 {
    color: #595959;
  }
  .pull-right{
    float: right;
  }
   .content-container{
    padding: 5px 20px 50px 20px;
    background-color: #fff;
    border-color: rgba(0,0,0,.05);
    box-shadow: 4px 4px 40px rgba(0,0,0,.05)
  }
  .steps-action {
    width: 100%;
  }
  .custom-select {
    width: 100%;
  }
  .custom-select-actions {
    :not(:first-child) {
      margin-left: -3px;
    }
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
</style>
