<template>
    <div v-loading="loadingdetail">
        <el-row>
            <div class="pull-left">
         <h3>{{detail.name}}</h3>
         </div>
        </el-row>
        <el-row :gutter="20">
            <el-col :xs="24" :sm="12" >
                <el-card class="box-card">
                  <div slot="header" class="clearfix">
                      <span>{{$t('global.information')}}</span>
                      <div class="pull-right">
                      <router-link :to="'/mycontact/artist/edit/'+detail.id_artist">
                        <el-button type="primary" size="mini"><i class="el-icon-edit"></i></el-button>
                      </router-link>
                    </div>
                  </div>
                  <div class="text item">
                      <svg-icon icon-class="identity" /><strong>Nome: </strong> {{detail.name}}
                  </div>
                  <div class="text item">
                      <svg-icon icon-class="telephone" /><strong>Contacto: </strong>{{detail.contact}}
                  </div>
                  <div class="text item">
                      <svg-icon icon-class="email" /><strong>Email: </strong>{{detail.email}}
                  </div>
                  <div class="text item" v-if="detail.manager.data">
                      <svg-icon icon-class="manager" /><strong>Manager: </strong>{{detail.manager.data.name}}
                  </div>
                </el-card>
            </el-col>
            <el-col :xs="24" :sm="12" >
                <el-card class="box-card">
                    <div slot="header" class="clearfix">
                        <span>{{$t('global.username')}}</span>
                         <div class="pull-right">
                      <router-link v-if="detail.user" :to="'/user/edit/' + detail.user.data.id">
                        <el-button type="primary" size="mini"><i class="el-icon-edit"></i></el-button>
                      </router-link>
                    </div>
                    </div>
                    <div class="text item">
                        <svg-icon icon-class="identity" /><span v-if="detail.user"><strong>Utilizador: </strong>{{detail.user.data.name}}</span>
                    </div>
                    <div class="text item">
                        <svg-icon icon-class="email" /><span v-if="detail.user"><strong>Email Utilizador: </strong>{{detail.user.data.email}}</span>
                    </div>
                </el-card>
            </el-col>
        </el-row>
    </div>
</template>
<script>
import { fetchArtist } from '@/api/artist'

export default {
  name: 'view-detail',
  data() {
    return {
      detail: {},
      loadingdetail: true
    }
  },
  created() {
    const id = this.$route.params && this.$route.params.id
    if (id) {
      this.getList(id)
    } else {
      this.$router.push({ path: '/404', replace: true, query: { noGoBack: true }})
    }
  },
  methods: {
    getList(id) {
      this.loadingdetail = true
      fetchArtist(id).then(response => {
        if (response.status === 200) {
          this.detail = response.data.data
          this.loadingdetail = false
        }
      })
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "src/styles/mixin.scss";
.pull-left{
  float: left;
}
.pull-right {
  float: right;
}
 h2 {
    color: #595959;
  }
  h3 {
    color: #737373;
    margin-top: 0px;
  }
  .text {
    font-size: 16px;
  }
  .item {
    margin-bottom: 18px;
    .svg-icon {
      margin-right: 5px;
      vertical-align: top;
    }
  }
  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both
  }

  .box-card {
    width: 100%;
  }
@media only screen and (max-width:768px) {
  .box-card {
    margin-top: 10px;
  }
}
@media only screen and (min-width: 768px) {
.box-card {
  min-height: 355px;
}
}
</style>

