<template>
    <div class="steps-action" style="width:100%">
        <el-button @click="back" v-show="activeStep>0"><i class="el-icon-arrow-left"></i>{{$t('global.back')}}</el-button>
        <el-button style="float:right" @click="next" v-show="activeStep<(items-1)"><i class="el-icon-arrow-right"></i>{{$t('global.next')}}</el-button>
    </div>
</template>

<script>
export default {
  name: 'Stepsactions',
  props: {
    items: {
      type: Number,
      default: 0
    },
    active: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      activeStep: this.active
    }
  },
  methods: {
    back() {
      if (this.activeStep > 0) {
        this.activeStep--
        this.$emit('updateActiveStep', this.activeStep)
      }
    },
    next() {
      if (this.activeStep < this.items) {
        this.activeStep++
        this.$emit('updateActiveStep', this.activeStep)
      }
    },
    setActive(x) {
      this.activeStep = x
    }
  }
}
</script>
