<template>
  <div>
    <el-steps :active="activeStep" :finish-status="finish" v-show="items.length>1">
        <el-step v-for="(item, index) in items" :title="item" :key="index" @click.native="jump(index)"></el-step>
    </el-steps>
  </div>
</template>

<script>
export default {
  name: 'Steps',
  props: {
    items: {
      type: Array,
      default: []
    },
    finish: {
      type: String,
      default: 'success'
    },
    active: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      activeStep: this.active
    }
  },
  methods: {
    setActive(x) {
      this.activeStep = x
    },
    jump(x) {
      this.activeStep = x
      this.$emit('updateActiveStep', this.activeStep)
    }
  }
}
</script>
