<template>
<div class="background-container ">
<div class="content-container">
  <el-tabs v-model="activeName" @tab-click="handleClick">
    <el-tab-pane :label="$t('route.Artist')" name="artist" :lazy="true">
        <artist></artist>
        </el-tab-pane>
    <el-tab-pane :label="$t('route.Manager')" name="manager" :lazy="true">
        <manager></manager>
        </el-tab-pane>
    <el-tab-pane :label="$t('route.Technician')" name="technician" :lazy="true">
        <technician></technician>
        </el-tab-pane>
    <el-tab-pane :label="$t('route.Promoter')"  name="promoter" :lazy="true">
        <promoter></promoter>
        </el-tab-pane>
    <el-tab-pane :label="$t('route.Production')"  name="production" :lazy="true">
        <production></production>
    </el-tab-pane>
  </el-tabs>
</div>
</div>
</template>


<script>
import artist from '@/views/mycontact/artist/list'
import manager from '@/views/mycontact/manager/list'
import technician from '@/views/mycontact/technician/list'
import promoter from '@/views/mycontact/promoter/list'
import production from '@/views/mycontact/production/list'

export default {
  name: 'listContact',
  components: { artist, manager, technician, promoter, production },
  props: {
    activetab: {
      default: 'artist',
      type: String
    }
  },
  data() {
    return {
      activeName: this.activetab
    }
  },
  methods: {
    handleClick(tab) {

    }
  }
}
</script>

<style lang="scss" scoped>
.background-container {
  padding: 10px;
  h2 {
    color: #595959;
  }
  .pull-right{
    float: right;
  }
  .content-container{
    padding: 5px;
    background-color: #fff;
    border-color: rgba(0,0,0,.05);
    box-shadow: 4px 4px 40px rgba(0,0,0,.05)
  }
}
</style>