<template>
  <div class="dashboard-user-container">
    <div class=" clearfix">
      <div class="info-container">
        <h2>{{$t('dashboard.myevent')}}</h2>
        <list></list>
      </div>
    </div>
    <div>

    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import list from '@/views/myevent/listrecent'

export default {
  name: 'dashboard-user',
  components: { list },
  data() {
    return {
    }
  },
  computed: {
    ...mapGetters([
      'name',
      'avatar',
      'roles'
    ])
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  .emptyGif {
    display: block;
    width: 45%;
    margin: 0 auto;
  }

  .dashboard-user-container {
    background-color: #e3e3e3;
    min-height: calc(100vh - 110px);
    padding: 10px;
    .pan-info-roles {
      font-size: 12px;
      font-weight: 700;
      color: #333;
      display: block;
    }
    .info-container {
      h2 {
        margin: 10px
      }
      color: #595959;
      background-color: white;
      border-radius: 4px;
      position: relative;
    }
  }
</style>
