<template>
  <div class="dashboard-editor-container">
   
  </div>
</template>


<script>

export default {
  name: 'start'
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.dashboard-editor-container {
  text-align: center;
  padding: 32px;
  color: #2c3e50;
  background-color: rgb(240, 242, 245);
  .description {
    
    margin: 1.8rem auto;
    max-width: 35rem;
    font-size: 1.6rem;
    line-height: 1.3;
    color: #6a8bad;
  }
  .button-enter {
    margin: 1.8rem auto;
    display: inline-block;
    font-size: 1.2rem;
    color: #fff;
    background-color: #3eaf7c;
    padding: .8rem 1.6rem;
    border-radius: 4px;
    transition: background-color .1s ease;
    box-sizing: border-box;
    border-bottom: 1px solid #389d70;
  }
}
.topmenu-container {
    display: none !important;
  }
</style>
