<template>
  <div class="app-container">
    <el-table :data="list" v-loading="listLoading" border fit highlight-current-row style="width: 100%">
      <el-table-column align="center" label="#" width="40" fixed>
        <template slot-scope="scope">
          <span>{{scope.row.id_schedule}}</span>
        </template>
      </el-table-column>
     <el-table-column :label="$t('global.name')">
        <template slot-scope="scope">
            <span>{{ scope.row.title }}</span>
        </template>
      </el-table-column>
    <el-table-column :label="$t('global.name')">
        <template slot-scope="scope">
          <router-link class="link-type" :to="'/artist/view/'+scope.row.id_artist">
            <span>{{ scope.row.artist }}</span>
          </router-link>
        </template>
      </el-table-column>
    <el-table-column :label="$t('route.Schedule')">
        <template slot-scope="scope">
          <span v-html="generateTag(scope.row.type)"></span>
        </template>
      </el-table-column>
    <el-table-column :label="$t('global.status')">
        <template slot-scope="scope">
         <span v-html="generateStatusTag(scope.row.status)"></span>
        </template>
      </el-table-column>
      <el-table-column align="center" :label="$t('global.actions')" fixed="right" min-width="100" >
        <template slot-scope="scope">
          <el-button type="danger" size="small" icon="el-icon-delete" @click="removedata(scope.row.id_schedule, scope.row.type)"></el-button>
            <el-button type="primary" size="small" icon="el-icon-view"></el-button>
            <el-button type="default" size="small" icon="el-icon-edit" @click="editpage(scope.row.id_schedule, scope.row.type)"></el-button>
        </template>
      </el-table-column>
    </el-table>

    <div class="pagination-container">
      <el-pagination background @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="listQuery.page"
        :page-sizes="[10,20,30, 50]" :page-size="listQuery.limit" layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>

  </div>
</template>

<script>
import { deleteSchedule, fetchAllList } from '@/api/schedule'
import { deleteSchedulehotel } from '@/api/schedulehotel'
import { deleteSchedulerestaurant } from '@/api/schedulerestaurant'
import { deleteSchedulesetup } from '@/api/schedulesetup'
import { deleteScheduleperformance } from '@/api/scheduleperformance'
import type from '@/api/scheduletype'
import status from '@/api/status'

export default {
  name: 'listSchedule',
  data() {
    return {
      type: type,
      list: null,
      total: 0,
      listLoading: true,
      listQuery: {
        page: 1,
        limit: 10
      }
    }
  },
  created() {
    this.getList()
  },
  activated() {
    this.getList()
  },
  methods: {
    generateTag(x) {
      const v = type.find(o => o.key === x)
      return '<span class="el-tag is-hit" style="background-color: ' + v.color + '; color:' + v.textcolor + '">' + v.display_name + '</span>'
    },
    generateStatusTag(x) {
      const v = status.find(o => o.key === x)
      return '<span class="el-tag el-tag el-tag--' + v.class + '">' + v.value + '</span>'
    },
    getList() {
      this.listLoading = true
      fetchAllList(this.listQuery).then(response => {
        if (response.status === 200) {
          this.list = response.data.data
          this.total = response.data.total
          this.listLoading = false
        }
      })
    },
    handleSizeChange(val) {
      this.listQuery.limit = val
      this.getList()
    },
    handleCurrentChange(val) {
      this.listQuery.page = val
      this.getList()
    },
    deleteevent(type, data) {
      switch (type) {
        case '1':
          return new Promise(function(resolve, reject) {
            deleteScheduleperformance(data).then(response => {
              if (response.status === 204) {
                resolve(response.data)
              }
              reject(response)
            }).catch(err => {
              reject(err)
            })
          })
        case '2':
          return new Promise(function(resolve, reject) {
            deleteSchedulesetup(data).then(response => {
              if (response.status === 204) {
                resolve(response.data)
              }
              reject(response)
            }).catch(err => {
              reject(err)
            })
          })
        case '3':
          return new Promise(function(resolve, reject) {
            deleteSchedulehotel(data).then(response => {
              if (response.status === 204) {
                resolve(response.data)
              }
              reject(response)
            }).catch(err => {
              reject(err)
            })
          })
        case '4':
          return new Promise(function(resolve, reject) {
            deleteSchedulerestaurant(data).then(response => {
              if (response.status === 204) {
                resolve(response.data)
              }
              reject(response)
            }).catch(err => {
              reject(err)
            })
          })
        default:
          return new Promise(function(resolve, reject) {
            deleteSchedule(data).then(response => {
              if (response.status === 204) {
                resolve(response.data)
              }
              reject(response)
            }).catch(err => {
              reject(err)
            })
          })
      }
    },
    removedata(id, type) {
      this.$confirm(this.$t('global.deleteQuestion'), 'Warning', {
        confirmButtonText: 'OK',
        cancelButtonText: this.$t('global.cancel'),
        type: 'warning'
      }).then(() => {
        this.deleteevent(type, id).then(resp => {
          this.$message({
            type: 'success',
            message: this.$t('global.deleteSuccess')
          })
          this.getList()
        }).catch(err => {
          this.$message.error(this.$t('global.deleteCancel') + err.message)
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: this.$t('global.deleteCancel')
        })
      })
    },
    editpage(id, type) {
      this.$router.push({ name: 'editSchedule', params: { type: type, id: id }})
    },
    viewpage(id, type) {
      this.$router.push({ name: 'viewSchedule', params: { type: type, id: id }})
    }
  }
}
</script>

<style scoped>
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
</style>
