<template>
  <detail :is-edit='true' :steps='steps'></detail>
</template>

<script>
import Detail from './components/Detail'

export default {
  name: 'editTechnician',
  components: { Detail },
  data() {
    return {
      steps: ['Step 1']
    }
  }
}
</script>

