<template>
  <div class="app-container">

    <el-table :data="list" v-loading="listLoading" border fit highlight-current-row style="width: 100%">
      <el-table-column align="center" label="#" width="40" fixed>
        <template slot-scope="scope">
          <span>{{scope.row.id_technician}}</span>
        </template>
      </el-table-column>
     <el-table-column min-width="150" :label="$t('global.name')">
        <template slot-scope="scope">
            <span>{{ scope.row.name }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" :label="$t('global.actions')" fixed="right" min-width="100" >
        <template slot-scope="scope">
          <el-button type="danger" size="small" icon="el-icon-delete" @click="removedata(scope.row.id_technician)"></el-button>
          <router-link :to="'/technician/view/'+scope.row.id_technician">
            <el-button type="primary" size="small" icon="el-icon-view"></el-button>
          </router-link>
          <router-link :to="'/technician/edit/'+scope.row.id_technician">
            <el-button type="default" size="small" icon="el-icon-edit"></el-button>
          </router-link>
           <router-link :to="'/technician/'+scope.row.id_technician+'/technicianstaff'">
            <el-button type="default" size="small"><svg-icon icon-class="staff" /></el-button>
          </router-link>
        </template>
      </el-table-column>
    </el-table>

    <div class="pagination-container">
      <el-pagination background @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="listQuery.page"
        :page-sizes="[10,20,30, 50]" :page-size="listQuery.limit" layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>

  </div>
</template>

<script>
import { fetchList, deleteTechnician } from '@/api/technician'

export default {
  name: 'listTechnician',
  data() {
    return {
      list: null,
      total: 0,
      listLoading: true,
      listQuery: {
        page: 1,
        limit: 10
      }
    }
  },
  created() {
    this.getList()
  },
  activated() {
    this.getList()
  },
  methods: {
    getList() {
      this.listLoading = true
      fetchList(this.listQuery).then(response => {
        if (response.status === 200) {
          this.list = response.data.data
          this.total = response.data.meta.pagination.total
          this.listLoading = false
        }
      })
    },
    handleSizeChange(val) {
      this.listQuery.limit = val
      this.getList()
    },
    handleCurrentChange(val) {
      this.listQuery.page = val
      this.getList()
    },
    removedata(id) {
      this.$confirm(this.$t('global.deleteQuestion'), 'Warning', {
        confirmButtonText: 'OK',
        cancelButtonText: this.$t('global.cancel'),
        type: 'warning'
      }).then(() => {
        deleteTechnician(id).then(resp => {
          if (resp.status === 204) {
            this.$message({
              type: 'success',
              message: this.$t('global.deleteSuccess')
            })
            this.getList()
          }
        }).catch(err => {
          this.$message.error(this.$t('global.deleteCancel') + err.message)
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: this.$t('global.deleteCancel')
        })
      })
    }
  }
}
</script>

<style scoped>
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
</style>
