<template>
  <detail :is-edit='false' :steps='steps'></detail>
</template>

<script>
import Detail from './components/Detail'

export default {
  name: 'createProduction',
  components: { Detail },
  data() {
    return {
      steps: ['Step 1', 'Step 2', 'Step 3', 'Step 4']
    }
  }
}
</script>

