<template>
<div>
      <detail :is-edit='true' :steps='steps'></detail>
</div>
</template>

<script>
import Detail from './components/Detail'

export default {
  name: 'editProduction',
  components: { Detail },
  data() {
    return {
      steps: ['Step 1', 'Step 2', 'Step 3']
    }
  }
}
</script>


