<template>
 <div class="background-container">
      <div class="content-container">

      <h2>{{$t('route.Staff')}}</h2>
      <router-link :to="{ name: 'createStaff', params: { defaultProduction: this.$route.params.id || '' }}" class="pull-right">
                      <el-button class="pull-right" type="primary" size="mini"><i class="el-icon-plus"></i></el-button>
                    </router-link>
      <detailuser></detailuser>
</div>
 </div>
</template>

<script>
import Detailuser from './components/DetailUser'

export default {
  name: 'staffProduction',
  components: { Detailuser }
}
</script>

<style  lang="scss" scoped>
.background-container {
  padding: 15px 35px 20px 35px;
  h2 {
    color: #595959;
    float: left;
  }
  .pull-right {
    float: right;
    margin-top: 10px;
  }
  .content-container{
    padding: 5px 20px 50px 20px;
    background-color: #fff;
    border-color: rgba(0,0,0,.05);
    box-shadow: 4px 4px 40px rgba(0,0,0,.05)
  } 
}
</style>


