<template>
    <div class="background-container">
        <div class="content-container" v-loading="contentLoad">
          <h2 v-if="this.isEdit">{{$t('manager.titleEdit')}} {{postForm.name}}</h2>
            <h2 v-else>{{$t('manager.titleCreate')}}</h2>
            <Steps ref="stepscomponent" :items="itemssteps" :active="active" @updateActiveStep="setStep"></Steps>
        <el-form :model="postForm" :rules="rules" ref="postForm">
           <div v-show="active==0">
            <el-form-item :label="$t('global.name')" prop="name">
                <el-input v-model="postForm.name" required></el-input>
            </el-form-item>
               
                    <el-form-item :label="$t('global.email')" prop="email">
                        <el-input v-model="postForm.email" required></el-input>
                    </el-form-item>
               
                    <el-form-item :label="$t('global.contact')" prop="contact">
                        <el-input v-model="postForm.contact"></el-input>
                    </el-form-item>
           </div>
            <div v-show="active==1">
                <el-row><label class="el-form-item__label">{{$t('user.create')}}</label></el-row>
                 <el-form-item>
                   <el-radio-group v-model="postForm.usercreate">
                    <el-radio :label="true">{{$t('answer.yes')}}</el-radio>
                    <el-radio :label="false">{{$t('answer.no')}}</el-radio>
                  </el-radio-group>
                 </el-form-item>
              
            <el-row v-if="postForm.usercreate">
                <FormUser :dataForm="postForm"></FormUser>
            </el-row>
            <el-form-item class="pull-right">
                <el-button tabindex="-1" @click="resetForm">{{$t('global.reset')}}</el-button>
                <el-button v-loading="loading" type="success" @click="submitForm">{{$t('global.submit')}}</el-button>
            </el-form-item>
            </div>
        </el-form>
        <Stepsactions ref="stepsactionscomponent" :items="itemssteps.length" :active="active" @updateActiveStep="setStep"></Stepsactions>
        </div>
    </div>
</template>

<script>
import Steps from '@/components/Steps'
import Stepsactions from '@/components/Steps/Actions'
import { fetchManager, createManager, updateManager } from '@/api/manager'
import { validateEmail } from '@/utils/validate'
import FormUser from '@/views/user/components/FormUser'

const defaultForm = {
  name: '',
  email: '',
  contact: '',
  userrole: 'manager',
  usercreate: true,
  id: undefined,
  useractive: '1'
}

export default {
  name: 'Detail',
  components: { FormUser, Steps, Stepsactions },
  props: {
    isEdit: {
      type: Boolean,
      default: false
    }
  },
  data() {
    const validateemail = (rule, value, callback) => {
      if (!validateEmail(value)) {
        callback(new Error(this.$t('error.email')))
      } else {
        callback()
      }
    }
    const validateuseremail = (rule, value, callback) => {
      if (this.postForm.usercreate && !validateEmail(value)) {
        callback(new Error(this.$t('error.useremail')))
      } else {
        callback()
      }
    }
    return {
      active: 0,
      itemssteps: ['Step 1', 'Step 2'],
      postForm: Object.assign({}, defaultForm),
      loading: false,
      contentLoad: true,
      rules: {
        name: [{ required: true, message: this.$t('global.empty'), trigger: 'blur' }],
        email: [{ required: true, validator: validateemail, trigger: 'blur' }],
        useremail: [{ required: true, validator: validateuseremail, trigger: 'blur' }],
        username: [{ required: true, trigger: 'blur' }]
      }
    }
  },
  created() {
    if (this.isEdit) {
      const id = this.$route.params && this.$route.params.id
      this.fetchData(id)
    } else {
      this.postForm = Object.assign({}, defaultForm)
      this.contentLoad = false
    }
  },
  methods: {
    setStep(x) {
      this.active = x
      this.$refs.stepscomponent.setActive(x)
      this.$refs.stepsactionscomponent.setActive(x)
    },
    fetchData(id) {
      fetchManager(id).then(response => {
        if (response.status === 200 && response.data.data.id_manager) {
          this.postForm = {
            name: response.data.data.name,
            id: response.data.data.id_manager,
            email: response.data.data.email,
            contact: response.data.data.contact,
            usercreate: Boolean(response.data.data.user),
            useremail: undefined,
            userrole: 'manager',
            username: undefined,
            active: 1
          }
          if (response.data.data.user) {
            this.postForm.useremail = response.data.data.user.data.email
            this.postForm.useractive = response.data.data.user.data.active
            this.postForm.username = response.data.data.user.data.name
            this.postForm.userrole = response.data.data.user.data.role[0]
          }
        }
      }).catch(err => {
        if (err.response.status === 404) {
          this.$router.push({ path: '/404', replace: true, query: { noGoBack: true }})
        }
      }).finally(() => {
        this.contentLoad = false
      })
    },
    submitForm() {
      this.$refs.postForm.validate(valid => {
        if (valid) {
          this.loading = true
          const data = {
            name: this.postForm.name,
            contact: this.postForm.contact,
            email: this.postForm.email,
            usercreate: this.postForm.usercreate,
            username: this.postForm.username,
            useremail: this.postForm.useremail,
            userrole: this.postForm.userrole,
            active: this.postForm.useractive
          }
          if (this.isEdit) {
            updateManager(this.postForm.id, data).then(response => {
              if (response.status === 200) {
                this.$notify({
                  title: 'Success',
                  message: 'Updated',
                  type: 'success',
                  duration: 2000
                })
              }
            }).catch(err => {
              console.log(err)
            }).finally(fin => {
              this.loading = false
            })
          } else {
            createManager(data).then(response => {
              this.loading = true
              if (response.status === 201 && response.data.data.id_manager) {
                this.$notify({
                  title: 'Success',
                  message: 'Created',
                  type: 'success',
                  duration: 2000
                })
                this.resetForm()
                this.$router.push({ name: 'listManager' })
              }
            }).catch(err => {
              if (err.response.status === 422) {
                let errormessage = ''
                err.response.data.errors.map(function(item) {
                  errormessage += item['code'] + ' '
                })
                this.$notify({
                  title: 'Error',
                  message: errormessage,
                  type: 'error'
                })
              }
            }).finally(() => {
              this.loading = false
            })
          }
        }
      })
    },
    resetForm() {
      this.setStep(0)
      this.$refs.postForm.resetFields()
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "src/styles/mixin.scss";
.background-container {
  padding: 15px 35px 20px 35px;
  h2 {
    color: #595959;
  }
  .pull-right{
    float: right;
  }
  .content-container{
    padding: 5px 20px 50px 20px;
    background-color: #fff;
    border-color: rgba(0,0,0,.05);
    box-shadow: 4px 4px 40px rgba(0,0,0,.05)
  }
  .searchmap {
    position: absolute;
    z-index: 1;
    margin-left: 200px;
    margin-top: 10px;
    max-width: 50%;
  }
  .steps-action {
    width: 100%;
  }
  .custom-select {
    width: 100%;
  }
  .custom-select-actions {
    :not(:first-child) {
      margin-left: -3px;
    }
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
</style>