<template>
    <div class="background-container">
        <div class="content-container" v-loading="contentLoad">
             <h2 v-if="this.isEdit">{{$t('staff.titleEdit')}} {{postForm.name}}</h2>
            <h2 v-else>{{$t('staff.titleCreate')}}</h2>
            <Steps ref="stepscomponent" :items="itemssteps" :active="active" @updateActiveStep="setStep"></Steps>
          <el-form :model="postForm" :rules="rules" ref="postForm">
            <div v-show="active==0">
            <el-form-item :label="$t('global.name')" prop="name">
                <el-input v-model="postForm.name" required></el-input>
            </el-form-item>
                
                    <el-form-item :label="$t('global.email')" prop="email">
                        <el-input v-model="postForm.email" required></el-input>
                    </el-form-item>
                
                    <el-form-item :label="$t('global.contact')" prop="contact">
                        <el-input v-model="postForm.contact"></el-input>
                    </el-form-item>
               
                    <el-form-item :label="$t('route.Production')" prop="production">
                        <el-select v-model="postForm.production" filterable remote :placeholder="$t('global.search')" :loading="productionloading" :remote-method="getRemoteProductionList" style="width:100%">
                            <el-option v-for="(item) in productionListOptions" :key="item.id_production" :label="item.name" :value="item.id_production">
                            </el-option>
                        </el-select>
                    </el-form-item>
                
                </div>
               <div v-show="active==1">
              <el-row>
                <el-row><label class="el-form-item__label">{{$t('user.create')}}</label></el-row>
                 <el-form-item >
                   <el-radio-group v-model="postForm.usercreate">
                    <el-radio :label="true">{{$t('answer.yes')}}</el-radio>
                    <el-radio :label="false">{{$t('answer.no')}}</el-radio>
                  </el-radio-group>
                 </el-form-item>
              </el-row>
            <el-row v-if="postForm.usercreate">
                <FormUser :dataForm="postForm"></FormUser>
            </el-row>
            <el-form-item class="pull-right">
                <el-button tabindex="-1" @click="resetForm">{{$t('global.reset')}}</el-button>
                <el-button v-loading="loading" type="success" @click="submitForm">{{$t('global.submit')}}</el-button>
            </el-form-item>
               </div>
        </el-form>
   <Stepsactions ref="stepsactionscomponent" :items="itemssteps.length" :active="active" @updateActiveStep="setStep"></Stepsactions>
        </div>
    </div>
</template>

<script>
import Steps from '@/components/Steps'
import Stepsactions from '@/components/Steps/Actions'
import { fetchStaff, createStaff, updateStaff } from '@/api/staff'
import { searchProduction, fetchProduction } from '@/api/production'
import { validateEmail } from '@/utils/validate'
import FormUser from '@/views/user/components/FormUser'

const defaultForm = {
  name: '',
  email: '',
  contact: '',
  userrole: 'production',
  manager: undefined,
  usercreate: true,
  id: undefined,
  useractive: '1'
}

export default {
  name: 'Detail',
  components: { FormUser, Steps, Stepsactions },
  props: {
    isEdit: {
      type: Boolean,
      default: false
    }
  },
  data() {
    const validateemail = (rule, value, callback) => {
      if (!validateEmail(value)) {
        callback(new Error(this.$t('error.email')))
      } else {
        callback()
      }
    }
    const validateuseremail = (rule, value, callback) => {
      if (this.postForm.usercreate && !validateEmail(value)) {
        callback(new Error(this.$t('error.useremail')))
      } else {
        callback()
      }
    }
    return {
      active: 0,
      itemssteps: ['Step 1', 'Step 2'],
      postForm: Object.assign({}, defaultForm),
      loading: false,
      contentLoad: true,
      productionloading: false,
      productionListOptions: [],
      rules: {
        name: [{ required: true, message: this.$t('global.empty'), trigger: 'blur' }],
        email: [{ required: true, validator: validateemail, trigger: 'blur' }],
        production: [{ required: true }],
        useremail: [{ required: true, validator: validateuseremail, trigger: 'blur' }],
        username: [{ required: true, trigger: 'blur' }]
      }
    }
  },
  computed: { },
  created() {
    if (this.isEdit) {
      const id = this.$route.params && this.$route.params.id
      this.fetchData(id)
    } else {
      if (this.$route.params && this.$route.params.defaultProduction) this.fetchDefault(this.$route.params.defaultProduction)
      this.postForm = Object.assign({}, defaultForm)
      this.contentLoad = false
    }
  },
  methods: {
    setStep(x) {
      this.active = x
      this.$refs.stepscomponent.setActive(x)
      this.$refs.stepsactionscomponent.setActive(x)
    },
    fetchData(id) {
      fetchStaff(id).then(response => {
        if (response.status === 200 && response.data.data.id_staff) {
          this.postForm = {
            name: response.data.data.name,
            id: response.data.data.id_staff,
            email: response.data.data.email,
            contact: response.data.data.contact,
            production: response.data.data.production,
            usercreate: Boolean(response.data.data.user),
            useremail: undefined,
            userrole: 'staff',
            username: undefined,
            active: 1
          }
          if (response.data.data.production) this.productionListOptions.push({ id_production: response.data.data.production.data.id_production, name: response.data.data.production.data.name })
          if (response.data.data.user) {
            this.postForm.useremail = response.data.data.user.data.email
            this.postForm.useractive = response.data.data.user.data.active
            this.postForm.username = response.data.data.user.data.name
            this.postForm.userrole = response.data.data.user.data.role[0]
          }
        }
      }).catch(err => {
        if (err.response.status === 404) {
          this.$router.push({ path: '/404', replace: true, query: { noGoBack: true }})
        }
      }).finally(() => {
        this.contentLoad = false
      })
    },
    fetchDefault(params) {
      fetchProduction(params).then(response => {
        if (response.status === 200 && response.data.data.id_production) {
          this.postForm.production = response.data.data.id_production
          this.productionListOptions.push({ id_production: response.data.data.id_production, name: response.data.data.name })
        }
      })
    },
    getRemoteProductionList(query) {
      this.productionloading = true
      if (query !== '') {
        searchProduction({ name: query }).then(response => {
          if (response.data.length === 0) return
          this.productionListOptions = response.data.productions
        }).finally(() => {
          this.productionloading = false
        })
      }
    },
    submitForm() {
      this.$refs.postForm.validate(valid => {
        if (valid) {
          this.loading = true
          const data = {
            name: this.postForm.name,
            contact: this.postForm.contact,
            email: this.postForm.email,
            production: this.postForm.production,
            usercreate: this.postForm.usercreate,
            username: this.postForm.username,
            useremail: this.postForm.useremail,
            userrole: this.postForm.userrole,
            active: this.postForm.useractive
          }
          if (this.isEdit) {
            updateStaff(this.postForm.id, data).then(response => {
              if (response.status === 200) {
                this.$notify({
                  title: 'Success',
                  message: 'Updated',
                  type: 'success',
                  duration: 2000
                })
              }
            }).catch(err => {
              console.log(err)
            }).finally(fin => {
              this.loading = false
            })
          } else {
            createStaff(data).then(response => {
              this.loading = true
              if (response.status === 201 && response.data.data.id_staff) {
                this.$notify({
                  title: 'Success',
                  message: 'Created',
                  type: 'success',
                  duration: 2000
                })
                this.resetForm()
              }
            }).catch(err => {
              if (err.response.status === 422) {
                let errormessage = ''
                err.response.data.errors.map(function(item) {
                  errormessage += item['code'] + ' '
                })
                this.$notify({
                  title: 'Error',
                  message: errormessage,
                  type: 'error'
                })
              }
            }).finally(() => {
              this.loading = false
            })
          }
        }
      })
    },
    resetForm() {
      this.setStep(0)
      this.$refs.postForm.resetFields()
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "src/styles/mixin.scss";
.background-container {
  padding: 15px 35px 20px 35px;
  h2 {
    color: #595959;
  }
  .pull-right{
    float: right;
  }
  .content-container{
    padding: 5px 20px 50px 20px;
    background-color: #fff;
    border-color: rgba(0,0,0,.05);
    box-shadow: 4px 4px 40px rgba(0,0,0,.05)
  }
 .steps-action {
    width: 100%;
  }
}
</style>