<template>
    <div v-loading="loading">
        <el-form :model="postForm" ref="postForm">
            <el-collapse>
                <el-collapse-item :title="$t('global.information')" name="1">
                    <div>
                        <el-form-item :label="$t('route.Event')">
                            <el-input v-model="postForm.event" :disabled="true" class="blackfont"></el-input>
                        </el-form-item>
                        <el-form-item :label="$t('route.Stage')">
                            <el-input v-model="postForm.stage" :disabled="true" class="blackfont"></el-input>
                        </el-form-item>
                    </div>
                </el-collapse-item>
            </el-collapse>
            <el-row class="pull-right" style="margin:10px 0px">
              <el-button class="pull-left" icon="el-icon-plus">{{$t('global.add')}}</el-button>
              <el-button class="pull-left" type="primary" icon="el-icon-edit">{{$t('global.edit')}}</el-button>
              <el-button v-if="tableData.find(o => o.edit === true)" class="pull-left" type="success" icon="el-icon-circle-check-outline">{{$t('global.save')}}</el-button>
              <el-button class="pull-left" type="warning" icon="el-icon-refresh">{{$t('global.restore')}}</el-button>
            </el-row>
            <el-table :data="tableData" border fit highlight-current-row row-key="id" height="70vh" style="width:100%" header-row-class-name="headerClass" :summary-method="getSummaries" show-summary >
                <el-table-column width="100" type="index">
                </el-table-column>
                <el-table-column prop="name" :label="$t('global.name')">
                  <template slot-scope="scope">
                    <template v-if="scope.row.edit">
                        <el-input class="edit-input" v-model="scope.row.name"></el-input>
                    </template>
                    <span v-else>{{ scope.row.name }}</span>
                </template>
                </el-table-column>
                <el-table-column prop="amount" :label="$t('stage.amount')">
                  <template slot-scope="scope">
                    <template v-if="scope.row.edit">
                        <el-input class="edit-input" v-model="scope.row.amount"></el-input>
                    </template>
                    <span v-else>{{ scope.row.amount }}</span>
                </template>
                </el-table-column>
                <el-table-column prop="cost" :label="$t('stage.cost')">
                  <template slot-scope="scope">
                    <template v-if="scope.row.edit">
                        <el-input class="edit-input" v-model="scope.row.cost"></el-input>
                    </template>
                    <span v-else>{{ scope.row.cost }}</span>
                </template>
                </el-table-column>
                <el-table-column :label="$t('global.actions')" min-width="50">
                   <template slot-scope="scope">
                  <div v-if="scope.row.edit">
                    <el-button type="success" @click="confirmEdit(scope.row)" size="small" icon="el-icon-circle-check-outline">Ok</el-button>
                    <el-button class='cancel-btn' size="small" icon="el-icon-refresh" type="warning" @click="cancelEdit(scope.row)">Cancel</el-button>
                  </div>
                  <div v-else>
                    <el-button type="info" @click='scope.row.edit=!scope.row.edit' size="small" icon="el-icon-edit"></el-button>
                    <router-link :to="'/staff/edit/'+scope.row.id_staff">
                      <el-button type="primary" size="small" icon="el-icon-edit"></el-button>
                    </router-link>
                     <router-link :to="'/staff/view/'+scope.row.id_staff">
                      <el-button type="default" size="small" icon="el-icon-view"></el-button>
                    </router-link>
                    <el-button type="danger" @click='handleDelete(scope.row.id_staff)' size="small" icon="el-icon-delete"></el-button>
                  </div>
                </template>
            </el-table-column>
            </el-table>
            
        </el-form>
    </div>
</template>

<script>
import { fetchStageInformation } from '@/api/stage'
import { updateStagecost, createStagecost, deleteStagecost } from '@/api/stagecost'

export default {
  name: 'cost-detail',
  data() {
    return {
      loading: true,
      postForm: { event: '', stage: '' },
      tableData: [{
        id: '12987122',
        name: 'Tom',
        amount1: '234',
        cost: '3.2',
        amount: 10
      }, {
        id: '12987123',
        name: 'Tom2',
        amount1: '165',
        cost: '4.43',
        amount: 12
      }, {
        id: '12987124',
        name: 'To3m',
        amount1: '324',
        amount2: '1.9',
        amount3: 9
      }, {
        id: '12987125',
        name: 'To4m',
        amount1: '621',
        amount2: '2.2',
        amount3: 17
      }, {
        id: '12987126',
        name: 'To5m',
        amount1: '539',
        amount2: '4.1',
        amount3: 15
      }]
    }
  },
  created() {
    const id = this.$route.params && this.$route.params.id
    this.fetchData(id)
  },
  methods: {
    fetchData(id) {
      this.loading = true
      fetchStageInformation(id).then(response => {
        if (response.status === 200) {
          this.postForm = {
            event: response.data.data.event ? response.data.data.event.data.name : '',
            stage: response.data.data.name
          }
        }
      }).catch(err => {
        if (err.response.status === 404) {
          this.$router.push({ path: '/404', replace: true, query: { noGoBack: true }})
        }
      }).finally(() => {
        this.loading = false
      })
    },
    cancelEdit(row) {
      row.name = row.originalName
      row.email = row.originalEmail
      row.contact = row.originalContact
      row.edit = false
      this.$message({
        message: this.$t('global.restoreInformation'),
        type: 'warning'
      })
    },
    handleDelete(id) {
      this.$confirm(this.$t('global.deleteQuestion'), 'Warning', {
        confirmButtonText: 'OK',
        cancelButtonText: this.$t('global.cancel'),
        type: 'warning'
      }).then(() => {
        deleteStagecost(id).then(resp => {
          if (resp.status === 204) {
            this.$message({
              type: 'success',
              message: this.$t('global.deleteSuccess')
            })
            this.getList()
          }
        }).catch(err => {
          this.$message.error(this.$t('global.deleteCancel') + err.message)
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: this.$t('global.deleteCancel')
        })
      })
    },
    createRow() {
      const data = {
        name: '',
        amount: 0,
        cost: 0,
        edit: false
      }
      createStagecost(this.postForm.stage, data).then(response => {
        if (response.status === 200) {
          this.tableData.push(data)
        }
      }).catch(err => {
        console.log(err)
      })
    },
    confirmEdit(row) {
      const data = {
        name: row.name,
        email: row.email,
        contact: row.contact,
        userid: row.id_user
      }
      updateStagecost(row.id_staff, data).then(response => {
        if (response.status === 200) {
          this.$notify({
            title: 'Success',
            message: 'Updated',
            type: 'success',
            duration: 2000
          })
          row.originalName = row.name
          row.originalEmail = row.email
          row.originalContact = row.contact
        }
      }).catch(err => {
        console.log(err)
        row.name = row.originalName
        row.email = row.originalEmail
        row.contact = row.originalContact
      }).finally(fin => {
        row.edit = false
      })
    },
    getSummaries(param) {
      const { columns, data } = param
      const sums = []
      columns.forEach((column, index) => {
        if (index === 0) {
          sums[index] = 'Total'
          return
        }
        const values = data.map(item => Number(item[column.property]))
        if (!values.every(value => isNaN(value))) {
          sums[index] = values.reduce((prev, curr) => {
            const value = Number(curr)
            if (!isNaN(value)) {
              return prev + curr
            } else {
              return prev
            }
          }, 0) + ' €'
        } else {
          sums[index] = '-'
        }
      })

      return sums
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "src/styles/mixin.scss";
.pull-left{
  float: left;
}
.pull-right {
  float: right;
}
 h2 {
    color: #595959;
  }
  h3 {
    color: #737373;
    margin-top: 0px;
  }
  .blackfont{
    color: #606266 !important;
   -webkit-text-fill-color: #606266 !important;
  }
</style>