<template>
    <div class="background-container">
        <div class="content-container" v-loading="contentLoad">
            <h2 v-if="this.isEdit">{{$t('event.titleEdit')}} {{postForm.name}}</h2>
            <h2 v-else>{{$t('event.titleCreate')}}</h2>
            <div v-if="this.activePane == 1">
                <el-form :model="postForm" :rules="rules" ref="postForm">
                    <el-form-item :label="$t('event.name')" prop="name">
                        <el-input v-model="postForm.name"></el-input>
                    </el-form-item>
                    <el-form-item :label="$t('global.dateRange')" prop="daterange">
                        <el-date-picker v-model="postForm.daterange" format="yyyy-MM-dd HH:mm" value-format="yyyy-MM-dd HH:mm" type="datetimerange" range-separator="-" :start-placeholder="$t('global.dateStart')" :end-placeholder="$t('global.dateEnd')" style="width:100%"></el-date-picker>
                    </el-form-item>
                    <el-form-item :label="$t('route.Promoter')">
                        <el-button type="primary" class="addbutton" @click="showNewPromoter = true">
                            <i class="el-icon-plus"></i> {{$t('route.CreatePromoter')}}
                        </el-button>
                        <el-select class="custom-select" style="margin-top:10px;" v-model="postForm.promoter" filterable remote :placeholder="$t('global.search')" :loading="promoterloading" :remote-method="getRemotePromoterList">
                            <el-option v-for="(item) in promoterListOptions" :key="item.id_promoter" :label="item.name" :value="item.id_promoter"></el-option>
                        </el-select>

                        <div class="custom-select-actions">
                            <router-link :to="{path: '/mycontact/promoter/edit/'+postForm.promoter}" v-show="postForm.promoter">
                                <el-button>
                                    <i class="el-icon-edit"></i>
                                </el-button>
                            </router-link>
                        </div>
                    </el-form-item>

                    <el-form-item :label="$t('event.socials')">
                        <div style="clear:left">
                            <a :href="postForm.website" target="_blank" v-if="postForm.website">
                                <el-button style="background-color:#606060;color:#ffffff" size="mini">
                                    <svg-icon icon-class="website" />
                                </el-button>
                            </a>
                            <a :href="postForm.facebook" target="_blank" v-if="postForm.facebook">
                                <el-button style="background-color:#3b5998;color:#ffffff" size="mini">
                                    <svg-icon icon-class="facebookoutline" />
                                </el-button>
                            </a>
                            <a :href="postForm.twitter" target="_blank" v-if="postForm.twitter">
                                <el-button style="background-color:#1da1f2;color:#ffffff" size="mini">
                                    <svg-icon icon-class="twitteroutline" />
                                </el-button>
                            </a>
                            <a :href="postForm.instagram" target="_blank" v-if="postForm.instagram">
                                <el-button style="background-color:#000000;color:#ffffff" size="mini">
                                    <svg-icon icon-class="instagram" />
                                </el-button>
                            </a>
                            <a :href="postForm.youtube" target="_blank" v-if="postForm.youtube">
                                <el-button style="background-color:#db4437;color:#ffffff" size="mini">
                                    <svg-icon icon-class="youtube" />
                                </el-button>
                            </a>
                            <el-button @click="showSocial = true">{{$t('event.socials')}}</el-button>
                        </div>
                    </el-form-item>
                    <el-dialog :title="$t('event.socials')" :visible.sync="showSocial" :close-on-click-modal="true">
                        <el-form-item :label="$t('global.website')" prop="website">
                            <el-input v-model="postForm.website"></el-input>
                        </el-form-item>
                        <el-form-item :label="$t('global.facebook')" prop="facebook">
                            <el-input v-model="postForm.facebook">
                                <i slot="prefix" class="el-input__icon">
                  <svg-icon icon-class="facebookoutline" />
                </i>
                            </el-input>
                        </el-form-item>
                        <el-form-item :label="$t('global.instagram')" prop="instagram">
                            <el-input v-model="postForm.instagram">
                                <i slot="prefix" class="el-input__icon">
                  <svg-icon icon-class="instagram" />
                </i>
                            </el-input>
                        </el-form-item>
                        <el-form-item :label="$t('global.twitter')" prop="twitter">
                            <el-input v-model="postForm.twitter">
                                <i slot="prefix" class="el-input__icon">
                  <svg-icon icon-class="twitteroutline" />
                </i>
                            </el-input>
                        </el-form-item>
                        <el-form-item :label="$t('global.youtube')" prop="youtube">
                            <el-input v-model="postForm.youtube">
                                <i slot="prefix" class="el-input__icon">
                  <svg-icon icon-class="youtube" />
                </i>
                            </el-input>
                        </el-form-item>

                        <span slot="footer" class="dialog-footer">
              <el-button @click="showSocial = false">{{$t('global.cancel')}}</el-button>
              <el-button type="primary" @click="showSocial = false">Ok</el-button>
            </span>
                    </el-dialog>
                    <el-form-item :label="$t('global.address')" prop="address">
                        <el-input v-model="postForm.address"></el-input>
                    </el-form-item>
                    <el-row>
                        <label class="el-form-item__label">{{$t('global.map')}}</label>
                    </el-row>
                    <el-form-item label="Location">
                        <Gmap-autocomplete :value="searchaddress" class="el-input__inner searchmap" @place_changed="setPlace"></Gmap-autocomplete>
                        <GmapMap :center="center" :zoom="12" style="width: 100%; height: 300px">
                            <GmapMarker v-if="place" :position="place" :draggable="true" @dragend="updateplace"></GmapMarker>
                        </GmapMap>
                    </el-form-item>
                    <div class="editor-container">
                        <el-row>
                            <label class="el-form-item__label">{{$t('global.description')}}</label>
                        </el-row>
                        <el-row>
                            <Tinymce :height="250" ref="editor" v-model="postForm.content" />
                        </el-row>
                    </div>
                    <el-row>
                        <label class="el-form-item__label" style="width:100%">{{$t('global.image')}}</label>
                    </el-row>
                    <el-form-item>
                        <Upload v-model="postForm.cover" :tempUrl="postForm.tempcover" @changeUrl="postForm.tempcover = $event" />
                    </el-form-item>

                    <el-form-item :label="$t('event.status')">
                        <el-select v-model="postForm.status" :placeholder="$t('global.select')" style="width:100%">
                            <el-option v-for="item in statusList" :key="item.key" :label="$t('event.'+item.value)" :value="item.key"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item class="pull-right">
                        <el-button @click="activePane = 2" icon="el-icon-arrow-right el-icon-right">{{$t('route.Stage')}}</el-button>
                        <el-button v-loading="loading" type="success" @click="submitForm">{{$t('global.save')}}</el-button>
                    </el-form-item>
                </el-form>
            </div>
            <div v-if="this.activePane == 2">
                <div style="margin-bottom: 20px;">
                    <el-button @click="addTab('Palco')">{{$t('route.CreateStage')}}</el-button>
                    <el-button @click="showNewManager= true">{{$t('route.CreateManager')}}</el-button>
                    <el-button @click="showNewArtist= true">{{$t('route.CreateArtist')}}</el-button>
                    <el-button @click="showNewTechnician = true">{{$t('route.CreateTechnician')}}</el-button>
                    <el-button @click="showNewRestaurant = true">{{$t('route.CreateRestaurant')}}</el-button>
                    <el-button @click="showNewHotel = true">{{$t('route.CreateHotel')}}</el-button>
                </div>
                <el-tabs v-model="editableTabsStage" type="border-card">
                    <el-tab-pane v-for="(item, index) in editableTabs" :key="item.id_stage" :label="item.name" :name="'Palco' + item.id_stage">
                        <el-form :model="item" :ref="'stageForm'+index+''" :rules="rules2">
                            <el-form-item :label="$t('global.name')" prop="name">
                                <el-input v-model="item.name"></el-input>
                            </el-form-item>
                            <el-form-item :label="$t('stage.length')" prop="length">
                                <el-input v-model="item.length"></el-input>
                            </el-form-item>
                            <el-form-item :label="$t('stage.width')" prop="width">
                                <el-input v-model="item.width"></el-input>
                            </el-form-item>
                            <el-form-item :label="$t('global.description')" prop="description">
                                <el-input v-model="item.description" type="textarea" autosize></el-input>
                            </el-form-item>
                                    <div v-for="(art,indx) in item.artist" :key="art.data.id_artist + indx">
                                        <el-card class="box-card" style="margin-bottom: 10px;">
                                            <el-form-item :label="$t('route.Artist')" >
                                                <el-select class="custom-select" style="margin-top:10px" v-model="art.data.id_artist" filterable remote :placeholder="$t('global.search')" :loading="artistloading" :remote-method="getRemoteArtistList">
                                                    <el-option v-for="(item) in artistListOptions" :key="item.id_artist" :label="item.name" :value="item.id_artist"></el-option>
                                                </el-select>
                                                <div class="custom-select-actions-btn">
                                                    <router-link :to="{path: '/mycontact/artist/edit/'+art.data.id_artist}" v-show="art.data.id_artist">
                                                        <el-button>
                                                            <i class="el-icon-edit"></i>
                                                        </el-button>
                                                    </router-link>
                                                </div>
                                            </el-form-item>
                                            <el-form-item v-if="art.data.id_artist">
                                                <h4>Agenda</h4>
                                               <el-row :gutter="10">
                                                    <el-col :span="4">
                                                        <el-date-picker v-model="art.data.newschedule.start" placeholder="Início" format="yyyy-MM-dd HH:mm" value-format="yyyy-MM-dd HH:mm" type="datetime" default-time="12:00" style="width:100%"></el-date-picker>
                                                    </el-col>
                                                    <el-col :span="4">
                                                        <el-date-picker v-model="art.data.newschedule.end" placeholder="Fim" format="yyyy-MM-dd HH:mm" value-format="yyyy-MM-dd HH:mm" type="datetime" default-time="13:00" style="width:100%"></el-date-picker>
                                                    </el-col>
                                                    <el-col :span="10">
                                                        <el-autocomplete v-model="art.data.newschedule.desc" placeholder="Descrição" :fetch-suggestions="querySearch" :trigger-on-focus="false" style="width:100%" @keyup.enter="addscheduleartist(art.data.newschedule, art.data.id_artist, item.id_stage, art.data)"></el-autocomplete>
                                                    </el-col>
                                                    <el-col :span="6">
                                                      <el-button type="primary" @click="openmodalhotel(art,art.data.newschedule)">Hotel</el-button>
                                                      <el-button type="primary" @click="openmodalrestaurant(art,art.data.newschedule)">Restaurante</el-button>
                                                      <el-button type="success" @click="addscheduleartist(art.data.newschedule, art.data.id_artist, item.id_stage, art.data)">Adicionar</el-button>
                                                    </el-col>
                                                </el-row>
                                                <el-table :data="art.data.schedule" style="width: 100%">
                                                    <el-table-column label="Início" width="220">
                                                        <template slot-scope="scope">
                                                            <template v-if="scope.row.edit">
                                                                <el-date-picker v-model="scope.row.date_begin" placeholder="Início" format="yyyy-MM-dd HH:mm" value-format="yyyy-MM-dd HH:mm" type="datetime" style="width:100%"></el-date-picker>
                                                            </template>
                                                            <span v-else>{{ $moment(scope.row.date_begin).format('YYYY-MM-DD HH:mm') }}</span>
                                                        </template>
                                                    </el-table-column>
                                                    <el-table-column label="Fim" width="220">
                                                        <template slot-scope="scope">
                                                            <span v-if="scope.row.date_end">{{ $moment(scope.row.date_end).format('YYYY-MM-DD HH:mm') }}</span>
                                                            <span v-else>-</span>
                                                        </template>
                                                    </el-table-column>
                                                    <el-table-column label="Descrição">
                                                        <template slot-scope="scope">{{ scope.row.name }}</template>
                                                    </el-table-column>
                                                    <el-table-column label="">
                                                        <template slot-scope="scope" >
                                                          <el-button v-if="scope.row.id_hotel" @click="openmodalhoteledit(scope.row)">Hotel</el-button>
                                                          <el-button v-if="scope.row.id_restaurant"  @click="openmodalrestaurantedit(scope.row)">Restaurante</el-button>
                                                        </template>
                                                    </el-table-column>
                                                    <el-table-column align="right">
                                                        <template slot-scope="scope">
                                                            <el-button size="mini" type="danger" @click="deleteData2(scope.row, art.data)">
                                                                <i class="el-icon-delete"></i>
                                                            </el-button>
                                                            <!-- <el-button size="mini" type="primary" @click="handleEdit2(scope, art.data)">
                                                                <i class="el-icon-edit"></i>
                                                            </el-button> -->
                                                        </template>
                                                    </el-table-column>
                                                </el-table>
                                               
                                            </el-form-item>
                                            <el-row>
                                                <el-button @click="saveArtist(item, art)" type="success" size="mini" style="float:right;margin-left:10px;">{{$t('global.save')}}</el-button>
                                                <el-button @click="removeArtist(item, art)" type="danger" size="mini" style="float:right">{{$t('global.remove')}}</el-button>
                                            </el-row>
                                        </el-card>
                                    </div>
                                    <el-form-item>
                                        <el-button type="primary" @click="addArtist(item)">{{$t('stage.addArtist')}}</el-button>
                                    </el-form-item>
                               <div v-for="(tech,indx) in item.technician" :key="tech.data.id_technician + indx">
                                <el-card class="box-card" style="margin-bottom: 10px;">
                                  <el-form-item :label="$t('route.Technician')" >
                                    <el-select class="custom-select" style="margin-top:10px" v-model="tech.data.id_technician" filterable remote :placeholder="$t('global.search')" :loading="technicianloading" :remote-method="getRemoteTechnicianList">
                                      <el-option v-for="(item) in technicianListOptions" :key="item.id_technician" :label="item.name" :value="item.id_technician"></el-option>
                                    </el-select>
                                    <div class="custom-select-actions-btn">
                                      <router-link :to="{path: '/mycontact/technician/edit/'+tech.data.id_technician}" v-show="tech.data.id_technician">
                                        <el-button>
                                          <i class="el-icon-edit"></i>
                                        </el-button>
                                      </router-link>
                                    </div>
                                  </el-form-item>
                                  <el-form-item label="Tipo">
                                    <el-input placeholder="" v-model="tech.data.type"></el-input>
                                  </el-form-item>
                                  <el-form-item v-if="tech.data.id_technician">
                                    <h4>Agenda</h4>
                                    <el-row :gutter="10">
                                      <el-col :span="4">
                                        <el-date-picker v-model="tech.data.newschedule.sttech" placeholder="Início" format="yyyy-MM-dd HH:mm" value-format="yyyy-MM-dd HH:mm" type="datetime" default-time="12:00" style="width:100%"></el-date-picker>
                                      </el-col>
                                      <el-col :span="4">
                                        <el-date-picker v-model="tech.data.newschedule.end" placeholder="Fim" format="yyyy-MM-dd HH:mm" value-format="yyyy-MM-dd HH:mm" type="datetime" default-time="13:00" style="width:100%"></el-date-picker>
                                      </el-col>
                                      <el-col :span="10">
                                        <el-autocomplete v-model="tech.data.newschedule.desc" placeholder="Descrição" :fetch-suggestions="querySearch" :trigger-on-focus="false" style="width:100%" @keyup.enter="addscheduletechnician(tech.data.newschedule, tech.data.id_technician, item.id_stage, tech.data)"></el-autocomplete>
                                      </el-col>
                                      <el-col :span="6">
                                        <el-button type="primary" @click="openmodalhotel(tech,tech.data.newschedule)">Hotel</el-button>
                                        <el-button type="primary" @click="openmodalrestaurant(tech,tech.data.newschedule)">Restaurante</el-button>
                                        <el-button type="success" @click="addscheduletechnician(tech.data.newschedule, tech.data.id_technician, item.id_stage, tech.data)">Adicionar</el-button>
                                      </el-col>
                                    </el-row>
                                    <el-table :data="tech.data.schedule" style="width: 100%">
                                      <el-table-column label="Início" width="220">
                                        <template slot-scope="scope">
                                          <template v-if="scope.row.edit">
                                            <el-date-picker v-model="scope.row.date_begin" placeholder="Início" format="yyyy-MM-dd HH:mm" value-format="yyyy-MM-dd HH:mm" type="datetime" style="width:100%"></el-date-picker>
                                          </template>
                                          <span v-else>{{ $moment(scope.row.date_begin).format('YYYY-MM-DD HH:mm') }}</span>
                                        </template>
                                      </el-table-column>
                                      <el-table-column label="Fim" width="220">
                                        <template slot-scope="scope">
                                          <span v-if="scope.row.date_end">{{ $moment(scope.row.date_end).format('YYYY-MM-DD HH:mm') }}</span>
                                          <span v-else>-</span>
                                        </template>
                                      </el-table-column>
                                      <el-table-column label="Descrição">
                                        <template slot-scope="scope">{{ scope.row.name }}</template>
                                      </el-table-column>
                                      <el-table-column label="">
                                        <template slot-scope="scope" >
                                          <el-button v-if="scope.row.id_hotel" @click="openmodalhoteledit(scope.row)">Hotel</el-button>
                                          <el-button v-if="scope.row.id_restaurant"  @click="openmodalrestaurantedit(scope.row)">Restaurante</el-button>
                                        </template>
                                      </el-table-column>
                                      <el-table-column align="right">
                                        <template slot-scope="scope">
                                          <el-button size="mini" type="danger" @click="deleteData(scope.row, tech.data)">
                                            <i class="el-icon-delete"></i>
                                          </el-button>
                                          <!-- <el-button size="mini" type="primary" @click="handleEdit2(scope, tech.data)">
                                            <i class="el-icon-edit"></i>
                                          </el-button> -->
                                        </template>
                                      </el-table-column>
                                    </el-table>
                                    
                                  </el-form-item>
                                  <el-row>
                                    <el-button @click="saveTechnician(item, tech)" type="success" size="mini" style="float:right;margin-left:10px;">{{$t('global.save')}}</el-button>
                                    <el-button @click="removeTechnician(item, tech)" type="danger" size="mini" style="float:right">{{$t('global.remove')}}</el-button>
                                  </el-row>
                                </el-card>
                              </div>
                              <el-form-item>
                                <el-button type="primary" @click="addTechnician(item)">{{$t('stage.addTechnician')}}</el-button>
                              </el-form-item>
                            <el-form-item class="pull-right" style="margin-top:10px">
                                <el-button type="danger" @click="removeTab(item)">Apagar</el-button>
                                <el-button v-loading="loading" type="success" @click="submitFormStage('stageForm'+index+'',item)">{{$t('global.save')}}</el-button>
                            </el-form-item>
                        </el-form>
                    </el-tab-pane>
                </el-tabs>
            </div>
            <el-dialog :visible.sync="showNewPromoter" width="95%" :title="$t('route.Promoter')">
                <CreatePromoter :modal="true" :default-layout="false" @close-modal="showNewPromoter = false"></CreatePromoter>
            </el-dialog>
            <el-dialog :visible.sync="showNewTechnician" width="95%" :title="$t('route.Technician')" @modalinteract="modalInteract">
                <CreateTechnician :modal="true" :default-layout="false"></CreateTechnician>
            </el-dialog>
            <el-dialog :visible.sync="showNewManager" width="95%" :title="$t('route.Manager')" @modalinteract="modalInteract">
                <CreateManager :modal="true" :default-layout="false"></CreateManager>
            </el-dialog>
            <el-dialog :visible.sync="showNewArtist" width="95%" :title="$t('route.Artist')" @modalinteract="modalInteract">
                <CreateArtist :modal="true" :default-layout="false"></CreateArtist>
            </el-dialog>
            <el-dialog :visible.sync="showNewRestaurant" width="95%" :title="$t('route.Restaurant')" @modalinteract="modalInteract">
                <CreateRestaurant :modal="true" :default-layout="false"></CreateRestaurant>
            </el-dialog>
            <el-dialog :visible.sync="showNewHotel" width="95%" :title="$t('route.Hotel')" @modalinteract="modalInteract">
                <CreateHotel :modal="true" :default-layout="false"></CreateHotel>
            </el-dialog>
            <el-dialog title="Hotel" :visible.sync="dialogFormHotel" :before-close="handleCancel" width="80%">
                <el-form ref="dataForm" :model="temp" label-position="left" label-width="80px">
                    <el-row>
                        <el-form-item :label="$t('route.Hotel')">
                            <el-select v-model="temp.hotel" clearable filterable remote :placeholder="$t('global.search')" :loading="hotelloading" :remote-method="getRemoteHotelList" style="width:100%">
                                <el-option v-for="(item) in hotelListOptions" :key="item.id_hotel" :label="item.name" :value="item.id_hotel"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-row>
                    <el-row :gutter="10">
                        <el-col :span="8">
                            <el-form-item :label="$t('hotel.single')">
                                <el-input-number v-model="temp.hotelsingle" controls-position="right" style="width:100%" :min="0" :max="300"></el-input-number>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item :label="$t('hotel.double')">
                                <el-input-number v-model="temp.hoteldouble" controls-position="right" style="width:100%" :min="0" :max="300"></el-input-number>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item :label="$t('hotel.twin')">
                                <el-input-number v-model="temp.hoteltwin" controls-position="right" style="width:100%" :min="0" :max="300"></el-input-number>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-form-item :label="$t('global.comment')">
                        <el-input v-model="temp.comment" type="textarea" autosize></el-input>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="handleCancel" style="margin-right:15px">{{$t('global.cancel')}}</el-button>
                    <el-button type="primary" @click="savehotel" v-loading="loadingtemp">Ok</el-button>
                </div>
            </el-dialog>
            <el-dialog title="Restaurante" :visible.sync="dialogFormRestaurant" :before-close="handleCancel2" width="80%">
                <el-form ref="dataForm2" :model="temp2" label-position="left" label-width="80px">
                    <el-form-item :label="$t('route.Restaurant')">
                        <el-select v-model="temp2.restaurant" clearable filterable remote :placeholder="$t('global.search')" :loading="restaurantloading" :remote-method="getRemoteRestaurantList" style="width:100%">
                            <el-option v-for="(item) in restaurantListOptions" :key="item.id_restaurant" :label="item.name" :value="item.id_restaurant"></el-option>
                        </el-select>
                    </el-form-item>
                     <el-form-item :label="$t('global.comment')">
                        <el-input v-model="temp2.comment" type="textarea" autosize></el-input>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="handleCancel2" style="margin-right:15px">{{$t('global.cancel')}}</el-button>
                    <el-button type="primary" @click="saverestaurant" v-loading="loadingtemp2">Ok</el-button>
                </div>
            </el-dialog>
            <el-button @click=" activePane-- " v-show="this.activePane > 1" icon="el-icon-arrow-left" style="margin-top:10px">{{$t('global.back')}}</el-button>
        </div>
    </div>
</template>

<script>
import Tinymce from '@/components/Tinymce'
import Upload from '@/components/Upload/singleImage'
import MDinput from '@/components/MDinput'
import {
  fetchEventStages,
  createEvent,
  updateEvent,
  statusList
} from '@/api/event'
import { searchPromoter } from '@/api/promoter'
import { createStage, deleteStage, updateStage } from '@/api/stage'
import { searchTechnician } from '@/api/technician'
import {
  updateStageTechnician,
  deleteStageTechnician,
  createStageTechnician
} from '@/api/stagetechnician'
import {
  updateStageArtist,
  deleteStageArtist,
  createStageArtist
} from '@/api/stageartist'
import {
  createScheduleArtist,
  fetchStageScheduleArtist,
  deleteScheduleArtist,
  fetchScheduleStageArtist
} from '@/api/scheduleartist'
import {
  createScheduleTechnician,
  fetchStageScheduleTechnician,
  deleteScheduleTechnician,
  fetchScheduleStageTechnician
} from '@/api/scheduletechnician'
import { searchArtist } from '@/api/artist'
import { searchHotel } from '@/api/hotel'
import { searchRestaurant } from '@/api/restaurant'
import CreateRestaurant from '@/views/restaurant/create'
import CreateHotel from '@/views/hotel/create'
import CreatePromoter from '@/views/mycontact/promoter/create'
import CreateTechnician from '@/views/mycontact/technician/create'
import CreateArtist from '@/views/mycontact/artist/create'
import CreateManager from '@/views/mycontact/manager/create'

const defaultForm = {
  status: 1,
  name: '', // Article title
  content: '', // article content
  daterange: '',
  promoter: '',
  production: '',
  cover: '',
  tempcover: '',
  id: undefined,
  address: '',
  website: '',
  facebook: '',
  youtube: '',
  twitter: '',
  instagram: ''
}
const defautlSchedule = {
  start: '',
  end: '',
  desc: '',
  comment: null,
  id_hotel: null,
  id_restaurant: null,
  single: null,
  twin: null,
  double: null
}
export default {
  name: 'Detail',
  components: {
    Tinymce,
    MDinput,
    Upload,
    CreatePromoter,
    CreateTechnician,
    CreateArtist,
    CreateHotel,
    CreateRestaurant,
    CreateManager
  },
  props: {
    isEdit: {
      type: Boolean,
      default: false
    },
    isModal: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      activePane: 1,
      statusList,
      dialogFormHotel: false,
      dialogFormRestaurant: false,
      loadingtemp: false,
      loadingtemp2: false,
      showSocial: false,
      showNewPromoter: false,
      showNewTechnician: false,
      showNewManager: false,
      showNewArtist: false,
      showNewRestaurant: false,
      showNewHotel: false,
      technicianloading: false,
      technicianListOptions: [],
      artistloading: false,
      artistListOptions: [],
      hotelListOptions: [],
      hotelloading: false,
      restaurantListOptions: [],
      restaurantloading: false,
      postForm: Object.assign({}, defaultForm),
      loading: false,
      contentLoad: true,
      searchaddress: '',
      place: undefined,
      center: { lat: 40.6698914, lng: -7.9655772 },
      promoterloading: false,
      promoterListOptions: [],
      temp: {
        id: undefined,
        name: ''
      },
      temp2: {
        id: undefined,
        name: '',
        type: ''
      },
      rules: {
        name: [
          { required: true, message: this.$t('global.empty'), trigger: 'blur' }
        ],
        daterange: [
          { required: true, message: 'Invalid Date', trigger: 'blur' }
        ],
        promoter: [
          { required: true, message: this.$t('global.empty'), trigger: 'blur' }
        ]
      },
      rules2: {
        name: [
          { required: true, message: this.$t('global.empty'), trigger: 'blur' }
        ]
      },
      editableTabsStage: '0',
      editableTabs: [],
      tabIndex: 1,
      sugestions: [
        { value: 'Chegada' },
        { value: 'Line Check' },
        { value: 'Soundcheck' }
      ]
    }
  },
  created() {
    if (this.isEdit) {
      const id = this.$route.params && this.$route.params.id
      this.fetchData(id)
    } else {
      this.postForm = Object.assign({}, defaultForm)
      this.contentLoad = false
    }
  },
  methods: {
    openmodalrestaurant(element, item) {
      this.temp2 = {
        newschedule: item,
        artist: (element.data.artist) ? element.data.artist[0] : undefined,
        technician: (element.data.technician) ? element.data.technician[0] : undefined,
        restaurant: (element.restaurant) ? element.restaurant.data.id_restaurant : undefined,
        comment: (item.restaurant) ? item.restaurant.comment : ''
      }
      this.dialogFormRestaurant = true
    },
    openmodalhotel(element, item) {
      this.temp = {
        newschedule: item,
        artist: (element.data.artist) ? element.data.artist[0] : undefined,
        technician: (element.data.technician) ? element.data.technician[0] : undefined,
        hotel: (element.hotel) ? element.hotel.data.id_hotel : undefined,
        hotelsingle: (item.hotel) ? item.hotel.single : 0,
        hoteldouble: (item.hotel) ? item.hotel.double : 0,
        hoteltwin: (item.hotel) ? item.hotel.twin : 0,
        comment: (item.hotel) ? item.hotel.comment : ''
      }
      this.dialogFormHotel = true
    },
    openmodalhoteledit(element) {
      this.temp = {
        hotel: (element.hotel.data) ? element.hotel.data.name : element.hotel[0].name,
        hotelsingle: element.single,
        hoteldouble: element.double,
        hoteltwin: element.twin,
        comment: element.comment
      }
      this.dialogFormHotel = true
    },
    openmodalrestaurantedit(element) {
      this.temp2 = {
        restaurant: element.restaurant.data.name || element.restaurant[0].name,
        comment: element.comment
      }
      this.dialogFormRestaurant = true
    },
    savehotel() {
      this.temp.newschedule.hotel = {
        comment: this.temp.comment,
        hotel: this.temp.hotel,
        hoteldouble: this.temp.hoteldouble,
        hotelsingle: this.temp.hotelsingle,
        hoteltwin: this.temp.hoteltwin
      }
      this.dialogFormHotel = false
    },
    saverestaurant() {
      this.temp2.newschedule.restaurant = {
        comment: this.temp2.comment,
        restaurant: this.temp2.restaurant
      }
      this.dialogFormRestaurant = false
    },
    addTab(targetName) {
      createStage({ id_event: this.postForm.id, name: targetName })
        .then(response => {
          if (response.status === 201 && response.data.data.id_stage) {
            this.editableTabs.push({
              title: response.data.data.name,
              name: 'Palco ' + this.tabIndex,
              id_stage: response.data.data.id_stage,
              technician: [],
              artist: []
            })
            this.editableTabsStage = 'Palco' + response.data.data.id_stage
            this.tabIndex++
          }
        })
        .catch(err => {
          console.log(err)
        })
        .finally(fin => {
          this.loading = false
        })
    },
    removeTab(targetName) {
      this.$confirm(this.$t('global.deleteQuestion'), 'Warning', {
        confirmButtonText: 'OK',
        cancelButtonText: this.$t('global.cancel'),
        type: 'warning'
      })
        .then(() => {
          const tabs = this.editableTabs
          let activeName = this.editableTabsStage
          deleteStage(targetName.id_stage)
            .then(() => {
              if (activeName === targetName) {
                tabs.forEach((tab, index) => {
                  if (tab.name === targetName) {
                    const nextTab = tabs[index + 1] || tabs[index - 1]
                    if (nextTab) {
                      activeName = nextTab.name
                    }
                  }
                })
              }
              this.editableTabsStage = activeName
              this.editableTabs = tabs.filter(
                tab => tab.id_stage !== targetName.id_stage
              )
              this.$message({
                type: 'success',
                message: this.$t('global.deleteSuccess')
              })
            })
            .catch(err => {
              console.log(err)
              this.$message({
                type: 'info',
                message: this.$t('global.deleteCancel') + err.message
              })
            })
        })
        .catch(err => {
          console.log(err)
          this.$message({
            type: 'info',
            message: this.$t('global.deleteCancel')
          })
        })
    },
    fetchData(id) {
      fetchEventStages(id)
        .then(response => {
          if (response.status === 200 && response.data.data.id_event) {
            this.postForm = {
              status: Number(response.data.data.status),
              name: response.data.data.name,
              content: response.data.data.description,
              daterange: response.data.data.date_begin
                ? [response.data.data.date_begin, response.data.data.date_end]
                : '',
              id: response.data.data.id_event,
              promoter: response.data.data.promoter
                ? response.data.data.promoter.data.id_promoter
                : '',
              production: response.data.data.production
                ? response.data.data.production.data.id_production
                : '',
              address: response.data.data.address,
              facebook: response.data.data.facebook,
              instagram: response.data.data.instagram,
              twitter: response.data.data.twitter,
              youtube: response.data.data.youtube,
              website: response.data.data.website,
              cover: response.data.data.cover || '',
              tempcover: response.data.data.coverlink || ''
            }
            this.editableTabsStage = response.data.data.stage.data[0]
              ? response.data.data.stage.data[0].name
              : ''
            this.editableTabs =
              response.data.data.stage.data.length > 0
                ? response.data.data.stage.data
                : []
            this.tabIndex = response.data.data.stage.data.length
            this.editableTabs.forEach(element => {
              element.technician.forEach(e => {
                if (
                  this.technicianListOptions.findIndex(
                    x => x.id_technician === e.data.technician[0].id_technician
                  ) === -1
                ) {
                  this.technicianListOptions.push({
                    id_technician: e.data.technician[0].id_technician,
                    name: e.data.technician[0].name
                  })
                }
              })
              element.artist.forEach(e => {
                if (
                  this.artistListOptions.findIndex(
                    x => x.id_artist === e.data.artist[0].id_artist
                  ) === -1
                ) {
                  this.artistListOptions.push({
                    id_artist: e.data.artist[0].id_artist,
                    name: e.data.artist[0].name
                  })
                }
              })
            })
            if (response.data.data.promoter) {
              this.promoterListOptions.push({
                id_promoter: response.data.data.promoter.data.id_promoter,
                name: response.data.data.promoter.data.name
              })
            }
            this.place = {
              lat: Number.parseFloat(response.data.data.latitude),
              lng: Number.parseFloat(response.data.data.longitude)
            }
            this.center = {
              lat: Number.parseFloat(response.data.data.latitude),
              lng: Number.parseFloat(response.data.data.longitude)
            }
            console.log(this.editableTabs)
            this.contentLoad = false
          }
        })
        .catch(err => {
          console.error(err)
        })
    },
    modalInteract(e) {},
    getRemotePromoterList(query) {
      this.promoterloading = true
      if (query !== '') {
        searchPromoter({ name: query })
          .then(response => {
            if (response.data.length === 0) return
            this.promoterListOptions = response.data.promoters
          })
          .finally(() => {
            this.promoterloading = false
          })
      }
    },
    getRemoteTechnicianList(query) {
      this.technicianloading = true
      if (query !== '') {
        searchTechnician({ name: query })
          .then(response => {
            if (response.data.length === 0) return
            this.technicianListOptions = response.data.technicians
          })
          .finally(() => {
            this.technicianloading = false
          })
      }
    },
    getRemoteTechniciantList(query) {
      this.technicianloading = true
      if (query !== '') {
        searchTechnician({ name: query })
          .then(response => {
            if (response.data.length === 0) return
            this.technicianListOptions = response.data.technicians
          })
          .finally(() => {
            this.technicianloading = false
          })
      }
    },
    getRemoteArtistList(query) {
      this.artistloading = true
      if (query !== '') {
        searchArtist({ name: query })
          .then(response => {
            if (response.data.length === 0) return
            this.artistListOptions = response.data.artists
          })
          .finally(() => {
            this.artistloading = false
          })
      }
    },
    getRemoteHotelList(query) {
      this.hotelloading = true
      if (query !== '') {
        searchHotel({ name: query })
          .then(response => {
            if (response.data.length === 0) return
            this.hotelListOptions = response.data.hotels
          })
          .finally(() => {
            this.hotelloading = false
          })
      }
    },
    getRemoteRestaurantList(query) {
      this.restaurantloading = true
      if (query !== '') {
        searchRestaurant({ name: query })
          .then(response => {
            if (response.data.length === 0) return
            this.restaurantListOptions = response.data.restaurants
          })
          .finally(() => {
            this.restaurantloading = false
          })
      }
    },
    removeTechnician(item, technician) {
      this.$confirm(this.$t('global.deleteQuestion'), 'Warning', {
        confirmButtonText: 'OK',
        cancelButtonText: this.$t('global.cancel'),
        type: 'warning'
      })
        .then(() => {
          if (typeof technician.data.id_stage_artist !== 'undefined') {
            deleteStageTechnician(technician.data.id_stage_technician).then(
              resp => {
                var index = item.technician.indexOf(technician)
                if (index !== -1) {
                  item.technician.splice(index, 1)
                }
                this.$notify({
                  title: 'Success',
                  message: 'Eliminado',
                  type: 'success',
                  duration: 2000
                })
              }
            )
          } else {
            var index = item.technician.indexOf(technician)
            if (index !== -1) {
              item.technician.splice(index, 1)
            }
            this.$notify({
              title: 'Success',
              message: 'Eliminado',
              type: 'success',
              duration: 2000
            })
          }
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: this.$t('global.deleteCancel')
          })
        })
    },
    saveTechnician(item, technician) {
      if (technician.data.id_stage_technician) {
        updateStageTechnician(technician.data.id_stage_technician, {
          id_technician: technician.data.id_technician,
          type: technician.data.type,
          id_stage: item.id_stage
        })
          .then(resp => {
            technician.data.id_technician = resp.data.data.id_technician
            technician.data.type = resp.data.data.type
            this.$notify({
              title: 'Success',
              message: 'Created successfully',
              type: 'success',
              duration: 2000
            })
          })
          .catch(reject => {
            this.$notify({
              title: 'Error',
              message: reject.message,
              type: 'error',
              duration: 2000
            })
          })
      } else {
        createStageTechnician({
          id_technician: technician.data.id_technician,
          type: technician.data.type,
          id_stage: item.id_stage
        })
          .then(resp => {
            technician.data.id_technician = resp.data.data.id_technician
            technician.data.type = resp.data.data.type
            this.$notify({
              title: 'Success',
              message: 'Created successfully',
              type: 'success',
              duration: 2000
            })
          })
          .catch(reject => {
            this.$notify({
              title: 'Error',
              message: reject.message,
              type: 'error',
              duration: 2000
            })
          })
      }
    },
    addTechnician(item) {
      const newschedule = Object.assign({}, defautlSchedule)
      item.technician.push({
        data: {
          id_technician: null,
          name: '',
          type: '',
          schedule: [],
          newschedule: newschedule
        }
      })
    },
    removeArtist(item, artist) {
      this.$confirm(this.$t('global.deleteQuestion'), 'Warning', {
        confirmButtonText: 'OK',
        cancelButtonText: this.$t('global.cancel'),
        type: 'warning'
      })
        .then(() => {
          if (typeof artist.data.id_stage_artist !== 'undefined') {
            deleteStageArtist(artist.data.id_stage_artist).then(resp => {
              var index = item.artist.indexOf(artist)
              if (index !== -1) {
                item.artist.splice(index, 1)
              }
              this.$notify({
                title: 'Success',
                message: 'Eliminado',
                type: 'success',
                duration: 2000
              })
            })
          } else {
            var index = item.artist.indexOf(artist)
            if (index !== -1) {
              item.artist.splice(index, 1)
            }
            this.$notify({
              title: 'Success',
              message: 'Eliminado',
              type: 'success',
              duration: 2000
            })
          }
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: this.$t('global.deleteCancel')
          })
        })
    },
    saveArtist(item, artist) {
      if (artist.data.id_stage_artist) {
        updateStageArtist(artist.data.id_stage_artist, {
          id_artist: artist.data.id_artist,
          id_stage: item.id_stage
        })
          .then(resp => {
            artist.data.id_artist = resp.data.data.id_artist
            artist.data.type = resp.data.data.type
            this.$notify({
              title: 'Success',
              message: 'Created successfully',
              type: 'success',
              duration: 2000
            })
          })
          .catch(reject => {
            this.$notify({
              title: 'Error',
              message: reject.message,
              type: 'error',
              duration: 2000
            })
          })
      } else {
        createStageArtist({
          id_artist: artist.data.id_artist,
          id_stage: item.id_stage
        })
          .then(resp => {
            artist.data.id_artist = resp.data.data.id_artist
            artist.data.type = resp.data.data.type
            this.$notify({
              title: 'Success',
              message: 'Created successfully',
              type: 'success',
              duration: 2000
            })
          })
          .catch(reject => {
            this.$notify({
              title: 'Error',
              message: reject.message,
              type: 'error',
              duration: 2000
            })
          })
      }
    },
    addArtist(item) {
      const newschedule = Object.assign({}, defautlSchedule)
      item.artist.push({
        data: {
          id_artist: null,
          name: '',
          schedule: [],
          newschedule: newschedule
        }
      })
    },
    getScheduleTechnician(stage, technician) {
      fetchStageScheduleTechnician(stage.id_stage, technician.id_technician)
        .then(resp => {
          technician.schedule.data = resp.data.data
        })
        .catch(reject => {
          this.$notify({
            title: 'Error',
            message: reject.message,
            type: 'error',
            duration: 2000
          })
        })
    },
    deleteData(id, item) {
      const aux = id.id_schedule_technician
      if (id.id_schedule_technician) {
        this.$confirm(this.$t('global.deleteQuestion'), 'Warning', {
          confirmButtonText: 'OK',
          cancelButtonText: this.$t('global.cancel'),
          type: 'warning'
        })
          .then(() => {
            deleteScheduleTechnician(id.id_schedule_technician)
              .then(resp => {
                this.$message({
                  type: 'success',
                  message: this.$t('global.deleteSuccess')
                })
                fetchScheduleStageTechnician(aux).then(res => {
                  if (res.status === 200) {
                    item.schedule = res.data.data
                  }
                })
              })
              .catch(err => {
                this.$message.error(
                  this.$t('global.deleteCancel') + err.message
                )
              })
          })
          .catch(() => {
            this.$message({
              type: 'info',
              message: this.$t('global.deleteCancel')
            })
          })
      }
    },
    handleCancel() {
      this.temp = {}
      this.dialogFormHotel = false
    },
    handleEdit(indx, row) {},
    getScheduleArtist(stage, artist) {
      fetchStageScheduleArtist(stage.id_stage, artist.id_artist)
        .then(resp => {
          artist.schedule.data = resp.data.data
        })
        .catch(reject => {
          this.$notify({
            title: 'Error',
            message: reject.message,
            type: 'error',
            duration: 2000
          })
        })
    },
    deleteData2(id, item) {
      const aux = id.id_stage_artist
      if (id.id_schedule_artist) {
        this.$confirm(this.$t('global.deleteQuestion'), 'Warning', {
          confirmButtonText: 'OK',
          cancelButtonText: this.$t('global.cancel'),
          type: 'warning'
        })
          .then(() => {
            deleteScheduleArtist(id.id_schedule_artist)
              .then(resp => {
                this.$message({
                  type: 'success',
                  message: this.$t('global.deleteSuccess')
                })
                fetchScheduleStageArtist(aux).then(res => {
                  if (res.status === 200) {
                    item.schedule = res.data.data
                  }
                })
              })
              .catch(err => {
                this.$message.error(
                  this.$t('global.deleteCancel') + err.message
                )
              })
          })
          .catch(() => {
            this.$message({
              type: 'info',
              message: this.$t('global.deleteCancel')
            })
          })
      }
    },
    handleCancel2() {
      this.temp2 = {}
      this.dialogFormRestaurant = false
    },
    handleEdit2(item, data) {
      const indx = item.$index
      data.schedule[indx].originalData = Object.assign({}, item.row)
      data.schedule[indx].edit = true
    },
    submitForm() {
      this.$refs.postForm.validate(valid => {
        if (valid) {
          this.loading = true
          const data = this.postForm
          data.promoter = this.postForm.promoter ? this.postForm.promoter : null
          data.startdate = this.postForm.daterange[0]
          data.enddate = this.postForm.daterange[1]
          data.latitude = this.place ? this.place.lat : ''
          data.longitude = this.place ? this.place.lng : ''
          if (this.isEdit) {
            updateEvent(this.postForm.id, data)
              .then(response => {
                if (response.status === 200) {
                  this.$notify({
                    title: 'Success',
                    message: 'Updated',
                    type: 'success',
                    duration: 2000
                  })
                }
              })
              .catch(err => {
                console.log(err)
              })
              .finally(fin => {
                this.loading = false
              })
          } else {
            createEvent(data)
              .then(response => {
                if (response.status === 201 && response.data.data.id_event) {
                  this.$notify({
                    title: 'Success',
                    message: 'Created',
                    type: 'success',
                    duration: 2000
                  })
                }
              })
              .catch(err => {
                console.log(err)
              })
              .finally(fin => {
                this.loading = false
              })
          }
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    submitFormStage(formName, stage) {
      updateStage(stage.id_stage, {
        description: stage.description,
        length: stage.length,
        width: stage.width,
        name: stage.name
      })
        .then(resp => {
          if (resp.status === 200) {
            this.$notify({
              title: 'Success',
              message: 'Updated',
              type: 'success',
              duration: 2000
            })
          }
        })
        .catch(err => {
          this.$notify({
            title: 'Error',
            message: err.message,
            type: 'error',
            duration: 2000
          })
        })
    },
    updateplace(event) {
      this.place = { lat: event.latLng.lat(), lng: event.latLng.lng() }
    },
    setPlace(place) {
      if (place.geometry) {
        const pos = {
          lat: place.geometry.location.lat(),
          lng: place.geometry.location.lng()
        }
        this.place = pos
        this.center = pos
      }
    },
    handleSetUpChange(value) {
      this.temp.setup = this.$moment(this.temp.daterange[0])
        .subtract(value, 'm')
        .format('DD-MM-YYYY HH:mm')
    },
    handleSetUpChange2(value) {
      this.temp2.setup = this.$moment(this.temp2.daterange[0])
        .subtract(value, 'm')
        .format('DD-MM-YYYY HH:mm')
    },
    querySearch(queryString, cb) {
      const links = this.sugestions
      const results = queryString
        ? links.filter(this.createFilter(queryString))
        : links
      // call callback function to return suggestions
      cb(results)
    },
    createFilter(queryString) {
      return link => {
        return (
          link.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0
        )
      }
    },
    addscheduleartist(element, artist, stage, schedule) {
      const data = {
        name: element.desc,
        startdate: element.start,
        enddate: element.end,
        artist: artist,
        stage: stage,
        id_restaurant: (element.restaurant) ? element.restaurant.restaurant : null,
        id_hotel: (element.hotel) ? element.hotel.hotel : null,
        double: (element.hotel) ? element.hotel.hoteldouble : null,
        single: (element.hotel) ? element.hotel.hotelsingle : null,
        twin: (element.hotel) ? element.hotel.hoteltwin : null,
        commenthotel: (element.hotel) ? element.hotel.comment : null,
        commentrestaurant: (element.restaurant) ? element.restaurant.comment : null
      }
      createScheduleArtist(data)
        .then(resp => {
          if (resp.status === 201) {
            this.$notify({
              title: 'Success',
              message: 'Updated',
              type: 'success',
              duration: 2000
            })
            this.temp = {}
            this.temp2 = {}
            fetchScheduleStageArtist(resp.data.data.id_stage_artist).then(
              res => {
                console.log(res.data)
                if (res.status === 200) {
                  schedule.schedule = res.data.data
                }
              }
            )
          }
        })
        .catch(err => {
          this.$notify({
            title: 'Error',
            message: err.message,
            type: 'error',
            duration: 2000
          })
        })
    },
    addscheduletechnician(element, technician, stage, schedule) {
      const data = {
        name: element.desc,
        startdate: element.start,
        enddate: element.end,
        technician: technician,
        stage: stage,
        id_restaurant: (element.restaurant) ? element.restaurant.restaurant : null,
        id_hotel: (element.hotel) ? element.hotel.hotel : null,
        double: (element.hotel) ? element.hotel.hoteldouble : null,
        single: (element.hotel) ? element.hotel.hotelsingle : null,
        twin: (element.hotel) ? element.hotel.hoteltwin : null,
        commenthotel: (element.hotel) ? element.hotel.comment : null,
        commentrestaurant: (element.restaurant) ? element.restaurant.comment : null
      }
      createScheduleTechnician(data)
        .then(resp => {
          if (resp.status === 201) {
            this.$notify({
              title: 'Success',
              message: 'Updated',
              type: 'success',
              duration: 2000
            })
            this.temp = {}
            this.temp2 = {}
            fetchScheduleStageTechnician(resp.data.data.id_stage_technician).then(
              res => {
                if (res.status === 200) {
                  schedule.schedule = res.data.data
                }
              }
            )
          }
        })
        .catch(err => {
          this.$notify({
            title: 'Error',
            message: err.message,
            type: 'error',
            duration: 2000
          })
        })
    }
  }
}
</script>
<style rel="stylesheet/scss" lang="scss" scoped>
@import "src/styles/mixin.scss";
.background-container {
  padding: 15px 35px 20px 35px;
  h2 {
    color: #595959;
  }
  .pull-right {
    float: right;
  }
  .content-container {
    padding: 5px 20px 50px 20px;
    background-color: #fff;
    border-color: rgba(0, 0, 0, 0.05);
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.05);
  }
  .searchmap {
    position: absolute;
    z-index: 1;
    margin-left: 200px;
    margin-top: 10px;
    max-width: 50%;
  }
  .steps-action {
    width: 100%;
  }
  .custom-select {
    width: 100%;
  }
  .custom-select-actions {
    :not(:first-child) {
      margin-left: -3px;
    }
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .custom-select-actions-btn {
    position: absolute;
    right: 0;
    top: 46px;
  }
  .addbutton {
    float: right;
  }
  .divider-horizontal {
    display: block;
    height: 1px;
    width: 100%;
    margin: 38px 0 24px 0;
    background-color: #dcdfe6;
    position: relative;
    .divider-text {
      left: 20px;
      transform: translateY(-50%);
      position: absolute;
      background-color: #fff;
      padding: 0 20px;
      font-weight: 500;
      color: #303133;
      font-size: 14px;
    }
    .divider-button {
      position: absolute;
      right: 0;
      top: -20px;
    }
  }
}
</style>
