<template>
  <div v-loading="loadingdetail">
    <el-row>
      <div class="pull-left">
        <h3>{{detail.name}}</h3>
      </div>
    </el-row>

    <el-row :gutter="20">
      <el-col :xs="24" :sm="12" :md="8">
        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span>{{$t('global.information')}}</span>
          </div>
          <div class="box-card-header card-img">
            <img v-if="detail.coverlink" :src="detail.coverlink" />
            <div v-else class="noimg">
              <i class="noimg-icon el-icon-picture-outline"></i>
            </div>
          </div>
        </el-card>
      </el-col>
      <el-col :xs="24" :sm="12" :md="8">
        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span>{{$t('global.information')}}</span>
          </div>
          <div class="text item">
            <svg-icon icon-class="identity" />
            {{detail.name}}
          </div>
          <div class="text item">
            <svg-icon icon-class="schedule" />
            <span
              v-if="detail.date_begin"
            >{{detail.date_begin | parseTime('{y}-{m}-{d} {h}:{i}')}} - {{detail.date_end | parseTime('{y}-{m}-{d} {h}:{i}')}}</span>
          </div>
          <div class="text item">
            <svg-icon icon-class="promoter" />
            <span v-if="detail.promoter">{{detail.promoter.data.name}}</span>
          </div>
          <div class="text item">
            <svg-icon icon-class="production" />
            <span v-if="detail.production">{{detail.production.data.name}}</span>
          </div>
          <div class="text item">
            <svg-icon icon-class="website" />
            <span>{{detail.website}}</span>
          </div>
          <div class="text item">
            <svg-icon icon-class="facebookoutline" />
            <span>{{detail.facebook}}</span>
          </div>
          <div class="text item">
            <svg-icon icon-class="instagram" />
            <span>{{detail.instagram}}</span>
          </div>
          <div class="text item">
            <svg-icon icon-class="twitteroutline" />
            <span>{{detail.twitter}}</span>
          </div>
          <div class="text item">
            <svg-icon icon-class="youtube" />
            <span>{{detail.youtube}}</span>
          </div>
        </el-card>
      </el-col>
      <el-col :xs="24" :sm="12" :md="8">
        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span>{{$t('global.location')}}</span>
          </div>
          <div class="text item">
            <GmapMap
              :center="center"
              :zoom="12"
              :options="{disableDefaultUI:false}"
              style="width: 100%; height: 292px"
            >
              <GmapMarker v-if="place" :position="place" :draggable="false"></GmapMarker>
            </GmapMap>
          </div>
          <div class="text item">
            <svg-icon icon-class="marker" />
            <span>{{detail.address}}</span>
            <a v-if="place" :href="'https://maps.google.com/?q='+place.lat+','+place.lng" target="_blank" class="link"> Abrir no Maps</a>
          </div>
        </el-card>
      </el-col>
    </el-row>
    <el-row v-for="stage in detail.stage.data" :key="stage.id_stage" class="margin-card">
      <el-card class="box-card">
        <div slot="header" class="clearfix">
          <span>{{stage.name}}</span>
          <span v-if="stage.lenght != ''">{{$t('stage.length')}}: {{stage.lenght}}</span>
          <span v-if="stage.width != ''">{{$t('stage.width')}}: {{stage.width}}</span>
           <el-button @click="roadbook(stage.id_stage)" style="float:right;margin-left:10px" type="primary">PDF</el-button>
        </div>
        <div class="text item">{{$t('global.description')}}: {{stage.description}} </div>
        <el-row  v-for="art in stage.artist" :key="'artist'+art.data.id_artist" :gutter="10">
             <el-col :md="8" :sm="24" >
              <table style="width:100%">
                <thead>
                  <tr>
                    <th colspan="2" style="">{{$t('route.Artist')}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{$t('global.name')}}</td>
                    <td>{{art.data.artist[0].name}}</td>
                  </tr>
                  <tr>
                    <td >{{$t('global.email')}}</td>
                    <td><a :href="'mailto:'+art.data.artist[0].email" class="link">{{art.data.artist[0].email}}</a></td>
                  </tr>
                  <tr>
                    <td >{{$t('global.contact')}}</td>
                    <td><a :href="'tel:'+art.data.artist[0].contact" class="link">{{art.data.artist[0].contact}}</a></td>
                  </tr>
                  <tr>
                    <td >{{$t('route.Manager')}}</td>
                    <td>{{art.data.artist[0].contact}}</td>
                  </tr>
                </tbody>
              </table>
            </el-col>
            <el-col  :md="16" :sm="24" >
              <table  style="width:100%">
                 <thead>
                  <tr>
                    <th colspan="4">{{$t('global.schedule')}}</th>
                  </tr>
                  <tr>
                    <th>Início</th>
                    <th>Fim</th>
                    <th>Descrição</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                 <tr v-for="(schedule,i) in art.data.schedule" :key="'sartist'+i" >
                   <td>{{ $moment(schedule.date_begin).format('YYYY-MM-DD HH:mm') }}</td>
                   <td>{{ $moment(schedule.date_end).format('YYYY-MM-DD HH:mm') }}</td>
                   <td>{{schedule.name}}</td>
                   <td>
                     <span v-if="schedule.hotel">Hotel: {{schedule.hotel.data.name}}</span>
                   <span v-if="schedule.restaurant">Restaurante: {{schedule.restaurant.data.name}}</span>
                   </td>
                 </tr>
                </tbody>
              </table>
            </el-col>
        </el-row>
         <el-row  v-for="techn in stage.technician" :key="'technician'+techn.data.id_technician" :gutter="10">
             <el-col :md="8" :sm="24" >
              <table >
                <thead>
                  <tr>
                    <th colspan="2" style="">{{$t('route.Technician')}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{$t('global.name')}}</td>
                    <td>{{techn.data.technician[0].name}}</td>
                  </tr>
                  <tr>
                    <td >{{$t('global.email')}}</td>
                    <td><a :href="'mailto:'+techn.data.technician[0].email" class="link">{{techn.data.technician[0].email}}</a></td>
                  </tr>
                  <tr>
                    <td >{{$t('global.contact')}}</td>
                    <td><a :href="'tel:'+techn.data.technician[0].contact" class="link">{{techn.data.technician[0].contact}}</a></td>
                  </tr>
                </tbody>
              </table>
            </el-col>
            <el-col  :md="16" :sm="24" >
              <table>
                 <thead>
                  <tr>
                    <th colspan="4">{{$t('global.schedule')}}</th>
                  </tr>
                  <tr>
                    <th>Início</th>
                    <th>Fim</th>
                    <th>Descrição</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                 <tr v-for="(schedule,i) in techn.data.schedule" :key="'stechnician'+i" >
                   <td>{{ $moment(schedule.date_begin).format('YYYY-MM-DD HH:mm') }}</td>
                   <td>{{ $moment(schedule.date_end).format('YYYY-MM-DD HH:mm') }}</td>
                   <td>{{schedule.name}}</td>
                   <td>
                     <span v-if="schedule.hotel">Hotel: {{schedule.hotel.data.name}}</span>
                   <span v-if="schedule.restaurant">Restaurante: {{schedule.restaurant.data.name}}</span>
                   </td>
                 </tr>
                </tbody>
              </table>
            </el-col>
            <div class="divider"></div>
        </el-row>
      </el-card>
    </el-row>
  </div>
</template>

<script>
import { statusList, fetchEventStages } from '@/api/event'
import { generateRoadbook } from '@/api/stage'
import 'element-ui/lib/theme-chalk/display.css'

export default {
  name: 'view-detail',
  data() {
    return {
      id: undefined,
      place: undefined,
      center: { lat: 40.6698914, lng: -7.9655772 },
      detail: {
        name: '',
        event: '',
        date_begin: '',
        date_end: '',
        status: '',
        promoter: '',
        production: '',
        stage: { data: [] }
      },
      loadingdetail: true,
      listLoading: true
    }
  },
  filters: {
    statusFilter(status) {
      const statusMap = {
        0: 'warning',
        1: 'success'
      }
      return statusMap[status]
    },
    statusName(status) {
      return statusList[status].value
    }
  },
  created() {
    this.id = this.$route.params && this.$route.params.id
    if (this.id) {
      this.getList(this.id)
    } else {
      this.$router.push({
        path: '/404',
        replace: true,
        query: { noGoBack: true }
      })
    }
  },
  methods: {
    getList(id) {
      this.loadingdetail = true
      fetchEventStages(id)
        .then(response => {
          if (response.status === 200) {
            this.detail = response.data.data
            this.place = {
              lat: Number.parseFloat(response.data.data.latitude),
              lng: Number.parseFloat(response.data.data.longitude)
            }
            this.center = {
              lat: Number.parseFloat(response.data.data.latitude),
              lng: Number.parseFloat(response.data.data.longitude)
            }
          }
          this.loadingdetail = false
        })
        .catch(err => {
          if (err.response.status === 404) {
            this.$router.push({
              path: '/404',
              replace: true,
              query: { noGoBack: true }
            })
          }
        })
    },
    roadbook(id) {
      generateRoadbook(id).then(response => {
        window.open(response.data.data.path, '_blank')
      }).catch(err => {
        if (err.response.status === 404) {
          this.$router.push({
            path: '/404',
            replace: true,
            query: { noGoBack: true }
          })
        }
      })
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "src/styles/mixin.scss";
.divider {
  border-top: 1px solid #909399;
    height: 1px;
}
h2 {
  color: #595959;
}
h3 {
  color: #737373;
  margin-top: 0px;
}
.text {
  font-size: 16px;
}
.item {
  margin-bottom: 18px;
  .svg-icon {
    margin-right: 5px;
    vertical-align: top;
  }
  .svg-icon.clean {
    vertical-align: -0.4em;
    margin-right: 0px;
  }
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: '';
}
.clearfix:after {
  clear: both;
}

.box-card {
  width: 100%;
}
.pull-right {
  float: right;
}  
.card-img {
  text-align: center;
}
.box-card-header {
  position: relative;

  img {
    width: auto;
    max-height: 347px;
    transition: all 0.2s linear;
    &:hover {
      transform: scale(1.1, 1.1);
      filter: contrast(130%);
    }
  }
  .noimg {
    max-width: 300px;
    padding: 14px;
    height: 300px;
    margin: auto;
    background-color: #304156;
    color: #ffffff;
    .noimg-icon {
      font-size: 60px;
      position: absolute;
      top: calc(50% - 30px);
      left: calc(50% - 30px);
    }
  }
}
.link {
  color: #006fff;
}
.margin-card {
  margin-top: 20px;
}
table {
  width: 100%;
  border-spacing: 5px;
  border-collapse: separate;
  thead {
    th {
      background-color: rgb(48, 65, 86);
      color: white;
    }
  }
  th, td {
   border-radius: 5px;
    background-color: #f3f3f3;
   padding: 5px;
}
}
@media only screen and (max-width: 768px) {
  .box-card {
    margin-top: 10px;
  }
}
</style>
