<template>
    <div class="login-container">
        <el-form class="login-form" autoComplete="on" :model="loginForm" :rules="loginRules" ref="loginForm" label-position="left"  @submit.native.prevent>
            <div class="title-container">
                <h3 class="title">{{$t('restore.title')}}</h3>
                <lang-select class="set-language"></lang-select>
            </div>
            <el-form-item prop="pass">
                <span class="svg-container">
          <svg-icon icon-class="password" />
        </span>
                <el-input :type="passwordType" v-model="loginForm.pass" autoComplete="on" :placeholder="$t('restore.password')"  @click.native.prevent="handleLogin"  />
                <span class="show-pwd" @click="showPwd">
          <svg-icon icon-class="eye" />
        </span>
            </el-form-item>
            <el-form-item prop="checkPass">
                <span class="svg-container">
          <svg-icon icon-class="password" />
        </span>
                <el-input :type="passwordType" v-model="loginForm.checkPass" autoComplete="on" :placeholder="$t('restore.passwordConfirmation')" @keyup.enter.native="handleLogin" />
                <span class="show-pwd" @click="showPwd">
          <svg-icon icon-class="eye" />
        </span>
            </el-form-item>
            <el-button type="primary" style="width:100%;margin-bottom:30px;" :loading="loading" @click.native.prevent="handleLogin">{{$t('restore.submit')}}</el-button>
            <el-row>
                <el-col :span="24">
                    <router-link to="/login" class="link-type"><a>{{$t('restore.login')}}</a></router-link>
                </el-col>
            </el-row>
        </el-form>
    </div>
</template>

<script>
import LangSelect from '@/components/LangSelect'
import { updatepassword } from '@/api/login'
import { Message } from 'element-ui'

export default {
  components: { LangSelect },
  name: 'restore',
  data() {
    const validatePass = (rule, value, callback) => {
      if (value === '' || value.length < 6) {
        callback(new Error('Please input the password'))
      } else {
        callback()
      }
    }
    const validatePass2 = (rule, value, callback) => {
      if (value === '' || value !== this.loginForm.pass) {
        callback(new Error('Two inputs don\'t match!'))
      } else {
        callback()
      }
    }
    return {
      loginForm: {
        pass: '',
        checkPass: ''
      },
      recover: '',
      passwordType: 'password',
      loading: false,
      loginRules: {
        pass: [{ required: true, trigger: 'blur', validator: validatePass }],
        checkPass: [{ required: true, validator: validatePass2, trigger: 'blur' }]
      }
    }
  },
  methods: {
    showPwd() {
      if (this.passwordType === 'password') {
        this.passwordType = ''
      } else {
        this.passwordType = 'password'
      }
    },
    handleLogin() {
      this.$refs.loginForm.validate(valid => {
        if (valid) {
          this.loading = true
          if (this.recover) {
            updatepassword({ password: this.loginForm.pass, password_confirmation: this.loginForm.checkPass, recover: this.recover }).then(result => {
              if (result.status === 200) {
                Message({
                  showClose: true,
                  message: 'Password changed.',
                  type: 'success',
                  duration: 5 * 1000
                })
                this.$router.push({ path: '/' })
              }
            }).catch(() => {
              this.loading = false
            })
          }
        } else {
          console.log('error submit!!')
          return false
        }
      })
    }
  },
  created() {
    if (this.$route.params.key) {
      this.recover = this.$route.params.key
    }
  },
  destroyed() {

  }
}
</script>

<style rel="stylesheet/scss" lang="scss">
  /*Corrigir plano de fundo de entrada não coordenado e descoloração do cursor */
  /* Detail see https://github.com/PanJiaChen/vue-element-admin/pull/927 */
 
  $bg:#283443;
  $light_gray:#eee;
  $cursor: #fff;

  @supports (-webkit-mask: none) and (not (cater-color: $cursor)) {
    .login-container .el-input input{
      color: $cursor;
      &::first-line {
        color: $light_gray;
      }
    }
  }

  /* reset element-ui css */
  .login-container {
    .el-input {
      display: inline-block;
      height: 47px;
      width: 85%;
      input {
        background: transparent;
        border: 0px;
        -webkit-appearance: none;
        border-radius: 0px;
        padding: 12px 5px 12px 15px;
        color: $light_gray;
        height: 47px;
        caret-color: $cursor;
        &:-webkit-autofill {
         // -webkit-box-shadow: 0 0 0px 1000px $bg inset !important;
          -webkit-text-fill-color: $cursor !important;
        }
      }
    }
    .el-form-item {
      border: 1px solid rgba(255, 255, 255, 0.1);
      background: rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      color: #454545;
    }
  }
</style>

<style rel="stylesheet/scss" lang="scss" scoped>
$bg:#2d3a4b;
$dark_gray:#889aa4;
$light_gray:#eee;

.login-container {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: $bg;
  .login-form {
    position: absolute;
    left: 0;
    right: 0;
    max-width: 520px;
    padding: 35px 35px 15px 35px;
    margin: 120px auto;
  }
  .tips {
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
    span {
      &:first-of-type {
        margin-right: 16px;
      }
    }
  }
  .svg-container {
    padding: 6px 5px 6px 15px;
    color: $dark_gray;
    vertical-align: middle;
    width: 30px;
    display: inline-block;
    &_login {
      font-size: 20px;
    }
  }
  .title-container {
    position: relative;
    .title {
      font-size: 26px;
      color: $light_gray;
      margin: 0px auto 40px auto;
      text-align: center;
      font-weight: bold;
    }
    .set-language {
      color: #fff;
      position: absolute;
      top: 5px;
      right: 0px;
    }
  }
  .show-pwd {
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 16px;
    color: $dark_gray;
    cursor: pointer;
    user-select: none;
  }
  .thirdparty-button {
    position: absolute;
    right: 35px;
    bottom: 28px;
  }
}
</style>
