<template>
  <table-view :upcoming='true'></table-view>
</template>

<script>
import TableView from './components/TableView'

export default {
  name: 'listRecentEvent',
  components: { TableView }
}
</script>

