<template>
     <div class="background-container">
        <div class="content-container">
            <h2>{{$t('route.ViewEvent')}}</h2>
            <view-detail></view-detail>
        </div>
    </div>
</template>
<script>
import ViewDetail from './components/ViewDetail'
import { createStage } from '@/api/stage'

export default {
  name: 'viewEvent',
  components: { ViewDetail },
  data() {
    return {
      loadingbtn: false
    }
  },
  methods: {
    newstage() {
      this.loadingbtn = true
      const data = { name: this.$t('route.Stage'), event: this.$route.params.id }
      createStage(data).then(response => {
        if (response.status === 201) {
          const idstage = response.data.data.id_stage
          this.$router.push({ path: `/stage/edit/${idstage}` })
        }
      }).finally(() => {
        this.loadingbtn = false
      })
    }
  }
}
</script>
<style lang="scss" scoped>
.background-container {
  padding: 10px;
  h2 {
    color: #595959;
  }
  .pull-right{
    float: right;
  }
  .content-container{
    padding: 5px;
    background-color: #fff;
    border-color: rgba(0,0,0,.05);
    box-shadow: 4px 4px 40px rgba(0,0,0,.05)
  }
}
</style>