<template>
  <detail :is-edit='false' :steps-tabs="stepstabs"></detail>
</template>

<script>
import Detail from './components/Detail'

export default {
  name: 'createStage',
  components: { Detail },
  data() {
    return {
      stepstabs: ['Step 1', 'Step 2']
    }
  }
}
</script>

