<template>
  <extend :steps-tabs="stepstabs"></extend>
</template>

<script>
import Extend from './components/Extend'

export default {
  name: 'extendStage',
  components: { Extend },
  data() {
    return {
      stepstabs: ['Step 1', 'Step 2']
    }
  }
}
</script>
